<template>
<div>
  <Types />
  <Variations />
</div>
</template>

<script>
import Types from './Types'
import Variations from './Variations'

export default {
  name: 'DemoAccordionDefinition',

  components: {
    Types,
    Variations,
  }
}
</script>
