<template>
<div>
  <su-segment basic id="example">
    <su-header tag="h2">Examples</su-header>

    <su-header tag="h4">Nested Accordions</su-header>
    <div>
      An accordion can have multiple levels of nested content. This content can either be in a nested <code>accordion</code> or simply another level of <code>title</code> and <code>content</code>
    </div>
    <su-segment basic>
      <su-accordion styled ref="$root">
        <su-title active>
          Level 1
        </su-title>
        <su-content active>
          Welcome to level 1

          <su-accordion ref="$level1">
            <su-title active>
              Level 1A
            </su-title>
            <su-content active>
              <p>Level 1A Contents</p>

              <su-accordion ref="$level1A">
                <su-title>Level 1A-A</su-title>
                <su-content>Level 1A-A Contents</su-content>

                <su-title>Level 1A-B</su-title>
                <su-content>Level 1A-B Contents</su-content>
              </su-accordion>
            </su-content>

            <su-title>Level 1B</su-title>
            <su-content>Level 1B</su-content>

            <su-title>Level 1C</su-title>
            <su-content>Level 1C</su-content>
          </su-accordion>
        </su-content>

        <su-title>Level 2</su-title>
        <su-content>
          <p>Welcome to level 2</p>

          <su-accordion ref="$level2">
            <su-title active>Level 2A</su-title>
            <su-content active>
              Level 2A Contents

              <su-accordion ref="$level2A">
                <su-title>2A-A</su-title>
                <su-content>2A-A Contents</su-content>

                <su-title>2A-B</su-title>
                <su-content>2A-B Contents</su-content>
              </su-accordion>
            </su-content>

            <su-title>Level 2B</su-title>
            <su-content>Level 2B Contents</su-content>

            <su-title>Level 2C</su-title>
            <su-content>Level 2C Contents</su-content>
          </su-accordion>
        </su-content>
      </su-accordion>
    </su-segment>

    <su-header tag="h4">Changing Trigger</su-header>
    <div>
      An accordion normally triggers when its title is clicked. However you can change the trigger selector to specify an element inside a title to use as an activator
    </div>
    <su-segment class="existing"><pre><code class="ui code javascript">&lt;su-accordion <span class="string">:settings</span>="{
    selector: {
      trigger: <span class="string">'.title .icon'</span>
    }
  }"&gt;</code></pre></su-segment>
    <su-segment basic>
      <su-accordion :settings="{
          selector: {
            trigger: '.title .icon'
          }
        }">
        <su-title active>What is a dog?</su-title>
        <su-content active>
          <p class="transition visible" style="display: block !important;">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
        </su-content>

        <su-title>What kinds of dogs are there?</su-title>
        <su-content>
          <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
        </su-content>

        <su-title>How do you acquire a dog?</su-title>
        <su-content>
          <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
          <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
        </su-content>
      </su-accordion>
    </su-segment>

    <su-header tag="h4">Form Fields</su-header>
    <div>
      An accordion can be used anywhere where content can be shown or hidden. For example, to show optional form fields.
    </div>
    <su-segment basic>
      <su-segment>
        <su-form fluid>
          <su-fields column="two">
            <su-field label="First Name">
              <su-input type="text" placeholder="First Name" />
            </su-field>
            <su-field label="Last Name">
              <su-input type="text" placeholder="Last Name" />
            </su-field>
          </su-fields>

          <su-accordion field>
            <su-title>Optional Details</su-title>
            <su-content>
              <su-field label="Maiden Name">
                <su-input type="text" placeholder="Maiden Name" />
              </su-field>
            </su-content>
          </su-accordion>

          <su-button color="secondary">Sign Up</su-button>
        </su-form>
      </su-segment>
    </su-segment>

    <su-header tag="h4">Accordion Menu</su-header>
    <div>
      An accordion can be used to create content drawers inside a menu
    </div>
    <su-segment basic>
      <su-accordion :menu="{ vertical: true }">
        <su-item>
          <su-title active>
            Size
          </su-title>
          <su-content active>
            <su-form>
              <su-fields grouped>
                <su-field v-for="s in [ 'Small', 'Medium', 'Large', 'X-Large' ]" :key="s">
                  <su-checkbox v-model="size"
                    name="size"
                    :val="s.toLowerCase()"
                    type="radio"
                    :label="s" />
                </su-field>
              </su-fields>
            </su-form>
          </su-content>
        </su-item>
        <su-item>
          <su-title>Colors</su-title>
          <su-content>
            <su-form>
              <su-fields grouped>
                <su-field v-for="c in [ 'Red', 'Orange', 'Green', 'Blue' ]" :key="c">
                  <su-checkbox v-model="color"
                    name="color"
                    type="checkbox"
                    :val="c.toLowerCase()"
                    :label="c" />
                </su-field>
              </su-fields>
            </su-form>
          </su-content>
        </su-item>
      </su-accordion>
    </su-segment>
  </su-segment>
</div>
</template>

<script>
export default {
  name: 'DemoAccordionExamples',

  data()  {
    return {
      size: null,
      color: []
    }
  }
}
</script>
