<template>
<section>
  <su-header element="h1">
    Accordion
    <su-header sub>
      An accordion allows users to toggle the display of sections of content
    </su-header>

    <su-menu column="4">
      <su-item v-for="tab in $tabs"
        :to="{ name: 'AccordionTab', params: { tab } }"
        :key="tab">
        {{tab}}
      </su-item>
    </su-menu>
  </su-header>

  <su-divider></su-divider>

  <keep-alive>
    <component :is="tabComponents[$route.params.tab]"></component>
  </keep-alive>
</section>
</template>

<script>
import Definition from './Definition'
import Examples from './Examples'
import Usage from './Usage'

export default {
  name: 'DemoAccordion',

  data()  {
    return {
      tabComponents: {
        Definition,
        Examples,
        Usage,
      }
    }
  }
}
</script>
