<template>
<div>
  <su-segment basic id="example">
    <su-header tag="h2">Usage</su-header>

    <su-divider />

    <su-header tag="h4">Initializing</su-header>
    <div>
      Accordion is initialized on pre-existing markup
    </div>
    <su-segment class="existing"><pre><code class="ui code javascript">&lt;su-accordion&gt;...&lt;/su-accordion&gt;</code></pre></su-segment>

    <su-header tag="h4">AJAX Content</su-header>
    <div>
      <p>Accordions use DOM Mutation Observers and delegated events to allow for easy compatibility with AJAX content, or content added after initialization.</p>
      <p>If the DOM tree changes the module will automatically call <code>module.refresh</code> and update the selector cache. Because events are bound on the parent module using delegated events, events will automatically fire on content added after initialization.</p>
      <p>If you change other attributes of the module without DOM insertion and need to update the cache you can do so by calling this module's <code>refresh</code> behavior. </p>
    </div>
    <su-segment class="existing"><pre><code class="ui code javascript">&lt;template&gt;
  &lt;su-accordion ref=<span class="string">"accordion"</span>&gt;
    ...
  &lt;/su-accordion&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  ...
  methods: {
    refresh() {
      ...
      this.$refs.accordion.refresh();
    }
  }
}
&lt;/script&gt;
</code></pre></su-segment>

    <su-header tag="h4">Behaviors</su-header>
    <div>
      Behaviors are short english phrases used for accessing specific functionality in Behaviors are accessible with Javascript using the syntax:
    </div>
    <su-segment class="existing"><pre><code class="ui code javascript">this.$refs.accordion[behavior](arg0, arg1, ...)</code></pre></su-segment>
  <su-table definition celled>
    <su-tbody>
      <su-tr>
        <su-td>refresh</su-td>
        <su-td>
          Refreshes all cached selectors and data
        </su-td>
      </su-tr>
      <su-tr>
        <su-td>open (index)</su-td>
        <su-td>
         	Opens accordion content at index
        </su-td>
      </su-tr>
      <su-tr>
        <su-td>close others</su-td>
        <su-td>
          Closes accordion content that are not active
        </su-td>
      </su-tr>
      <su-tr>
        <su-td>close (index)</su-td>
        <su-td>
          Closes accordion content at index
        </su-td>
      </su-tr>
      <su-tr>
        <su-td>toggle (index)</su-td>
        <su-td>
          Toggles accordion content at index
        </su-td>
      </su-tr>
    </su-tbody>
  </su-table>
  </su-segment>
</div>
</template>

<script>
export default {
  name: 'DemoAccordionUsage'
}
</script>
