<template>
<su-segment basic id="example">
  <su-header tag="h2">Variations</su-header>

  <su-divider />

  <su-header element="h4">Fluid</su-header>
  <div>
    An accordion can take up the width of its container
  </div>
  <su-segment basic>
    <su-accordion styled fluid>
      <su-title active>
        What is a dog?
      </su-title>
      <su-content active>
        <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
      </su-content>
      <su-title>
        What kinds of dogs are there?
      </su-title>
      <su-content>
        <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
      </su-content>
      <su-title>
        How do you acquire a dog?
      </su-title>
      <su-content>
        <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
        <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
      </su-content>
    </su-accordion>
  </su-segment>

  <su-header element="h4">Inverted</su-header>
  <div>
    An accordion can be formatted to appear on dark backgrounds
  </div>
  <su-segment basic>
    <su-segment inverted>
      <su-accordion inverted>
        <su-title active>
          What is a dog?
        </su-title>
        <su-content active>
          <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
        </su-content>
        <su-title>
          What kinds of dogs are there?
        </su-title>
        <su-content>
          <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
        </su-content>
        <su-title>
          How do you acquire a dog?
        </su-title>
        <su-content>
          <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
          <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
        </su-content>
      </su-accordion>
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
