<template>
<su-segment basic id="example">
  <su-header tag="h4">Attaching Events to other Elements</su-header>
  <div></div>
  <su-message>
    Checkbox can use the <code>attach events</code> behavior to attach events easily to other activating elements. This defaults to toggling, but other behaviors can be used as well.
  </su-message>
  <su-segment basic>
    <su-button class="toggle">Toggle</su-button>
    <su-button color="positive" class="check">Check</su-button>
    <su-button color="negative" class="uncheck">Uncheck</su-button>

    <su-grid stackable divided segment column="6" aligned="center">
      <su-column>
        <su-checkbox slider ref="$testCheckbox0">1</su-checkbox>
      </su-column>
      <su-column>
        <su-checkbox v-model="test2" toggle ref="$testCheckbox1">2</su-checkbox>
      </su-column>
      <su-column>
        <su-checkbox ref="$testCheckbox2">3</su-checkbox>
      </su-column>
      <su-column>
        <su-checkbox v-model="test4" slider ref="$testCheckbox3">4</su-checkbox>
      </su-column>
      <su-column>
        <su-checkbox toggle ref="$testCheckbox4">5</su-checkbox>
      </su-column>
      <su-column>
        <su-checkbox ref="$testCheckbox5">6</su-checkbox>
      </su-column>
    </su-grid>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'AttachingEventsToOtherElements',

  data()  {
    return {
      test2: true,
      test4: true,
    }
  },

  mounted() {
    for(let index = 0; index < 6; index++) {
      let $testCheckbox = this.$refs[`$testCheckbox${index}`];

      $testCheckbox.checkbox('attach events', '.toggle.button');
      $testCheckbox.checkbox('attach events', '.check.button', 'check');
      $testCheckbox.checkbox('attach events', '.uncheck.button', 'uncheck');
    }
  }
}
</script>
