<template>
<su-segment basic id="example">
  <su-header tag="h4">Checking Conditions</su-header>
  <div></div>
  <su-message>
    Checkboxes include four new callbacks <code>beforeChecked</code>, <code>beforeUnchecked</code>, <code>beforeDeterminate</code>,
    and <code>beforeIndeterminate</code>, returning <code>false</code> from these callbacks will cancel the action from
    occuring before the input value is updated.
  </su-message>
  <su-segment basic>
    <su-checkbox v-model="example"
      :settings="{
        beforeChecked: this.exampleBeforeChecked
      }"
      name="example"
      label="Maybe this will work" />
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'CheckingConditions',

  data()  {
    return {
      example: false
    }
  },

  methods: {
    exampleBeforeChecked() {
      let luckyPerson = (Math.random() < 0.5);

      return luckyPerson;
    }
  }
}
</script>
