<template>
<div>
  <su-header tag="h2">Examples</su-header>

  <UsingCallbacks />

  <div class="ui divider"></div>
  <GroupedCheckboxes />

  <div class="ui divider"></div>
  <CheckingConditions />

  <div class="ui divider"></div>
  <OneWayChoice />

  <div class="ui divider"></div>
  <AttachingEventsToOtherElements />
</div>
</template>

<script>
import UsingCallbacks from './UsingCallbacks.vue'
import GroupedCheckboxes from './GroupedCheckboxes.vue'
import CheckingConditions from './CheckingConditions.vue'
import OneWayChoice from './OneWayChoice.vue'
import AttachingEventsToOtherElements from './AttachingEventsToOtherElements.vue';

export default {
  name: 'DemoCheckboxExamples',

  components: {
    UsingCallbacks,
    GroupedCheckboxes,
    CheckingConditions,
    OneWayChoice,
    AttachingEventsToOtherElements
  },
}
</script>

