<template>
<su-segment basic id="example">
  <su-header tag="h4">Grouped Checkboxes</su-header>
  <div></div>
  <su-message>
    The <code>indeterminate</code> state can be used to represent a value that is neither checked or unchecked.

    This can be useful with groups where a "master" checkbox, should display the selections of several other checkboxes
  </su-message>
  <su-segment basic>
    <su-list celled relaxed>
      <su-item>
        <su-checkbox v-model="fruitAll"
          ref="$fruitAll"
          @checked="fruitAllChecked"
          @unchecked="fruitAllUnChecked"
          name="fruits"
          label="Fruits"
          class="master" />

          <su-list>
            <su-item v-for="fruit in fruits" :key="fruit.name">
              <su-checkbox v-model="fruit.checked"
                ref="$fruit"
                @change="fruitChange"
                :settings="{ fireOnInit: true }"
                :name="fruit.name"
                :label="fruit.name"
                class="child" />
            </su-item>
          </su-list>
      </su-item>
      <su-item>
        <su-checkbox v-model="vegetableAll"
          ref="$vegetableAll"
          @checked="vegetableAllChecked"
          @unchecked="vegetableAllUnChecked"
          name="vegetables"
          label="Vegetables"
          class="master" />
        <su-list>
          <su-item v-for="vegetable in vegetables" :key="vegetable.name">
            <su-checkbox v-model="vegetable.checked"
              ref="$vegetable"
              @change="vegetableChange"
              :settings="{ fireOnInit: true }"
              :name="vegetable.name"
              :label="vegetable.name"
              class="child" />
          </su-item>
        </su-list>
      </su-item>
    </su-list>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'GroupedCheckboxes',

  data()  {
    return {
      $fruitAll: null,
      fruitAll: false,

      $fruit: null,
      fruits: [
        { name: 'Apple', checked: false },
        { name: 'Orange', checked: false },
        { name: 'Pear', checked: false },
      ],

      $vegetableAll: null,
      vegetableAll: false,

      $vegetable: null,
      vegetables: [
        { name: 'Lettuce', checked: false },
        { name: 'Carrot', checked: false },
        { name: 'Spinach', checked: false },
      ],
    }
  },

  methods: {
    fruitAllChecked()  {
      this.$fruit.forEach($fruit => {
        $fruit.checkbox('check');
      });
    },
    fruitAllUnChecked()  {
      this.$fruit.forEach($fruit => {
        $fruit.checkbox('uncheck');
      });
    },
    fruitChange() {
      let allChecked = true,
        allUnchecked = true;

      this.fruits.forEach(fruit => {
        if(fruit.checked) {
          allUnchecked = false;
        } else {
          allChecked = false;
        }

        if(allChecked) {
          this.$fruitAll.checkbox('set checked');
        } else if(allUnchecked) {
          this.$fruitAll.checkbox('set unchecked');
        } else {
          this.$fruitAll.checkbox('set indeterminate');
        }
      });
    },

    vegetableAllChecked()  {
      this.$vegetable.forEach($vegetable => {
        $vegetable.checkbox('check');
      });
    },
    vegetableAllUnChecked()  {
      this.$vegetable.forEach($vegetable => {
        $vegetable.checkbox('uncheck');
      });
    },
    vegetableChange() {
      let allChecked = true,
        allUnchecked = true;

      this.vegetables.forEach(vegetable => {
        if(vegetable.checked) {
          allUnchecked = false;
        } else {
          allChecked = false;
        }

        if(allChecked) {
          this.$vegetableAll.checkbox('setChecked');
        } else if(allUnchecked) {
          this.$vegetableAll.checkbox('setUnchecked');
        } else {
          this.$vegetableAll.checkbox('setIndeterminate');
        }
      });
    },
  },

  mounted() {
    this.$fruit = this.$refs.$fruit;
    this.$fruitAll = this.$refs.$fruitAll;
    this.$vegetable = this.$refs.$vegetable;
    this.$vegetableAll = this.$refs.$vegetableAll;
  }
}
</script>
