<template>
<su-segment basic id="example">
  <su-header tag="h4">One-Way Choices</su-header>
  <div></div>
  <su-message>
    To make a user able to check a box, but unable to uncheck it, use the <code>uncheckable</code> setting.
    To always disable a checkbox, add the property <code>disabled</code> to your input.
    To make a checkbox read-only do not initialize it, or include the <code>read-only</code> class which will not allow events.
  </su-message>
  <su-segment basic>
    <su-form>
      <su-field>
        <su-checkbox v-model="demo1"
          id="demo1"
          label="Disabled"
          disabled
        />
      </su-field>
      <su-field>
        <su-checkbox v-model="demo2"
          id="demo2"
          label="Read-Only"
          readonly
        />
      </su-field>
      <su-field>
        <su-checkbox v-model="demo3"
          id="demo3"
          label="Uncheckable"
          :settings="{
            uncheckable: false
          }"
        />
      </su-field>
    </su-form>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'OneWayChoice',

  data()  {
    return {
      demo1: true,
      demo2: true,
      demo3: false
    }
  }
}
</script>
