<template>
<su-segment basic id="example">
  <su-header tag="h2">States</su-header>

  <su-divider />

  <su-header element="h4">Read-only</su-header>
  <div>
    A checkbox can be read-only and unable to change states
  </div>
  <su-segment basic>
    <su-checkbox readonly>
      Read Only
    </su-checkbox>
  </su-segment>

  <su-header element="h4">Disabled</su-header>
  <div>
    A checkbox can be read-only and unable to change states
  </div>
  <su-message info>
    A checkbox can be disabled by either setting the <code>disabled</code> attribute on the hidden input, or class disabled on the <code>ui checkbox</code>
  </su-message>
  <su-segment basic>
    <su-checkbox disabled>
      Disabled
    </su-checkbox>

    <su-divider hidden />

    <su-checkbox toggle disabled>
      Disabled
    </su-checkbox>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
