<template>
<su-segment basic id="example">
  <su-header tag="h2">Types</su-header>

  <su-divider />

  <su-header element="h4">Checkbox</su-header>
  <div>
    A standard checkbox
  </div>
  <su-segment basic>
    <su-checkbox name="example">
      Make my profile visible
    </su-checkbox>
  </su-segment>

  <su-header element="h4">Radio</su-header>
  <div>
    A checkbox can be formatted as a radio element. This means it is an exclusive option.
  </div>
  <su-segment basic>
    <su-checkbox type="radio" name="radio">
      Radio choice
    </su-checkbox>

    <su-divider hidden />

    <su-form>
      <su-fields inline>
        <label>How often do you use checkboxes?</label>
        <su-field v-for="r in [ 'Once a week', '2-3 times a week', 'Once a day', 'Twice a day' ]" :key="r">
          <su-checkbox type="radio" name="frequency">
            {{r}}
          </su-checkbox>
        </su-field>
      </su-fields>
    </su-form>

    <su-divider hidden />

    <su-form>
      <su-fields grouped>
        <label>How often do you use checkboxes?</label>
        <su-field v-for="r in [ 'Once a week', '2-3 times a week', 'Once a day', 'Twice a day' ]" :key="r">
          <su-checkbox type="radio" name="frequency">
            {{r}}
          </su-checkbox>
        </su-field>
      </su-fields>
    </su-form>
  </su-segment>

  <su-header element="h4">Slider</su-header>
  <div>
    A checkbox can be formatted to emphasize the current selection state
  </div>
  <su-segment basic>
    <su-checkbox slider name="newsletter">
      Accept terms and conditions
    </su-checkbox>

    <su-divider hidden />

    <su-form>
      <su-fields grouped>
        <label>Outbound Throughput</label>
        <su-field v-for="c in [ 20, 10, 5, 0 ]" :key="c">
          <su-checkbox slider name="throughput">
            {{c === 0 ? 'Unmetered' : `${c}mbps max`}}
          </su-checkbox>
        </su-field>
      </su-fields>
    </su-form>
  </su-segment>

  <su-header element="h4">Toggle</su-header>
  <div>
    A checkbox can be formatted to show an on or off choice
  </div>
  <su-segment basic>
    <su-checkbox toggle name="public">
      Subscribe to weekly newsletter
    </su-checkbox>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
