<template>
<su-segment basic id="example">
  <su-header tag="h4">Using Callbacks</su-header>
  <div></div>
  <su-message>
    Checkbox has two versions of each state change behavior to let you determine whether the call should trigger checkbox callbacks.

    Calling a behavior like <code>check</code> will trigger an elements callbacks, however using <code>set checked</code> will adjust the checkbox state without triggering callbacks

    This differentiation is important to differentiate between programmatic changes, and user-invoked changes to state.
  </su-message>
  <su-segment basic>
    <su-grid equal-width stretched>
      <su-column>
        <su-segment>
          <su-label attached="top right">Example</su-label>
          <su-checkbox
            v-model="cChecked"
            @checked="(context) => {
              this.$refs.$console.$el.innerHTML += ('onChecked called<br />');
            }"
            @unchecked="(context) => {
              this.$refs.$console.$el.innerHTML += ('onUnchecked called<br />');
            }"
            @enable="(context) => {
              this.$refs.$console.$el.innerHTML += ('onEnable called<br />');
            }"
            @disable="(context) => {
              this.$refs.$console.$el.innerHTML += ('onDisable called<br />');
            }"
            @determinate="(context) => {
              this.$refs.$console.$el.innerHTML += ('onDeterminate called<br />');
            }"
            @indeterminate="(context) => {
              this.$refs.$console.$el.innerHTML += ('onIndeterminate called<br />');
            }"
            @change="(context) => {
              this.$refs.$console.$el.innerHTML += ('onChange called<br />');
            }"
            ref="$checkbox"
            type="checkbox"
            label="Checkbox"
          />

          <su-divider />

          <su-checkbox
            v-model="rChecked"
            ref="$radio"
            type="radio"
            label="Radio"
          />
        </su-segment>
      </su-column>
      <su-column>
        <su-segment class="console" ref="$console">
          <su-label attached="top right">Console</su-label>
        </su-segment>
      </su-column>
      <su-column>
        <su-buttons vertical>
          <su-button @click="toggle">Toggle</su-button>
          <su-button @click="check">Check</su-button>
          <su-button @click="uncheck">Uncheck</su-button>
          <su-button @click="indeterminate">Indeterminate</su-button>
          <su-button @click="determinate">Determinate</su-button>
          <su-button @click="enable">Enable</su-button>
          <su-button @click="disable">Disable</su-button>
        </su-buttons>

        <su-divider />

        <su-buttons vertical>
          <su-button @click="setChecked">Set Checked</su-button>
          <su-button @click="setUnchecked">Set Unchecked</su-button>
          <su-button @click="setIndeterminate">Set Indeterminate</su-button>
          <su-button @click="setDeterminate">Set Determinate</su-button>
          <su-button @click="setEnabled">Set Enabled</su-button>
          <su-button @click="setDisabled">Set Disabled</su-button>
        </su-buttons>
      </su-column>
    </su-grid>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'UsingCallbacks',

  data()  {
    return {
      $checkbox: null,
      cChecked: false,

      $radio: null,
      rChecked: false,
    }
  },

  methods: {
    toggle()  {
      this.$checkbox.checkbox('toggle');
      this.$radio.checkbox('toggle');
    },
    check() {
      this.$checkbox.checkbox('check');
      this.$radio.checkbox('check');
    },
    uncheck() {
      this.$checkbox.checkbox('uncheck');
      this.$radio.checkbox('uncheck');
    },
    indeterminate() {
      this.$checkbox.checkbox('indeterminate');
      this.$radio.checkbox('indeterminate');
    },
    determinate() {
      this.$checkbox.checkbox('determinate');
      this.$radio.checkbox('determinate');
    },
    enable()  {
      this.$checkbox.checkbox('enable');
      this.$radio.checkbox('enable');
    },
    disable() {
      this.$checkbox.checkbox('disable');
      this.$radio.checkbox('disable');
    },
    setChecked()  {
      this.$checkbox.checkbox('set checked');
      this.$radio.checkbox('set checked');
    },
    setUnchecked()  {
      this.$checkbox.checkbox('set unchecked');
      this.$radio.checkbox('set unchecked');
    },
    setIndeterminate()  {
      this.$checkbox.checkbox('set indeterminate');
      this.$radio.checkbox('set indeterminate');
    },
    setDeterminate()  {
      this.$checkbox.checkbox('set determinate');
      this.$radio.checkbox('set determinate');
    },
    setEnabled()  {
      this.$checkbox.checkbox('set enabled');
      this.$radio.checkbox('set enabled');
    },
    setDisabled() {
      this.$checkbox.checkbox('set disabled');
      this.$radio.checkbox('set disabled');
    },
  },

  mounted() {
    this.$checkbox = this.$refs.$checkbox;
    this.$radio = this.$refs.$radio;
  },
}
</script>
