<template>
<su-segment basic id="example">
  <su-header tag="h2">Variations</su-header>

  <su-divider />

  <su-header element="h4">Fitted</su-header>
  <div>
    A fitted checkbox does not leave padding for a label
  </div>
  <su-segment basic>
    <span></span>
    <su-segment compact floated="left">
      <su-checkbox fitted />
    </su-segment>
    <su-segment compact floated="left">
      <su-checkbox fitted slider />
    </su-segment>
    <su-segment compact floated="left">
      <su-checkbox fitted toggle />
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
