<template>
<div>
  <Types />
  <States />
  <Variations />
</div>
</template>

<script>
import Types from './Types'
import States from './States'
import Variations from './Variations'

export default {
  name: 'DemoDimmerDefinition',

  components: {
    Types,
    States,
    Variations,
  }
}
</script>
