<template>
<div>
  <h3>Dimmer Events</h3>
  <div class="ui medium image">
    <su-dimmer v-model="active.dimmer0" :settings="{ on: 'hover' }">
      <div class="content">
        <h2 class="ui inverted header">Title</h2>
        <div class="ui primary button">Add</div>
        <div class="ui button">View</div>
      </div>
    </su-dimmer>
    <img class="ui image" src="https://semantic-ui.com/images/wireframe/image.png">
  </div>
  <div class="ui circular image">
    <su-dimmer v-model="active.dimmer1" :settings="{ on: 'hover' }">
      <div class="content">
        <div class="ui small primary button">Add</div>
        <div class="ui small button">View</div>
      </div>
    </su-dimmer>
    <img src="https://semantic-ui.com/images/wireframe/square-image.png">
  </div>
</div>
</template>

<script>
export default {
  name: 'DimmerEvents',

  data() {
    return {
      active: {
        dimmer0: false,
        dimmer1: false
      }
    }
  }
}
</script>
