<template>
<section>
  <su-header element="h1">
    Dimmer
    <su-header sub>
      A dimmer hides distractions to focus attention on particular content
    </su-header>

    <su-menu column="4">
      <su-item v-for="tab in $tabs"
        :to="{ name: 'DimmerTab', params: { tab } }"
        :key="tab">
        {{tab}}
      </su-item>
    </su-menu>
  </su-header>

  <su-divider></su-divider>

  <keep-alive>
    <component :is="tabComponents[$route.params.tab]"></component>
  </keep-alive>

  <!-- <div class="ui divider"></div>
  <DimmerEvents />

  <div class="ui divider"></div>
  <LoaderInsideDimmers /> -->

</section>
</template>

<script>
import Definition from './Definition'
// import DimmerEvents from './DimmerEvents.vue'
// import LoaderInsideDimmers from './LoaderInsideDimmers.vue'

export default {
  name: 'DemoDimmer',

  data() {
    return {
      tabComponents: {
        Definition
      }
    }
  },

  components: {
    // DimmerEvents,
    // LoaderInsideDimmers,
  },
}
</script>

