<template>
<div>
  <h3>Loader inside Dimmers</h3>
  <div class="ui segment">
    <su-dimmer v-model="active" inverted>
      <div class="ui text loader">Loading</div>
    </su-dimmer>
    <p>
      <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/short-paragraph.png">
    </p>
    <p>
      <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/short-paragraph.png">
    </p>
  </div>
  <div class="ignored ui icon buttons">
    <div @click="active = true" class="ui show button">
      <i class="plus icon"></i>
    </div>
    <div @click="active = false" class="ui hide button">
      <i class="minus icon"></i>
    </div>
  </div>
</div>
</template>

<script>
export default  {
  data()  {
    return {
      active: false
    }
  }
}
</script>
