<template>
<su-segment basic id="example">
  <su-header tag="h2">States</su-header>

  <su-divider />

  <su-header element="h4">Active</su-header>
  <div>
    An active dimmer will dim its parent container
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>

      <su-dimmer active />
    </su-segment>
  </su-segment>

  <su-header element="h4">Disabled</su-header>
  <div>
    A disabled dimmer cannot be activated
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>

      <su-dimmer disabled />
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
