<template>
<su-segment basic id="example">
  <su-header tag="h2">Types</su-header>

  <su-divider />

  <su-header element="h4">Dimmer</su-header>
  <div>
    A simple dimmer displays no content
  </div>
  <su-segment class="existing"><pre><code class="code javascript"><span class="comment">// left button</span>
<span class="this">this</span>.$dimmer(<span class="string">'#ex-segment-1'</span>).show();
<span class="comment">// right button</span>
<span class="this">this</span>.$dimmer(<span class="string">'#ex-segment-1'</span>).hide();</code></pre></su-segment>
  <su-message info>
    A dimmer will automatically be created when a dimming behavior is triggered on an element.
  </su-message>
  <su-segment basic>
    <su-segment id="ex-segment-1">
      <!-- Dimmer Generated Automatically No Need to Include !-->
      <su-header tag="h3">
        Overlayable Section
      </su-header>
      <su-img-group size="small">
        <img src="https://semantic-ui.com/images/wireframe/image.png" />
        <img src="https://semantic-ui.com/images/wireframe/image.png" />
        <img src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-img-group>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/media-paragraph.png" size="medium" />
      </p>
    </su-segment>

    <su-buttons>
      <su-button @click="$dimmer('#ex-segment-1').show()" icon="add" />
      <su-button @click="$dimmer('#ex-segment-1').hide()" icon="minus" />
    </su-buttons>
  </su-segment>

  <su-header element="h4">Content Dimmer</su-header>
  <div>
    A dimmer can display content
  </div>
  <su-message info>
    Since <code>2.3</code> dimmers with content now only need a single wrapping <code>content</code> container.
  </su-message>
  <su-segment basic>
    <su-segment>
      <!-- Dimmer Generated Automatically No Need to Include !-->
      <su-header tag="h3">
        Overlayable Section
      </su-header>
      <su-img-group size="small">
        <img src="https://semantic-ui.com/images/wireframe/image.png" />
        <img src="https://semantic-ui.com/images/wireframe/image.png" />
        <img src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-img-group>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/media-paragraph.png" size="medium" />
      </p>
      <su-dimmer ref="contentDimmer">
        <su-content>
          <su-header tag="h2" icon="heart">
            Dimmed Message!
          </su-header>
        </su-content>
      </su-dimmer>
    </su-segment>

    <su-buttons>
      <su-button @click="$refs.contentDimmer.show()" icon="add" />
      <su-button @click="$refs.contentDimmer.hide()" icon="minus" />
    </su-buttons>
  </su-segment>

  <su-header element="h4">Page Dimmer</su-header>
  <div>
    A dimmer can be formatted to be fixed to the page
  </div>
  <su-segment basic>
    <su-dimmer page ref="pageDimmer">
      <su-content>
        <su-header tag="h2" icon="mail">
          Dimmer Message
          <su-header sub>
            Dimmer sub-header
          </su-header>
        </su-header>
      </su-content>
    </su-dimmer>

    <su-button @click="$refs.pageDimmer.show()">
      <su-icon name="add" />
      Show
    </su-button>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
