<template>
<su-segment basic id="example">
  <su-header tag="h2">Variations</su-header>

  <su-divider />

  <su-header element="h4">Dimmable</su-header>

  <su-header element="h4">
    Blurring
    <su-label color="teal">New in 2.0</su-label>
  </su-header>
  <div>
    A dimmable element can blur its contents
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>

      <su-dimmer blurring ref="blurringDimmer1" />
    </su-segment>

    <su-buttons>
      <su-button @click="$refs.blurringDimmer1.show()" icon="add" />
      <su-button @click="$refs.blurringDimmer1.hide()" icon="minus" />
    </su-buttons>

    <su-divider hidden />

    <su-segment>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-img src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>

      <su-dimmer blurring inverted ref="blurringDimmer2" />
    </su-segment>

    <su-buttons>
      <su-button @click="$refs.blurringDimmer2.show()" icon="add" />
      <su-button @click="$refs.blurringDimmer2.hide()" icon="minus" />
    </su-buttons>
  </su-segment>


</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
