<template>
<section>
  <su-header element="h1">
    Reveal
    <su-header sub>
      reveal은 활성상태가 될 때 이전 컨텐츠에 있는 추가 컨텐츠를 보여줍니다
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <States />
  <Variations />
</section>
</template>

<script>
import Types from './Types'
import States from './States'
import Variations from './Variations'

export default {
  name: 'DemoReveal',

  components: {
    Types,
    States,
    Variations
  }
}
</script>
