<template>
<su-segment basic id="example">
  <h4>States</h4>

  <su-divider />

  <su-header element="h4">Active</su-header>
  <div>
    활성태가 되어 가려진 컨텐츠를 보여줍니다.
  </div>
  <su-segment basic>
    <div class="ui message info">
      Adding the class <code>active</code> can allow you to show the hidden contents programatically
    </div>
    <su-reveal active move="left">
      <su-reveal-visible-content>
        <su-image size="small" src="https://semantic-ui.com/images/wireframe/square-image.png" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image size="small" src="https://semantic-ui.com/images/avatar/large/nan.jpg" />
      </su-reveal-hidden-content>
    </su-reveal>
  </su-segment>

  <su-header element="h4">Disabled</su-header>
  <div>
    호버 이벤트가 발생할 때 애니메이션이 작동하지 않도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-reveal disabled move="left">
      <su-reveal-visible-content>
        <su-image size="small" src="https://semantic-ui.com/images/wireframe/square-image.png" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image size="small" src="https://semantic-ui.com/images/avatar/large/nan.jpg" />
      </su-reveal-hidden-content>
    </su-reveal>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
