<template>
<su-segment basic id="example">
  <h4>Types</h4>

  <su-divider />

  <su-header element="h4">Reveal</su-header>
  <div>
    엘리먼트가 아래 내용을 나타내기 위해 사라질 수 있습니다.
  </div>
  <su-segment basic>
    <su-reveal fade>
      <su-reveal-visible-content>
        <su-image src="https://semantic-ui.com/images/wireframe/square-image.png" size="small" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image src="https://semantic-ui.com/images/avatar/large/ade.jpg" size="small" />
      </su-reveal-hidden-content>
    </su-reveal>

    <su-divider hidden></su-divider>

    <su-reveal fade image size="small">
      <su-reveal-visible-content src="https://semantic-ui.com/images/wireframe/square-image.png" />
      <su-reveal-hidden-content src="https://semantic-ui.com/images/avatar/large/ade.jpg" />
    </su-reveal>
  </su-segment>

  <su-header element="h4">Move</su-header>
  <div>
    엘리먼트가 내용을 나타내기 위해 이동할 수 있습니다.
  </div>
  <su-segment basic>
    <su-reveal move>
      <su-reveal-visible-content>
        <su-image src="https://semantic-ui.com/images/wireframe/square-image.png" size="small" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image src="https://semantic-ui.com/images/avatar/large/chris.jpg" size="small" />
      </su-reveal-hidden-content>
    </su-reveal>

    <su-divider hidden></su-divider>

    <su-reveal move="right">
      <su-reveal-visible-content>
        <su-image src="https://semantic-ui.com/images/wireframe/square-image.png" size="small" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image src="https://semantic-ui.com/images/avatar/large/jenny.jpg" size="small" />
      </su-reveal-hidden-content>
    </su-reveal>

    <su-divider hidden></su-divider>

    <su-reveal move="up">
      <su-reveal-visible-content>
        <su-image src="https://semantic-ui.com/images/wireframe/square-image.png" size="small" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image src="https://semantic-ui.com/images/avatar/large/justen.jpg" size="small" />
      </su-reveal-hidden-content>
    </su-reveal>

    <su-divider hidden></su-divider>

    <su-reveal move="down">
      <su-reveal-visible-content>
        <su-image src="https://semantic-ui.com/images/wireframe/square-image.png" size="small" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image src="https://semantic-ui.com/images/avatar/large/nan.jpg" size="small" />
      </su-reveal-hidden-content>
    </su-reveal>
  </su-segment>

  <su-header element="h4">Rotate</su-header>
  <div>
    엘리먼트가 아래 내용을 나타내기 위해 회전할 수 있습니다.
  </div>
  <su-segment basic>
    <su-reveal image circular rotate size="small">
      <su-reveal-visible-content src="https://semantic-ui.com/images/wireframe/square-image.png" />
      <su-reveal-hidden-content src="https://semantic-ui.com/images/avatar/large/stevie.jpg" />
    </su-reveal>

    <su-divider hidden></su-divider>

    <su-reveal image circular rotate="left" size="small">
      <su-reveal-visible-content src="https://semantic-ui.com/images/wireframe/square-image.png" />
      <su-reveal-hidden-content src="https://semantic-ui.com/images/avatar/large/veronika.jpg" />
    </su-reveal>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
