<template>
<su-segment basic id="example">
  <h4>Variations</h4>

  <su-divider />

  <su-header element="h4">Instant</su-header>
  <div>
    엘리먼트는 지연 없이 컨텐츠를 보여줄 수 있습니다.
  </div>
  <su-segment basic>
    <su-reveal instant move>
      <su-reveal-visible-content>
        <su-image size="small" src="https://semantic-ui.com/images/wireframe/square-image.png" />
      </su-reveal-visible-content>
      <su-reveal-hidden-content>
        <su-image size="small" src="https://semantic-ui.com/images/avatar/large/chris.jpg" />
      </su-reveal-hidden-content>
    </su-reveal>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
