<template>
<su-segment basic id="example">
  <su-header dividing tag="h2">Content</su-header>

  <su-header tag="h4">Header</su-header>
  <div>
    메뉴 아이템은 헤더를 포함하거나 자신이 헤더가 될 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu>
      <su-item header>
        Our Company
      </su-item>
      <su-item tag="a">
        About Us
      </su-item>
      <su-item tag="a">
        Jobs
      </su-item>
      <su-item tag="a">
        Locations
      </su-item>
    </su-menu>

    <su-divider hidden section></su-divider>

    <su-menu vertical>
      <su-item>
        <su-item header>Products</su-item>
        <su-menu>
          <su-item tag="a">Enterprise</su-item>
          <su-item tag="a">Consumer</su-item>
        </su-menu>
      </su-item>
      <su-item>
        <su-item header>Solutions</su-item>
        <su-menu>
          <su-item tag="a">Rails</su-item>
          <su-item tag="a">Python</su-item>
          <su-item tag="a">PHP</su-item>
        </su-menu>
      </su-item>
      <su-item>
        <su-item header>Hosting</su-item>
        <su-menu>
          <su-item tag="a">Shared</su-item>
          <su-item tag="a">Dedicated</su-item>
        </su-menu>
      </su-item>
      <su-item>
        <su-item header>Support</su-item>
        <su-menu>
          <su-item tag="a">E-mail Support</su-item>
          <su-item tag="a">FAQs</su-item>
        </su-menu>
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Text</su-header>
  <div>
    수직 메뉴 아이템은 텍스트 컨텐츠의 형식을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu vertical>
      <su-item tag="a">
        <su-header tag="h4">
          Promotions
        </su-header>
        <p>Check out our new promotions</p>
      </su-item>
      <su-item tag="a">
        <su-header tag="h4">
          Coupons
        </su-header>
        <p>Check out our collection of coupons</p>
      </su-item>
      <su-item tag="a">
        <su-header tag="h4">
          Rebates
        </su-header>
        <p>Visit our rebate forum for information on claiming rebates</p>
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Input</su-header>
  <div>
    메뉴 아이템은 내부에 입력란을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu>
      <su-item>
        <su-input icon="search" type="text" placeholder="Search..." />
      </su-item>
      <su-item right>
        <su-input action type="text" placeholder="Navigate to...">
          <su-button>Go</su-button>
        </su-input>
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Button</su-header>
  <div>
    메뉴 아이템은 내부에 버튼을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu>
      <su-item>
        <su-button primary>Sign up</su-button>
      </su-item>
      <su-item>
        <su-button>Log-in</su-button>
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Link Item</su-header>
  <div>
    메뉴는 링크 아이템 혹은 링크 형식의 아이템을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu vertical>
      <su-item :to="'/'">
        Visit Google
      </su-item>
      <su-item link>
        Javascript Link
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Dropdown Item</su-header>
  <div>
    드랍다운 아이템은 메뉴를 지니고 있습니다.
  </div>
  <su-segment basic>
    <su-menu vertical>
      <su-item class="ui dropdown">
        Categories
        <su-icon name="dropdown" />

        <su-menu>
          <su-item>Electronics</su-item>
          <su-item>Automotive</su-item>
          <su-item>Home</su-item>
        </su-menu>
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Popup Menu</su-header>
  <div>
    A menu item may show a large menu, or additional content using a popup

  </div>
  <su-segment basic>
    <su-menu>
      <su-item active tag="a">
        Browse
        <su-icon name="dropdown" />
      </su-item>
    </su-menu>
    <div class="ui fluid popup bottom left transition hidden">
      <div class="ui four column relaxed equal height divided grid">
        <div class="column">
          <h4 class="ui header">Fabrics</h4>
          <div class="ui link list">
            <a class="item">Cashmere</a>
            <a class="item">Linen</a>
            <a class="item">Cotton</a>
            <a class="item">Viscose</a>
          </div>
        </div>
        <div class="column">
          <h4 class="ui header">Size</h4>
          <div class="ui link list">
            <a class="item">Small</a>
            <a class="item">Medium</a>
            <a class="item">Large</a>
            <a class="item">Plus Sizes</a>
          </div>
        </div>
        <div class="column">
          <h4 class="ui header">Colored</h4>
          <div class="ui link list">
            <a class="item">Neutrals</a>
            <a class="item">Brights</a>
            <a class="item">Pastels</a>
          </div>
        </div>
        <div class="column">
          <h4 class="ui header">Types</h4>
          <div class="ui link list">
            <a class="item">Knitwear</a>
            <a class="item">Outerwear</a>
            <a class="item">Pants</a>
            <a class="item">Shoes</a>
          </div>
        </div>
      </div>
    </div>
  </su-segment>

  <su-header tag="h4">Search</su-header>
  <div>
    검색 입력란을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu>
      <su-item class="ui search">
        <su-input transparent placeholder="Search animals..." type="text" icon="search link" />
        <div class="result"></div>
      </su-item>
    </su-menu>
    <su-segment attached="bottom">
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png"/>
      </p>
    </su-segment>
  </su-segment>

  <su-header tag="h4">Menu</su-header>
  <div>
    메뉴는 또 다른 메뉴를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu>
      <su-item active tag="a">Browse</su-item>
      <su-item tag="a">Submit</su-item>
      <su-menu right>
        <su-item tag="a">Sign Up</su-item>
        <su-item tag="a">Help</su-item>
      </su-menu>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Sub Menu</su-header>
  <div>
    메뉴는 또 다른 메뉴를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu vertical>
      <su-item>
        <su-input type="text" placeholder="Search..." />
      </su-item>
      <su-item>
        Home
        <su-menu>
          <su-item active tag="a">Search</su-item>
          <su-item tag="a">Add</su-item>
          <su-item tag="a">Remove</su-item>
        </su-menu>
      </su-item>
      <su-item>
        <su-icon name="grid layout" />
        Browse
      </su-item>
      <su-item>
        Messages
      </su-item>
      <su-item class="ui dropdown">
        More
        <su-icon name="dropdown" />
        <su-menu>
          <su-item tag="a">
            <su-icon name="edit" />
            Edit Profile
          </su-item>
          <su-item tag="a">
            <su-icon name="globe" />
            Choose Language
          </su-item>
          <su-item tag="a">
            <su-icon name="settings" />
            Account Settings
          </su-item>
        </su-menu>
      </su-item>
    </su-menu>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Content'
}
</script>
