<template>
<div>
  <su-menu vertical fixed="left">
    <su-item>
      <su-image size="mini" src="https://semantic-ui.com/images/logo.png" />
    </su-item>
    <su-item tag="a">Features</su-item>
    <su-item tag="a">Testimonials</su-item>
    <su-item tag="a">Sign-in</su-item>
  </su-menu>
  <su-menu vertical fixed="right">
    <su-item>
      <su-image size="mini" src="https://semantic-ui.com/images/logo.png" />
    </su-item>
    <su-item tag="a">Features</su-item>
    <su-item tag="a">Testimonials</su-item>
    <su-item tag="a">Sign-in</su-item>
  </su-menu>
  <p>
    <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
  </p>
  <p>
    <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
  </p>
</div>
</template>

<script>
export default {
  name: 'Fixed1'
}
</script>
