<template>
<section>
  <su-header element="h1">
    Menu
    <su-header sub>
      메뉴는 그룹화된 네비게이션을 나타냅니다.
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <Content />
  <States />
  <Variations />

</section>
</template>

<script>
import Types from './Types.vue'
import Content from './Content.vue'
import States from './States.vue'
import Variations from './Variations.vue'


export default {
  name: 'DemoMenu',

  components: {
    Types,
    Content,
    States,
    Variations
  },
}
</script>

