<template>
<su-segment basic id="example">
  <su-header dividing tag="h2">States</su-header>

  <su-header tag="h4">Hover</su-header>
  <div>
    메뉴 아이템은 호버효과가 있습니다.
  </div>
  <su-message compact warning>
    <p>
      메뉴 아이템이 호버 효과를 가지려면 <code>a</code> 태그를 사용하거나, <code>link</code> 속성을 사용해야 합니다.
    </p>
  </su-message>
  <su-segment basic>
    <su-menu compact>
      <su-item tag="a">
        A link
      </su-item>
      <su-item link>
        div Link
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Active</su-header>
  <div>
    메뉴 아이템을 활성 상태로 합니다.
  </div>
  <su-segment basic>
    <su-menu compact>
      <su-item active link>
        Link
      </su-item>
    </su-menu>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
