<template>
<su-segment basic id="example">
  <su-header dividing tag="h2">Types</su-header>

  <su-header tag="h4">Menu</su-header>
  <div>
    메뉴
  </div>
  <su-message>
    Starting in <code>2.0</code> menus now use flexbox. This allows each menu item to automatically stretch to the size of the largest item.
  </su-message>
  <su-segment basic>
    <su-menu column="3">
      <su-item active>Editorials</su-item>
      <su-item>Reviews</su-item>
      <su-item>Upcoming Events</su-item>
    </su-menu>

    <su-divider hidden section></su-divider>

    <su-menu text>
      <su-item>
        <img src="https://semantic-ui.com/images/new-school.jpg" />
      </su-item>
      <su-item tag="a" class="browse">
        Browse Courses
        <su-icon name="dropdown" />
      </su-item>
      <su-item class="ui right dropdown">
        More
        <su-icon name="dropdown" />
        <su-menu>
          <su-item>Applications</su-item>
          <su-item>International Students</su-item>
          <su-item>Scholarships</su-item>
        </su-menu>
      </su-item>
    </su-menu>

    <su-divider hidden section></su-divider>

    <su-menu attached="top">
      <su-item class="ui icon dropdown">
        <su-icon name="wrench" />
        <su-menu>
          <su-item>
            <su-icon name="dropdown" />
            <span class="text">New</span>
            <su-menu>
              <su-item>Document</su-item>
              <su-item>Image</su-item>
            </su-menu>
          </su-item>
          <su-item>
            Open...
          </su-item>
          <su-item>
            Save...
          </su-item>
          <su-item>Edit Permissions</su-item>
          <su-divider></su-divider>
          <su-header>
            Export
          </su-header>
          <su-item>
            Share...
          </su-item>
        </su-menu>
      </su-item>
      <su-menu right>
        <su-item class="ui right aligned category search">
          <su-input transparent placeholder="Search animals..." type="text" icon="search link" />
          <div class="result"></div>
        </su-item>
      </su-menu>
    </su-menu>
    <su-segment attached="bottom">
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png"/>
      </p>
    </su-segment>
  </su-segment>

  <su-header tag="h4">Secondary Menu</su-header>
  <div>
    컨텐츠를 덜 강조하도록 외형을 조정할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu secondary>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
      <su-menu right>
        <su-item>
          <su-input type="text" placeholder="Search..." icon="search link"/>
        </su-item>
        <su-item tag="a">
          Logout
        </su-item>
      </su-menu>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Pointing</su-header>
  <div>
    주변 컨텐츠와의 관계를 보여지기 위해 강조할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu pointing>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
      <su-menu right>
        <su-item>
          <su-input transparent type="text" placeholder="Search..." icon="search link"/>
        </su-item>
      </su-menu>
    </su-menu>
    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png"/>
      </p>
    </su-segment>

    <su-divider hidden/>

    <su-menu secondary pointing>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
      <su-menu right>
        <su-item tag="a">
          Logout
        </su-item>
      </su-menu>
    </su-menu>
    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png"/>
      </p>
    </su-segment>
  </su-segment>

  <su-header tag="h4">Tabular</su-header>
  <div>
    메뉴를 탭 형식으로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu tabular>
      <su-item active tag="a">
        Bio
      </su-item>
      <su-item tag="a">
        Photos
      </su-item>
    </su-menu>

    <su-divider hidden/>

    <su-menu tabular attached="top">
      <su-item active tag="a">
        Bio
      </su-item>
      <su-item tag="a">
        Photos
      </su-item>
      <su-menu right>
        <su-item>
          <su-input transparent type="text" placeholder="Search..." icon="search link"/>
        </su-item>
      </su-menu>
    </su-menu>
    <su-segment attached="bottom">
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png"/>
      </p>
    </su-segment>

    <su-divider hidden/>

    <su-segment attached="top">
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png"/>
      </p>
    </su-segment>
    <su-menu tabular attached="bottom">
      <su-item active tag="a">
        Active Project
      </su-item>
      <su-item tag="a">
        Project #2
      </su-item>
      <su-item tag="a">
        Project #3
      </su-item>
      <su-menu right>
        <su-item>
          <su-icon class="add"></su-icon>
          New Tab
        </su-item>
      </su-menu>
    </su-menu>

    <su-divider hidden/>

    <su-grid>
      <su-column wide="four">
        <su-menu tabular vertical fluid>
          <su-item active tag="a">
            Bio
          </su-item>
          <su-item tag="a">
            Pics
          </su-item>
          <su-item tag="a">
            Companies
          </su-item>
          <su-item tag="a">
            Links
          </su-item>
        </su-menu>
      </su-column>
      <su-column stretched wide="twelve">
        <su-segment>
          This is an stretched grid column. This segment will always match the tab height
        </su-segment>
      </su-column>
    </su-grid>

    <su-divider hidden/>

    <su-grid>
      <su-column stretched wide="twelve">
        <su-segment>
          This is an stretched grid column. This segment will always match the tab height
        </su-segment>
      </su-column>
      <su-column wide="four">
        <su-menu right tabular vertical fluid>
          <su-item active tag="a">
            Bio
          </su-item>
          <su-item tag="a">
            Pics
          </su-item>
          <su-item tag="a">
            Companies
          </su-item>
          <su-item tag="a">
            Links
          </su-item>
        </su-menu>
      </su-column>
    </su-grid>
  </su-segment>

  <su-header tag="h4">Text</su-header>
  <div>
    텍스트 컨텐츠 형식으로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu text>
      <su-item header>
        Sort By
      </su-item>
      <su-item active tag="a">
        Closest
      </su-item>
      <su-item tag="a">
        Most Comments
      </su-item>
      <su-item tag="a">
        Most Popular
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Vertical Menu</su-header>
  <div>
    수직 메뉴는 요소들을 수직적으로 나타냅니다.
  </div>
  <su-message compact warning>
    <p>수직 메뉴의 폭은 기본적으로 임의로 정해집니다.</p>
    <p><a href="#">ui grid</a>와 결합하여 유연한 사용을 위해 정확하게 컨텐츠의 내용만큼 차지합니다.</p>
  </su-message>
  <su-segment basic>
    <su-menu vertical>
      <su-item active tag="a" color="teal">
        Inbox
        <su-label pointing="left" color="teal">
          1
        </su-label>
      </su-item>
      <su-item tag="a">
        Spam
        <su-label>51</su-label>
      </su-item>
      <su-item tag="a">
        Updates
        <su-label>1</su-label>
      </su-item>
      <su-item>
        <su-input transparent type="text" placeholder="Search mail..." icon="search" />
      </su-item>
    </su-menu>

    <su-divider hidden />

    <su-menu secondary vertical>
      <su-item active tag="a">
        Account
      </su-item>
      <su-item tag="a">
        Settings
      </su-item>
      <su-item class="ui dropdown">
        <su-icon name="dropdown" />
        Display Options

        <su-menu>
          <su-header>Text Size</su-header>
          <su-item tag="a">Small</su-item>
          <su-item tag="a">Medium</su-item>
          <su-item tag="a">Large</su-item>
        </su-menu>
      </su-item>
    </su-menu>

    <su-divider hidden />

    <su-menu text vertical>
      <su-item header>
        Sort By
      </su-item>
      <su-item active tag="a">
        Closest
      </su-item>
      <su-item tag="a">
        Most Comments
      </su-item>
      <su-item tag="a">
        Most Popular
      </su-item>
    </su-menu>

    <su-divider hidden />

    <su-menu pointing vertical>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
    </su-menu>

    <su-divider hidden />

    <su-menu secondary pointing vertical>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Pagination</su-header>
  <div>
    페이지화 메뉴는 컨텐츠 페이지의 링크를 표시하도록 보여줍니다.
  </div>
  <su-segment basic>
    <su-menu pagination>
      <su-item active tag="a">
        1
      </su-item>
      <su-item disabled>
        ...
      </su-item>
      <su-item tag="a">
        10
      </su-item>
      <su-item tag="a">
        11
      </su-item>
      <su-item tag="a">
        12
      </su-item>
    </su-menu>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
