<template>
<su-segment basic id="example">
  <su-header dividing tag="h2">Variations</su-header>

  <su-header tag="h4">Fixed</su-header>
  <div>
    A menu can be fixed to a side of its context
  </div>
  <su-message info>
    <p>
      These examples use a an <code>iframe</code>, to prevent content from sticking to the browser viewport.
    </p>
  </su-message>
  <su-message positive>
    <p>
      For more advanced behaviors consider using a sticky menu or visibility APIs.
    </p>
  </su-message>
  <su-segment basic>
    <iframe src="/#/MenuVariationsFixed1" frameborder="0"></iframe>

    <su-divider hidden />

    <iframe src="/#/MenuVariationsFixed2" frameborder="0"></iframe>
  </su-segment>

  <su-header tag="h4">Stackable</su-header>
  <div>
    모바일 해상도에서 메뉴 아이템이 쌓여 있게 보이도록 할 수 있습니다.
  </div>
  <su-message info>
    <p>Stackable menus are intended to be used with only simple menu content. Stacked menus will not replicate all additional stylings for vertical menus like adjusting dropdown position.</p>
  </su-message>
  <su-segment basic>
    <su-menu stackable>
      <su-item>
        <img src="https://semantic-ui.com/images/logo.png">
      </su-item>
      <su-item tag="a">Features</su-item>
      <su-item tag="a">Testimonials</su-item>
      <su-item tag="a">Sign-in</su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Inverted</su-header>
  <div>
    고대비 반전으로 보일 수 있게 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu inverted>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <su-menu vertical inverted>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <su-menu vertical pointing inverted>
      <su-item active tag="a">
        Home
      </su-item>
      <su-item tag="a">
        Messages
      </su-item>
      <su-item tag="a">
        Friends
      </su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <su-segment inverted>
      <su-menu secondary inverted>
        <su-item active tag="a">
          Home
        </su-item>
        <su-item tag="a">
          Messages
        </su-item>
        <su-item tag="a">
          Friends
        </su-item>
      </su-menu>
    </su-segment>

    <su-segment inverted>
      <su-menu secondary pointing inverted>
        <su-item active tag="a">
          Home
        </su-item>
        <su-item tag="a">
          Messages
        </su-item>
        <su-item tag="a">
          Friends
        </su-item>
      </su-menu>
    </su-segment>
  </su-segment>

  <su-header tag="h4">Colored</su-header>
  <div>
    특정 색상을 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu>
      <su-item color="red" tag="a">Red</su-item>
      <su-item color="orange" tag="a">Orange</su-item>
      <su-item color="yellow" tag="a">Yellow</su-item>
      <su-item color="olive" tag="a">Olive</su-item>
      <su-item color="green" tag="a">Green</su-item>
      <su-item color="teal" tag="a">Teal</su-item>
    </su-menu>
    <su-menu>
      <su-item color="blue" tag="a">Blue</su-item>
      <su-item color="violet" tag="a">Violet</su-item>
      <su-item color="purple" tag="a">Purple</su-item>
      <su-item color="pink" tag="a">Pink</su-item>
      <su-item color="brown" tag="a">Brown</su-item>
      <su-item color="grey" tag="a">Grey</su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <su-menu color="red" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="orange" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="yellow" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="olive" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="green" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="teal" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="blue" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="violet" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="purple" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="pink" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="brown" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu color="grey" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <p>These colors can also be inverted</p>
    <su-menu inverted>
      <su-item color="red" tag="a">Red</su-item>
      <su-item color="orange" tag="a">Orange</su-item>
      <su-item color="yellow" tag="a">Yellow</su-item>
      <su-item color="olive" tag="a">Olive</su-item>
      <su-item color="green" tag="a">Green</su-item>
      <su-item color="teal" tag="a">Teal</su-item>
    </su-menu>
    <su-menu inverted>
      <su-item color="blue" tag="a">Blue</su-item>
      <su-item color="violet" tag="a">Violet</su-item>
      <su-item color="purple" tag="a">Purple</su-item>
      <su-item color="pink" tag="a">Pink</su-item>
      <su-item color="brown" tag="a">Brown</su-item>
      <su-item color="grey" tag="a">Grey</su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <su-menu inverted color="red" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="orange" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="yellow" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="olive" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="green" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="teal" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="blue" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="violet" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="purple" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="pink" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="brown" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
    <su-menu inverted color="grey" column="3">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-item tag="a">Friends</su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Icons</su-header>
  <div>
    아이콘을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu icon>
      <su-item icon="gamepad" tag="a" />
      <su-item icon="video camera" tag="a" />
      <su-item icon="video play" tag="a" />
    </su-menu>

    <su-menu vertical icon>
      <su-item icon="gamepad" tag="a" />
      <su-item icon="video camera" tag="a" />
      <su-item icon="video play" tag="a" />
    </su-menu>
  </su-segment>

  <su-header tag="h4">Labeled Icon</su-header>
  <div>
    라벨화된 아이콘을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu labeled icon>
      <su-item icon="gamepad" tag="a">
        Games
      </su-item>
      <su-item icon="video camera" tag="a">
        Channels
      </su-item>
      <su-item icon="video play" tag="a">
        Video
      </su-item>
    </su-menu>

    <su-menu vertical labeled icon>
      <su-item icon="gamepad" tag="a">
        Games
      </su-item>
      <su-item icon="video camera" tag="a">
        Channels
      </su-item>
      <su-item icon="video play" tag="a">
        Video
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Fluid</su-header>
  <div>
    수직화된 메뉴일 경우 폭을 컨테이너의 사이즈로 맞춥니다.
  </div>
  <su-segment basic>
    <su-menu vertical fluid>
      <su-item tag="a">
        Run
      </su-item>
      <su-item tag="a">
        Walk
      </su-item>
      <su-item tag="a">
        Bike
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Compact</su-header>
  <div>
    컨텐츠에 딱 맞는 공간만 차지하게 됩니다.
  </div>
  <su-segment basic>
    <su-menu compact>
      <su-item icon="gamepad" tag="a">
        Games
      </su-item>
      <su-item icon="video camera" tag="a">
        Channels
      </su-item>
      <su-item icon="video play" tag="a">
        Video
      </su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <su-menu vertical labeled compact icon>
      <su-item icon="gamepad" tag="a">
        Games
      </su-item>
      <su-item icon="video camera" tag="a">
        Channels
      </su-item>
      <su-item icon="video play" tag="a">
        Video
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Evenly Divided</su-header>
  <div>
    아이템을 동일한 크기로 나눕니다.
  </div>
  <su-segment basic>
    <su-menu fluid column="3">
      <su-item tag="a">Buy</su-item>
      <su-item tag="a">Sell</su-item>
      <su-item tag="a">Rent</su-item>
    </su-menu>

    <su-divider hidden></su-divider>

    <su-menu pointing vertical>
      <su-item tag="a">
        Site Title
      </su-item>
      <su-item>
        <strong>Grouped Section</strong>
        <su-menu>
          <su-item tag="a">Subsection 1</su-item>
          <su-item active tag="a">Subsection 2</su-item>
          <su-item tag="a">Subsection 3</su-item>
        </su-menu>
      </su-item>
      <su-item class="ui dropdown">
        Dropdown
        <su-icon name="dropdown" />
        <su-menu>
          <su-item tag="a">Choice 1</su-item>
          <su-item tag="a">Choice 2</su-item>
          <su-item tag="a">Choice 3</su-item>
        </su-menu>
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Attached</su-header>
  <div>
    메뉴를 다른 세그먼트에 붙일 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu tabular attached="top">
      <su-item active tag="a">tab 1</su-item>
      <su-item tag="a">tab 2</su-item>
    </su-menu>
    <su-segment attached="bottom">
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </su-segment>

    <su-divider hidden></su-divider>

    <su-menu attached="top">
      <su-item active tag="a">Section 1</su-item>
      <su-item tag="a">Section 2</su-item>
    </su-menu>
    <su-segment attached>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </su-segment>
    <su-menu attached="bottom">
      <su-item active tag="a">Section 1</su-item>
      <su-item tag="a">Section 2</su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Size</su-header>
  <div>
    다양한 크기를 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu size="mini">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-menu right>
        <su-item class="ui dropdown">
          Language
          <su-icon name="dropdown" />
          <su-menu>
            <su-item tag="a">English</su-item>
            <su-item tag="a">Russian</su-item>
            <su-item tag="a">Spanish</su-item>
          </su-menu>
        </su-item>
        <su-item>
          <su-button primary>Sign Up</su-button>
        </su-item>
      </su-menu>
    </su-menu>
    <su-menu size="tiny">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-menu right>
        <su-item class="ui dropdown">
          Language
          <su-icon name="dropdown" />
          <su-menu>
            <su-item tag="a">English</su-item>
            <su-item tag="a">Russian</su-item>
            <su-item tag="a">Spanish</su-item>
          </su-menu>
        </su-item>
        <su-item>
          <su-button primary>Sign Up</su-button>
        </su-item>
      </su-menu>
    </su-menu>
    <su-menu size="small">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-menu right>
        <su-item class="ui dropdown">
          Language
          <su-icon name="dropdown" />
          <su-menu>
            <su-item tag="a">English</su-item>
            <su-item tag="a">Russian</su-item>
            <su-item tag="a">Spanish</su-item>
          </su-menu>
        </su-item>
        <su-item>
          <su-button primary>Sign Up</su-button>
        </su-item>
      </su-menu>
    </su-menu>
    <su-menu size="large">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-menu right>
        <su-item class="ui dropdown">
          Language
          <su-icon name="dropdown" />
          <su-menu>
            <su-item tag="a">English</su-item>
            <su-item tag="a">Russian</su-item>
            <su-item tag="a">Spanish</su-item>
          </su-menu>
        </su-item>
        <su-item>
          <su-button primary>Sign Up</su-button>
        </su-item>
      </su-menu>
    </su-menu>
    <su-menu size="big">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-menu right>
        <su-item class="ui dropdown">
          Language
          <su-icon name="dropdown" />
          <su-menu>
            <su-item tag="a">English</su-item>
            <su-item tag="a">Russian</su-item>
            <su-item tag="a">Spanish</su-item>
          </su-menu>
        </su-item>
        <su-item>
          <su-button primary>Sign Up</su-button>
        </su-item>
      </su-menu>
    </su-menu>
    <su-menu size="massive">
      <su-item active tag="a">Home</su-item>
      <su-item tag="a">Message</su-item>
      <su-menu right>
        <su-item class="ui dropdown">
          Language
          <su-icon name="dropdown" />
          <su-menu>
            <su-item tag="a">English</su-item>
            <su-item tag="a">Russian</su-item>
            <su-item tag="a">Spanish</su-item>
          </su-menu>
        </su-item>
        <su-item>
          <su-button primary>Sign Up</su-button>
        </su-item>
      </su-menu>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Fiited</su-header>
  <div>
    메뉴 혹은 메뉴 아이템에서 안쪽 수직 혹은 수평 여백을 제거할 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu>
      <su-item fitted>
        No padding whatsoever
      </su-item>
      <su-item fitted="horizontally">
        No horizontal padding
      </su-item>
      <su-item fitted="vertically">
        No vertical padding
      </su-item>
    </su-menu>
  </su-segment>

  <su-header tag="h4">Borderless</su-header>
  <div>
    메뉴의 경계선을 없앨 수 있습니다.
  </div>
  <su-segment basic>
    <su-menu borderless>
      <su-item tag="a">1</su-item>
      <su-item tag="a">2</su-item>
      <su-item tag="a">3</su-item>
      <su-item tag="a">4</su-item>
      <su-item tag="a">5</su-item>
      <su-item tag="a">6</su-item>
    </su-menu>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>

<style scoped>
iframe {
  width: 950px;
  height: 350px;
}
</style>
