1<template>
<su-segment basic id="example">
  <su-header tag="h2">Content</su-header>

  <su-divider />

  <su-header tag="h4">Content Block</su-header>
  <div>
    A card can contain blocks of content
  </div>
  <su-segment basic>
    <su-card>
      <su-content>
        <su-header>
          Project Timeline
        </su-header>
      </su-content>
      <su-content>
        <su-header sub tag="h4">Activity</su-header>
        <su-feed size="small">
          <su-event>
            <su-content>
              <su-summary>
                <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
              </su-summary>
            </su-content>
          </su-event>
          <su-event>
            <su-content>
              <su-summary>
                <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
              </su-summary>
            </su-content>
          </su-event>
          <su-event>
            <su-content>
              <su-summary>
                <a>Helen Troy</a> added two pictures
              </su-summary>
            </su-content>
          </su-event>
        </su-feed>
      </su-content>
      <su-extra-content>
        <su-button>Join Project</su-button>
      </su-extra-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Cards</su-header>
  <div>
    A group of cards.
  </div>
  <su-message info>
    Cards are designed to be flexible to your content. <code>content</code> blocks can include any custom elements related to your content.
  </su-message>
  <su-segment basic>
    <su-card>
      <su-img reveal slide="masked">
        <su-content visible src="https://semantic-ui.com/images/avatar/large/jenny.jpg" />
        <su-content hidden src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
      </su-img>
      <su-content>
        <su-header tag="a">Team Fu &amp; Hess</su-header>
        <su-meta>
          <span class="date">Created in Sep 2014</span>
        </su-meta>
      </su-content>
      <su-extra-content>
        <a>
          <su-icon name="users" />
          2 Members
        </a>
      </su-extra-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Header</su-header>
  <div>
    A card can contain a header
  </div>
  <su-segment basic>
    <su-cards>
      <su-card>
        <su-content>
          <su-header>Elliot Fu</su-header>
          <su-meta>Friend</su-meta>
          <su-description>
            Elliot Fu is a film-maker from New York.
          </su-description>
        </su-content>
      </su-card>
      <su-card>
        <su-content>
          <su-header>Veronika Ossi</su-header>
          <su-meta>Friend</su-meta>
          <su-description>
            Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
          </su-description>
        </su-content>
      </su-card>
      <su-card>
        <su-content>
          <su-header>Jenny Hess</su-header>
          <su-meta>Friend</su-meta>
          <su-description>
            Jenny is a student studying Media Management at the New School
          </su-description>
        </su-content>
      </su-card>
    </su-cards>
  </su-segment>

  <su-header tag="h4">Meta</su-header>
  <div>
    A card can contain content metadata
  </div>
  <su-message info>
    <su-icon name="info" />You can include an arbitrary amount of metadata using your own class conventions, all child elements will automatically be spaced
  </su-message>
  <su-segment basic>
    <su-card>
      <su-content>
        <su-header>Cute Dog</su-header>
        <su-meta>
          <span>2 days ago</span>
          <a>Animals</a>
        </su-meta>
        <p>
          <su-img src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Link</su-header>
  <div>
    A card can contain contain links as images, headers, or inside content
  </div>
  <su-message info>
    To make the entire content of a card link, check out the link variation below
  </su-message>
  <su-segment basic>
    <su-card>
      <su-img link="#" src="https://semantic-ui.com/images/avatar/large/steve.jpg" />
      <su-content>
        <su-header tag="a" href="#">
          Steve Jobes
        </su-header>
        <su-meta>
          <a>Last Seen 2 days ago</a>
        </su-meta>
      </su-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Buttons</su-header>
  <div>
    A card can contain buttons
  </div>
  <su-segment basic>
    <su-cards>
      <su-card>
        <su-content>
          <su-header>Elliot Fu</su-header>
          <su-description>
            Elliot Fu is a film-maker from New York.
          </su-description>
        </su-content>
        <su-button attached="bottom">
          <su-icon name="add" />
          Add Friend
        </su-button>
      </su-card>
      <su-card>
        <su-content>
          <su-header>Veronika Ossi</su-header>
          <su-description>
            Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
          </su-description>
        </su-content>
        <su-button attached="bottom">
          <su-icon name="add" />
          Add Friend
        </su-button>
      </su-card>
      <su-card>
        <su-content>
          <su-header>Jenny Hess</su-header>
          <su-description>
            Jenny is a student studying Media Management at the New School
          </su-description>
        </su-content>
        <su-button attached="bottom">
          <su-icon name="add" />
          Add Friend
        </su-button>
      </su-card>
    </su-cards>
  </su-segment>

  <su-header tag="h4">Approval</su-header>
  <div>
    A card can contain a like or star action.
  </div>
  <su-segment basic>
    <su-card>
      <su-content>
        <su-icon name="like" floated="right" />
        <su-icon name="star" floated="right" />
        <su-header>Cute Dog</su-header>
        <su-description>
          <p>
            <su-img src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
        </su-description>
      </su-content>
      <su-extra-content>
        <span class="left floated like">
          <su-icon name="like" />
          Like
        </span>
        <span class="right floated star">
          <su-icon name="star" />
          Favorite
        </span>
      </su-extra-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Description</su-header>
  <div>
    A card can contain a description with one or more paragraphs
  </div>
  <su-segment basic>
    <su-card>
      <su-content>
        <su-header>Cute Dog</su-header>
        <su-meta>2 days ago</su-meta>
        <su-description>
          <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
          <p>Many people also have their own barometers for what makes a cute dog.</p>
        </su-description>
      </su-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Extra Content</su-header>
  <div>
    A card can contain extra content meant to be formatted separately from the main content
  </div>
  <su-segment basic>
    <su-card>
      <su-content>
        <su-header>Cute Dog</su-header>
        <su-meta>2 days ago</su-meta>
        <su-description>
          <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
          <p>Many people also have their own barometers for what makes a cute dog.</p>
        </su-description>
      </su-content>
      <su-extra-content>
        <su-icon name="check" />
        121 Votes
      </su-extra-content>
    </su-card>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Content'
}
</script>
