<template>
<section>
  <su-header element="h1">
    Card
    <su-header sub>
      A card displays site content in a manner similar to a playing card
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <Content />
  <Variations />

</section>
</template>

<script>
import Types from './Types.vue'
import Content from './Content.vue'
import Variations from './Variations.vue'


export default {
  name: 'DemoCard',

  components: {
    Types,
    Content,
    Variations
  },
}
</script>

