1<template>
<su-segment basic id="example">
  <su-header tag="h2">Types</su-header>

  <su-divider />

  <su-header tag="h4">Card</su-header>
  <div>
    A single card.
  </div>
  <su-message warning>
    To ensure cards are equal height use the plural, <code>cards</code>. Card groups automatically uses flex styles to match height between cards in the same row.
  </su-message>
  <su-segment basic>
    <su-card>
      <su-img src="https://semantic-ui.com/images/avatar2/large/kristy.png" />
      <su-content>
        <su-header tag="a">Kristy</su-header>
        <su-meta>
          <span class="date">Joined in 2013</span>
        </su-meta>
        <su-description>
          Kristy is an art director living in New York.
        </su-description>
      </su-content>
      <su-extra-content>
        <a>
          <su-icon name="user" />
          22 Friends
        </a>
      </su-extra-content>
    </su-card>

    <su-divider hidden />

    <su-card>
      <su-content>
        <su-meta floated="right">14h</su-meta>
        <su-img avatar src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
        Elliot
      </su-content>
      <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
      <su-content>
        <span class="right floated">
          <su-icon name="heart outline like" />
          17 likes
        </span>
        <su-icon name="comment" />
        3 comments
      </su-content>
      <su-extra-content>
        <su-input transparent
          size="large"
          icon-left="heart outline icon"
          type="text"
          placeholder="Add Comment..." />
      </su-extra-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Cards</su-header>
  <div>
    A group of cards.
  </div>
  <su-message info>
    Cards are designed to be flexible to your content. <code>content</code> blocks can include any custom elements related to your content.
  </su-message>
  <su-segment basic>
    <su-cards>
      <su-card>
        <su-content>
          <su-img floated="right" size="mini" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
          <su-header>Elliot Fu</su-header>
          <su-meta>Friends of Veronika</su-meta>
          <su-description>
            Elliot requested permission to view your contact details
          </su-description>
        </su-content>
        <su-extra-content>
          <su-buttons column="two">
            <su-button basic color="green">Approve</su-button>
            <su-button basic color="red">Decline</su-button>
          </su-buttons>
        </su-extra-content>
      </su-card>
      <su-card>
        <su-content>
          <su-img floated="right" size="mini" src="https://semantic-ui.com/images/avatar/large/jenny.jpg" />
          <su-header>Jenny Hess</su-header>
          <su-meta>New Member</su-meta>
          <su-description>
            Jenny wants to add you to the group <strong>best friends</strong>
          </su-description>
        </su-content>
        <su-extra-content>
          <su-buttons column="two">
            <su-button basic color="green">Approve</su-button>
            <su-button basic color="red">Decline</su-button>
          </su-buttons>
        </su-extra-content>
      </su-card>
    </su-cards>

    <su-divider hidden />

    <su-cards link>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar2/large/matthew.png" />
        <su-content>
          <su-header>Matt Giampietro</su-header>
          <su-meta>
            <a>Friends</a>
          </su-meta>
          <su-description>
            Matthew is an interior designer living in New York.
          </su-description>
        </su-content>
        <su-extra-content>
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <su-icon name="user" />
            75 Friends
          </span>
        </su-extra-content>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar2/large/molly.png" />
        <su-content>
          <su-header>Molly</su-header>
          <su-meta>
            <a>Coworker</a>
          </su-meta>
          <su-description>
            Molly is a personal assistant living in Paris.
          </su-description>
        </su-content>
        <su-extra-content>
          <span class="right floated">
            Joined in 2011
          </span>
          <span>
            <su-icon name="user" />
            35 Friends
          </span>
        </su-extra-content>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar2/large/elyse.png" />
        <su-content>
          <su-header>Elyse</su-header>
          <su-meta>
            <a>Coworker</a>
          </su-meta>
          <su-description>
            Elyse is a copywriter working in New York.
          </su-description>
        </su-content>
        <su-extra-content>
          <span class="right floated">
            Joined in 2014
          </span>
          <span>
            <su-icon name="user" />
            151 Friends
          </span>
        </su-extra-content>
      </su-card>
    </su-cards>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
