1<template>
<su-segment basic id="example">
  <su-header tag="h2">Variations</su-header>

  <su-divider />

  <su-header tag="h4">Fluid Card</su-header>
  <div>
    A fluid card takes up the width of its container
  </div>
  <su-segment basic>
    <su-grid column="three">
      <su-column>
        <su-card fluid>
          <su-img src="https://semantic-ui.com/images/avatar/large/daniel.jpg" />
          <su-content>
            <su-header tag="a">Daniel Louise</su-header>
          </su-content>
        </su-card>
      </su-column>
      <su-column>
        <su-card fluid>
          <su-img src="https://semantic-ui.com/images/avatar/large/helen.jpg" />
          <su-content>
            <su-header tag="a">Helen Troy</su-header>
          </su-content>
        </su-card>
      </su-column>
      <su-column>
        <su-card fluid>
          <su-img src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
          <su-content>
            <su-header tag="a">Elliot Fu</su-header>
          </su-content>
        </su-card>
      </su-column>
    </su-grid>
  </su-segment>

  <su-header tag="h4">Centered Card</su-header>
  <div>
    A card can center itself inside its container
  </div>
  <su-segment basic>
    <su-card centered>
      <su-img src="https://semantic-ui.com/images/avatar2/large/elyse.png" />
      <su-content>
        <su-header tag="a">Elyse</su-header>
      </su-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Centered Card</su-header>
  <div>
    A card can center itself inside its container
  </div>
  <su-segment basic>
    <su-card raised>
      <su-content>
        <su-header>Cute Dog</su-header>
        <su-meta>
          <span class="category">Animals</span>
        </su-meta>
        <su-description>
          <p>
            <su-img src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
        </su-description>
      </su-content>
      <su-extra-content>
        <div class="right floated author">
          <su-img avatar src="https://semantic-ui.com/images/avatar/small/matt.jpg" /> Matt
        </div>
      </su-extra-content>
    </su-card>

    <su-divider hidden />

    <su-card link>
      <su-content>
        <su-header>Cute Dog</su-header>
        <su-meta>
          <span class="category">Animals</span>
        </su-meta>
        <su-description>
          <p>
            <su-img src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
        </su-description>
      </su-content>
      <su-extra-content>
        <div class="right floated author">
          <su-img avatar src="https://semantic-ui.com/images/avatar/small/matt.jpg" /> Matt
        </div>
      </su-extra-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Floated Card</su-header>
  <div>
    Any content element can be floated left or right
  </div>
  <su-message info>
    <su-icon name="info" />
    You can include an arbitrary amount of metadata using your own class conventions, all child elements will automatically be spaced
  </su-message>
  <su-segment basic>
    <su-card raised>
      <su-content>
        <su-header>Cute Dog</su-header>
        <su-meta>
          <span class="right floated time">2 days ago</span>
          <span class="category">Animals</span>
        </su-meta>
        <su-description>
          <p>
            <su-img src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
        </su-description>
      </su-content>
      <su-extra-content>
        <div class="right floated author">
          <su-img avatar src="https://semantic-ui.com/images/avatar/small/matt.jpg" /> Matt
        </div>
      </su-extra-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Text Alignment</su-header>
  <div>
    Any element inside a card can have its text alignment specified
  </div>
  <su-message info>
    <su-icon name="info" />
    You can include an arbitrary amount of metadata using your own class conventions, all child elements will automatically be spaced
  </su-message>
  <su-segment basic>
    <su-card>
      <su-content aligned="center">
        <su-header>Jenny Hess</su-header>
        <su-description>
          <p>Jenny is a student studying Media Management at the New School</p>
        </su-description>
      </su-content>
      <su-extra-content aligned="center">
        <div class="author">
          <su-img avatar src="http://semantic-ui.com/images/avatar/small/jenny.jpg" /> Jenny
        </div>
      </su-extra-content>
    </su-card>
  </su-segment>

  <su-header tag="h4">Colored</su-header>
  <div>
    A card can specify a color
  </div>
  <su-segment basic>
    <su-cards column="4">
      <su-card link color="red">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="orange">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="yellow">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="olive">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="green">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="teal">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="blue">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="violet">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="purple">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="pink">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="brown">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="grey">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
      <su-card link color="black">
        <su-img src="https://semantic-ui.com/images/wireframe/white-image.png" />
      </su-card>
    </su-cards>
  </su-segment>

  <su-header tag="h4">Column Count</su-header>
  <div>
    A group of cards can set how many cards should exist in a row
  </div>
  <su-segment basic>
    <su-cards column="4">
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/wireframe/image.png" />
        <su-extra>
          Rating:
          <div class="ui star rating" data-rating="4">
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
            <su-icon name="active" />
          </div>
        </su-extra>
      </su-card>
    </su-cards>
  </su-segment>

  <su-header tag="h4">Stackable</su-header>
  <div>
    A group of cards can automatically stack rows to a single columns on mobile devices
  </div>
  <su-message warning>
    Resize your browser to a smaller size to see the cards stack after reaching mobile breakpoints
  </su-message>
  <su-segment basic>
    <su-cards stackable column="3">
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/helen.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/jenny.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/veronika.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/stevie.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/steve.jpg" />
      </su-card>
    </su-cards>
  </su-segment>

  <su-header tag="h4">Doubling</su-header>
  <div>
    A group of cards can double its column width for mobile
  </div>
  <su-message warning>
    Resize your browser to a smaller size to see the cards stack after reaching mobile breakpoints
  </su-message>
  <su-segment basic>
    <su-cards doubling column="6">
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/helen.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/jenny.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/veronika.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/stevie.jpg" />
      </su-card>
      <su-card>
        <su-img src="https://semantic-ui.com/images/avatar/large/steve.jpg" />
      </su-card>
    </su-cards>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
