<template>
<section>
  <!-- <Test /> -->
  <su-menu inverted
    borderless
    size="big"
    fixed="top">
    <su-item fitted>
      <su-button @click="$store.state.sidebar.visible = !$store.state.sidebar.visible"
        fluid
        icon="bars"
        color="black" />
    </su-item>
    <su-item header>
      <img src="../../assets/imgs/favicon.png" class="img-logo" />
      &nbsp;
      Semantic UI for Vue.js
    </su-item>
  </su-menu>

  <su-segment basic>
    <router-view />
  </su-segment>
</section>
</template>

<script>
// import Test from '../Test.vue';

export default {
  name: 'Demo',

  data()  {
    return {
      visibleSidebar: false
    }
  },

  watch: {
    $route() {
      this.$store.state.sidebar.visible = false;
    }
  },

  created() {
    // console.log(require('../../../../vuejs-semantic-ui/package.json'));
  }
}
</script>
