<template>
<section>
  <su-header element="h1">
    Table
    <su-header sub>
      테이블은 행으로 데이터 그룹의 컬렉션을 나타냅니다.
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <States />
  <Variations />

</section>
</template>

<script>
import Types from './Types.vue'
import States from './States.vue'
import Variations from './Variations.vue'


export default {
  name: 'DemoTable',

  components: {
    Types,
    States,
    Variations
  },
}
</script>

