1<template>
<su-segment basic id="example">
  <su-header tag="h2">States</su-header>

  <su-divider />

  <su-header tag="h4">Positive / Negative</su-header>
  <div>
    행이나 열을 사용자가 봤을 때 좋음과 나쁨 상태로 인식할 수 있또록 표시할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>No Name Specified</su-td>
          <su-td>Unknown</su-td>
          <su-td negative>None</su-td>
        </su-tr>
        <su-tr positive>
          <su-td>Jimmy</su-td>
          <su-td><su-icon name="checkmark" /> Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Unknown</su-td>
          <su-td positive><su-icon name="close" /> Requires call</su-td>
        </su-tr>
        <su-tr negative>
          <su-td>Jill</su-td>
          <su-td>Unknown</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Error</su-header>
  <div>
    행이나 열을 에러 혹은 나쁨 상태로 표시할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>No Name Specified</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr error>
          <su-td>Jimmy</su-td>
          <su-td>Cannot pull data</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td error><su-icon name="attention" /> Classified</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Warning</su-header>
  <div>
    행이나 열을 경고 상태로 표시할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>No Name Specified</su-td>
          <su-td>Unknown</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr warning>
          <su-td>Jimmy</su-td>
          <su-td><su-icon name="attention" /> Requires Action</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Unknown</su-td>
          <su-td warning><su-icon name="attention" /> Hostile</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Unknown</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Active</su-header>
  <div>
    특정 행이나 열을 사용자에 의해 선택됐거나 활성된 상태로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <tbody>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr active>
          <su-td>John</su-td>
          <su-td>Selected</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td active>Jill</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
      </tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4"></su-header>
  <div>

  </div>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <tbody>
        <su-tr disabled>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Selected</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td disabled>Jill</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
      </tbody>
    </su-table>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
