1<template>
<su-segment basic id="example">
  <su-header tag="h2">Types</su-header>

  <su-divider />

  <su-header tag="h4">Table</su-header>
  <div>
    테이블
  </div>
  <su-message  positive>
    <su-content>Tables will automatically stack their layouts for mobile devices. To disable this behavior, use the</su-content>
    <su-content><code>unstackable</code> variation or <code>tablet stackable</code> to allow responsive adjustments for tablet. </su-content>
  </su-message>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Header</su-th>
          <su-th>Header</su-th>
          <su-th>Header</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>
            <su-label ribbon>First</su-label>
          </su-td>
          <su-td>Cell</su-td>
          <su-td>Cell</su-td>
        </su-tr>
        <su-tr>
          <su-td>Cell</su-td>
          <su-td>Cell</su-td>
          <su-td>Cell</su-td>
        </su-tr>
        <su-tr>
          <su-td>Cell</su-td>
          <su-td>Cell</su-td>
          <su-td>Cell</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot>
        <su-tr>
          <su-th colspan="3">
            <su-menu floated="right" pagination>
              <su-item icon="left chevron" tag="a"></su-item>
              <su-item tag="a">1</su-item>
              <su-item tag="a">2</su-item>
              <su-item tag="a">3</su-item>
              <su-item tag="a">4</su-item>
              <su-item icon="right chevron" tag="a"></su-item>
            </su-menu>
          </su-th>
        </su-tr>
      </su-tfoot>
    </su-table>

    <su-divider hidden />

    <su-table celled padded>
      <su-thead>
        <su-tr>
          <su-th single-line>Evidence Rating</su-th>
          <su-th>Effect</su-th>
          <su-th>Efficacy</su-th>
          <su-th>Consensus</su-th>
          <su-th>Comments</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>
            <su-header tag="h2" aligned="center">A</su-header>
          </su-td>
          <su-td single-line>
            Power Output
          </su-td>
          <su-td>
            <div class="ui star rating disabled" data-rating="3" data-max-rating="3"><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i></div>
          </su-td>
          <su-td aligned="right">
            80% <br>
            <a href="#">18 studies</a>
          </su-td>
          <su-td>Creatine supplementation is the reference compound for increasing muscular creatine levels; there is variability in this increase, however, with some nonresponders.</su-td>
        </su-tr>
        <su-tr>
          <su-td>
            <su-header tag="h2" aligned="center">A</su-header>
          </su-td>
          <su-td single-line>
            Weight
          </su-td>
          <su-td>
            <div class="ui star rating disabled" data-rating="3" data-max-rating="3"><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i></div>
          </su-td>
          <su-td aligned="right">
            100% <br>
            <a href="#">65 studies</a>
          </su-td>
          <su-td>Creatine is the reference compound for power improvement, with numbers from one meta-analysis to assess potency</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-divider hidden />

    <su-table basic="very" collapsing celled>
      <su-thead>
        <su-tr>
          <su-th>Employee</su-th>
          <su-th>Correct Guesses</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>
            <su-header tag="h4">
              <su-img rounded src="https://semantic-ui.com/images/avatar2/small/lena.png" size="mini" />
              <su-content>
                Lena
                <su-header sub>Human Resources</su-header>
              </su-content>
            </su-header>
          </su-td>
          <su-td>
            22
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>
            <su-header tag="h4">
              <su-img rounded src="https://semantic-ui.com/images/avatar2/small/matthew.png" size="mini" />
              <su-content>
                Matthew
                <su-header sub>Fabric Design</su-header>
              </su-content>
            </su-header>
          </su-td>
          <su-td>
            15
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>
            <su-header tag="h4">
              <su-img rounded src="https://semantic-ui.com/images/avatar2/small/lindsay.png" size="mini" />
              <su-content>
                Lindsay
                <su-header sub>Entertainment</su-header>
              </su-content>
            </su-header>
          </su-td>
          <su-td>
            12
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>
            <su-header tag="h4">
              <su-img rounded src="https://semantic-ui.com/images/avatar2/small/mark.png" size="mini" />
              <su-content>
                Mark
                <su-header sub>Executive</su-header>
              </su-content>
            </su-header>
          </su-td>
          <su-td>
            11
          </su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-divider hidden />

    <su-table celled striped>
      <su-thead>
        <su-tr>
          <su-th colspan="3">
            Git Repository
          </su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td collapsing>
            <su-icon name="folder" />
            node_modules
          </su-td>
          <su-td>
            Initial commit
          </su-td>
          <su-td collapsing aligend="right">
            10 hours ago
          </su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-icon name="folder" />
            test
          </su-td>
          <su-td>
            Initial commit
          </su-td>
          <su-td collapsing aligend="right">
            10 hours ago
          </su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-icon name="folder" />
            build
          </su-td>
          <su-td>
            Initial commit
          </su-td>
          <su-td collapsing aligend="right">
            10 hours ago
          </su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-icon name="file outline" />
            package.json
          </su-td>
          <su-td>
            Initial commit
          </su-td>
          <su-td collapsing aligend="right">
            10 hours ago
          </su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-icon name="file outline" />
            Gruntfile.js
          </su-td>
          <su-td>
            Initial commit
          </su-td>
          <su-td collapsing aligend="right">
            10 hours ago
          </su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Definition</su-header>
  <div>
    열의 첫번째 행을 강조할 수 있습니다.
  </div>
  <su-message  info>
    <su-content>Definition tables are designed to display on a single background color. You can adjust this by</su-content>
    <su-content>changing <code>@definitionPageBackground</code>, or specifying a background color on the first cell</su-content>
  </su-message>
  <su-segment basic>
    <su-table definition>
      <su-thead>
        <su-tr>
          <su-th></su-th>
          <su-th>Arguments</su-th>
          <su-th>Description</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>reset rating</su-td>
          <su-td>None</su-td>
          <su-td>Resets rating to default value</su-td>
        </su-tr>
        <su-tr>
          <su-td>set rating</su-td>
          <su-td>rating (integer)</su-td>
          <su-td>Sets the current star rating to specified value</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-divider hidden />

    <su-table  celled definition>
      <su-thead>
        <su-tr>
          <su-th></su-th>
          <su-th>Name</su-th>
          <su-th>Registration Date</su-th>
          <su-th>E-mail address</su-th>
          <su-th>Premium Plan</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td collapsing>
            <su-checkbox fitted slider />
          </su-td>
          <su-td>John Lilki</su-td>
          <su-td>September 14, 2013</su-td>
          <su-td>jhlilk22@yahoo.com</su-td>
          <su-td>No</su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-checkbox fitted slider />
          </su-td>
          <su-td>Jamie Harington</su-td>
          <su-td>January 11, 2014</su-td>
          <su-td>jamieharingonton@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-checkbox fitted slider />
          </su-td>
          <su-td>Jill Lewis</su-td>
          <su-td>May 11, 2014</su-td>
          <su-td>jilsewris22@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot full-width>
        <su-tr>
          <su-th></su-th>
          <su-th colspan="4">
            <su-button labeled primary icon="user" floated="right" size="small">
              Add User
            </su-button>
            <su-button size="small">
              Approve
            </su-button>
            <su-button disabled size="small">
              Approve All
            </su-button>
          </su-th>
        </su-tr>
      </su-tfoot>
    </su-table>
  </su-segment>

  <su-header tag="h4">Structured</su-header>
  <div>
    복합된 구조화된 데이터를 나타낼 수 있습니다.
  </div>
  <su-message info >
    <su-content>
      UI tables use <code>border-collapse: separate</code> to allow for tables to receive styles that cannot usually be
    </su-content>
    <su-content>
      applied to tables like <code>border-radius</code>. However this can cause some cell borders to appear missing with
    </su-content>
    <su-content>
      complex layouts that use <code>rowspan</code> or colspan and rows with varying column count.
    </su-content>
    <su-content>
      <code>ui structured table</code> does not support some style features, but can correctly display all valid HTML table
    </su-content>
    <su-content>
      content.
    </su-content>
  </su-message>
  <su-segment basic>
    <su-table celled structured>
      <su-thead>
        <su-tr>
          <su-th rowspan="2">Name</su-th>
          <su-th rowspan="2">Type</su-th>
          <su-th rowspan="2">Files</su-th>
          <su-th colspan="3">Languages</su-th>
        </su-tr>
        <su-tr>
          <su-th>Ruby</su-th>
          <su-th>JavaScript</su-th>
          <su-th>Python</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>Alpha Team</su-td>
          <su-td>Project 1</su-td>
          <su-td text-align="right">2</su-td>
          <su-td text-align="center">
            <su-icon name="large green checkmark" />
          </su-td>
          <su-td></su-td>
          <su-td></su-td>
        </su-tr>
        <su-tr>
          <su-td rowspan="3">Beta Team</su-td>
          <su-td>Project 1</su-td>
          <su-td text-align="right">52</su-td>
          <su-td text-align="center">
            <su-icon name="large green checkmark" />
          </su-td>
          <su-td></su-td>
          <su-td></su-td>
        </su-tr>
        <su-tr>
          <su-td>Project 2</su-td>
          <su-td text-align="right">12</su-td>
          <su-td></su-td>
          <su-td text-align="center">
            <su-icon name="large green checkmark" />
          </su-td>
          <su-td></su-td>
        </su-tr>
        <su-tr>
          <su-td>Project 3</su-td>
          <su-td text-align="right">21</su-td>
          <su-td text-align="center">
            <su-icon name="large green checkmark" />
          </su-td>
          <su-td></su-td>
          <su-td></su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
