1<template>
<su-segment basic id="example">
  <su-header tag="h2">Variations</su-header>

  <su-divider />

  <su-header tag="h4">Single Line</su-header>
  <div>
    테이블의 행을 묶지 않고 한 줄로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-table single-line>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Registration Date</su-th>
          <su-th>E-mail address</su-th>
          <su-th>Premium Plan</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John Lilki</su-td>
          <su-td>September 14, 2013</su-td>
          <su-td>jhlilk22@yahoo.com</su-td>
          <su-td>No</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie Harington</su-td>
          <su-td>January 11, 2014</su-td>
          <su-td>jamieharingonton@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill Lewis</su-td>
          <su-td>May 11, 2014</su-td>
          <su-td>jilsewris22@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Fixed</su-header>
  <div>
    테이블은 컨텐츠를 기반으로 행의 크기를 조정하지 않는 특수한 형식의 테이블 렌더링을 <code> table-layout : fixed </code> 형식으로 사용할 수 있습니다.
  </div>
  <su-message info>
    <su-content>
      Fixed <code>single line</code> tables will automatically ensure content that does not fit in a single line will receive "..." ellipsis
    </su-content>
  </su-message>
  <su-segment basic>
    <su-table fixed>
      <su-thead>
        <su-tr><su-th>Name</su-th>
        <su-th>Status</su-th>
        <su-th>Description</su-th>
      </su-tr></su-thead>
      <tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>John is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>Jill is an alright girl but sometimes you don't really have enough room to describe everything you'd like</su-td>
        </su-tr>
      </tbody>
    </su-table>

    <su-divider hidden />

    <su-table fixed single-line celled>
      <su-thead>
        <su-tr><su-th>Name</su-th>
        <su-th>Status</su-th>
        <su-th>Description</su-th>
      </su-tr></su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td title="This is much too long to fit I'm sorry about that">This is much too long to fit I'm sorry about that</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Shorter description</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>Shorter description</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Stacking</su-header>
  <div>
    테이블 컨텐츠를 어떤식으로 쌓을지 반응형으로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-table unstackable>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th text-align="right">Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
    <su-table tablet stackable>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th text-align="right">Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Selectable Row</su-header>
  <div>
    테이블 행을 선택할 수 있도록 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-table selectable celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>No Action</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr warning>
          <su-td>John</su-td>
          <su-td>No Action</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td positive>Approved</su-td>
          <su-td warning>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td negative>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-divider hidden />

    <su-table selectable inverted>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th text-align="right">Notes</su-th>
        </su-tr>
      </su-thead>
      <tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
      </tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Selectable Cell</su-header>
  <div>
    테이블 셀을 선택가능하도록 할 수 있습니다.
  </div>
  <su-message info>
    Using an <code>a</code> link inside a selectable cell will automatically make the hit box the entire cell area. By default links will inherit their cell color.
  </su-message>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Edit</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>No Action</su-td>
          <su-td selectable>
            <a href="#">Edit</a>
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td selectable>
            <a href="#">Edit</a>
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td selectable>
            <a href="#">Edit</a>
          </su-td>
        </su-tr>
        <su-tr warning>
          <su-td>John</su-td>
          <su-td>No Action</su-td>
          <su-td selectable warning>
            <a href="#">Requires change</a>
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td positive>Approved</su-td>
          <su-td selectable positive>
            <a href="#">Approve</a>
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td negative>Denied</su-td>
          <su-td selectable negative>
            <a href="#">Remove</a>
          </su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Vertical Alignment</su-header>
  <div>
    테이블 헤더, 열 혹은 셀의 수직 정렬을 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table striped>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr vertical-align="top">
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td vertical-align="top">
            Notes<br>
            1<br>
            2<br>
          </su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td vertical-align="bottom">Approved</su-td>
          <su-td>
            Notes<br>
            1<br>
            2<br>
          </su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Text Alignment</su-header>
  <div>
    테이블 헤더, 열 혹은 셀의 텍스트 정렬을 조정할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table striped>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th text-align="right">Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr text-align="center">
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td text-align="right">Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td text-align="right">None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Striped</su-header>
  <div>
    테이블의 대조성을 표현하기 위해 어두운 색으로 내용의 행을 줄무늬로 표시할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table striped>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Date Joined</su-th>
          <su-th>E-mail</su-th>
          <su-th>Called</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John Lilki</su-td>
          <su-td>September 14, 2013</su-td>
          <su-td>jhlilk22@yahoo.com</su-td>
          <su-td>No</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie Harington</su-td>
          <su-td>January 11, 2014</su-td>
          <su-td>jamieharingonton@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill Lewis</su-td>
          <su-td>May 11, 2014</su-td>
          <su-td>jilsewris22@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
        <su-tr>
          <su-td>John Lilki</su-td>
          <su-td>September 14, 2013</su-td>
          <su-td>jhlilk22@yahoo.com</su-td>
          <su-td>No</su-td>
        </su-tr>
        <su-tr>
          <su-td>John Lilki</su-td>
          <su-td>September 14, 2013</su-td>
          <su-td>jhlilk22@yahoo.com</su-td>
          <su-td>No</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie Harington</su-td>
          <su-td>January 11, 2014</su-td>
          <su-td>jamieharingonton@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill Lewis</su-td>
          <su-td>May 11, 2014</su-td>
          <su-td>jilsewris22@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
        <su-tr>
          <su-td>John Lilki</su-td>
          <su-td>September 14, 2013</su-td>
          <su-td>jhlilk22@yahoo.com</su-td>
          <su-td>No</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Celled</su-header>
  <div>
    테이블은 각각의 행 내부의 셀을 분리하여 나눌 수 있습니다.
  </div>
  <su-segment basic>
    <su-table celled>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
        <su-th></su-th>
      </su-tr></su-tfoot>
    </su-table>
  </su-segment>

  <su-header tag="h4">Basic</su-header>
  <div>
    테이블의 복잡성을 줄여 가독성을 높일 수 있습니다.
  </div>
  <su-segment basic>
    <su-table basic>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-divider hidden />

    <su-table basic="very">
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Collapsing Cell</su-header>
  <div>
    셀을 필요한 만큼의 공간만 확보하도록 할 수 있습니다.
  </div>
  <su-message warning icon="warning">
    <su-content>
      To ensure icons don't wrap to a separate line you must either specify collapsing on the widest row in the collapsing column, or on all rows
    </su-content>
  </su-message>
  <su-segment basic>
    <su-table>
      <su-tbody>
        <su-tr>
          <su-td collapsing>
            <su-icon name="folder" /> node_modules
          </su-td>
          <su-td>Initial commit</su-td>
          <su-td>10 hours ago</su-td>
        </su-tr>
        <su-tr>
          <su-td>
            <su-icon name="folder" /> test
          </su-td>
          <su-td>Initial commit</su-td>
          <su-td>10 hours ago</su-td>
        </su-tr>
        <su-tr>
          <su-td>
            <su-icon name="folder" /> build
          </su-td>
          <su-td>Initial commit</su-td>
          <su-td>10 hours ago</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Column Count</su-header>
  <div>
    테이블의 열의 수를 지정하여 컨텐츠의 내용을 동일한 크기로 나눌 수 있습니다.
  </div>
  <su-segment basic>
    <su-table column="five">
      <su-thead>
        <su-tr><su-th>Name</su-th>
        <su-th>Status</su-th>
        <su-th>Age</su-th>
        <su-th>Gender</su-th>
        <su-th>Notes</su-th>
      </su-tr></su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>22</su-td>
          <su-td>Male</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>32</su-td>
          <su-td>Male</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>22</su-td>
          <su-td>Female</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
        <su-th></su-th>
        <su-th></su-th>
        <su-th></su-th>
      </su-tr></su-tfoot>
    </su-table>
  </su-segment>

  <su-header tag="h4">Column Width</su-header>
  <div>
    각각의 열의 크기를 독립적으로 지정할 수 있습니다.
  </div>
  <su-message info>
    Tables use a 16 column grid similar to <a href="https://semantic-ui.com/collections/grid.html">ui grid</a>
  </su-message>
  <su-segment basic>
    <su-table>
      <su-thead>
        <su-tr><su-th width="ten">Name</su-th>
        <su-th width="six">Status</su-th>
      </su-tr></su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
      </su-tr></su-tfoot>
    </su-table>
  </su-segment>

  <su-header tag="h4">Collapsing</su-header>
  <div>
    테이블은 행만큼의 공간을 차지합니다.
  </div>
  <su-segment basic>
    <su-table collapsing>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
      <tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
        <su-th></su-th>
      </su-tr></tfoot>
    </su-table>
  </su-segment>

  <su-header tag="h4">Colored</su-header>
  <div>
    테이블은 다른 테이블과 구분되도록 다른 색으로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-table color="red">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="orange">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="yellow">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="olive">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="green">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="teal">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="blue">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="violet">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="purple">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="pink">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="grey">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table color="black">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Inverted</su-header>
  <div>
    테이블의 색상을 반전시킬 수 있습니다.
  </div>
  <su-segment basic>
    <su-table inverted>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
        <su-th></su-th>
      </su-tr></su-tfoot>
    </su-table>

    <su-table inverted color="red">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="orange">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="yellow">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="olive">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="green">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="teal">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="blue">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="violet">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="purple">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="pink">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="grey">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-table inverted color="black">
      <su-thead>
        <su-tr><su-th>Food</su-th>
        <su-th>Calories</su-th>
        <su-th>Protein</su-th>
      </su-tr></su-thead><su-tbody>
        <su-tr>
          <su-td>Apples</su-td>
          <su-td>200</su-td>
          <su-td>0g</su-td>
        </su-tr>
        <su-tr>
          <su-td>Orange</su-td>
          <su-td>310</su-td>
          <su-td>0g</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Sortable</su-header>
  <div>
    A table may allow a user to sort contents by clicking on a table header.
  </div>
  <su-message warning>
    Adding the class <code>ascending</code> or <code>descending</code> to the th will show the user the sorting direction. This example uses a modified version of the kylefox's tablesort plugin to provide the proper class names. To make sortable tables work, include this javascript into your page and call <code>$('table').tablesort()</code> when the DOM is ready.
  </su-message>
  <su-segment basic>
    <su-table sortable celled>
      <su-thead>
        <su-tr>
          <su-th sorted="descending">Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
      <su-tr>
          <su-td>John</su-td>
          <su-td>No Action</su-td>
          <su-td>None</su-td>
        </su-tr><su-tr>
          <su-td>Jill</su-td>
          <su-td negative>Denied</su-td>
          <su-td>None</su-td>
        </su-tr><su-tr>
          <su-td>Jamie</su-td>
          <su-td positive>Approved</su-td>
          <su-td warning>Requires call</su-td>
        </su-tr></su-tbody>
      <su-tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
        <su-th></su-th>
      </su-tr></su-tfoot>
    </su-table>
  </su-segment>

  <su-header tag="h4">Full-Width Header / Footer</su-header>
  <div>
    정의된 테이블은 전체 너비의 머리말 또는 꼬리말을 가질 수 있으며, 첫 번째 열에 의해 남겨진 틈을 채 웁니다
  </div>
  <su-segment basic>
    <su-table compact celled definition>
      <su-thead full-width>
        <su-tr>
          <su-th></su-th>
          <su-th>Name</su-th>
          <su-th>Registration Date</su-th>
          <su-th>E-mail address</su-th>
          <su-th>Premium Plan</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td collapsing>
            <su-checkbox fitted slider />
          </su-td>
          <su-td>John Lilki</su-td>
          <su-td>September 14, 2013</su-td>
          <su-td>jhlilk22@yahoo.com</su-td>
          <su-td>No</su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-checkbox fitted slider />
          </su-td>
          <su-td>Jamie Harington</su-td>
          <su-td>January 11, 2014</su-td>
          <su-td>jamieharingonton@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
        <su-tr>
          <su-td collapsing>
            <su-checkbox fitted slider />
          </su-td>
          <su-td>Jill Lewis</su-td>
          <su-td>May 11, 2014</su-td>
          <su-td>jilsewris22@yahoo.com</su-td>
          <su-td>Yes</su-td>
        </su-tr>
      </su-tbody>
      <tfoot full-width>
        <su-tr>
          <su-th></su-th>
          <su-th colspan="4">
            <su-button primary labeled icon="user" floated="right" size="small">
              Add User
            </su-button>
            <su-button size="small">
              Approve
            </su-button>
            <su-button disabled size="small">
              Approve All
            </su-button>
          </su-th>
        </su-tr>
      </tfoot>
    </su-table>
  </su-segment>

  <su-header tag="h4">Padded</su-header>
  <div>
    가독성을 위해 여백을 더 필요로할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table padded>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td googl="true">He is a very nice guy and I enjoyed talking to him on the telephone. I hope we get to talk again.</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Jamie was not interested in purchasing our product.</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-divider hidden />

    <su-table padded="very">
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td googl="true">He is a very nice guy and I enjoyed talking to him on the telephone. I hope we get to talk again.</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Jamie was not interested in purchasing our product.</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Compact</su-header>
  <div>
    한번에 더 많은 행을 보이게 하기 위해 테이블을 더 아담하게 할 필요가 있습니다.
  </div>
  <su-segment basic>
    <su-table compact>
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
      </su-tbody>
    </su-table>

    <su-divider hidden />

    <su-table compact="very">
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
      </su-tbody>
    </su-table>
  </su-segment>

  <su-header tag="h4">Size</su-header>
  <div>
    테이블 크기를 작게 혹은 크게 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-table size="small">
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
        <su-th></su-th>
      </su-tr></su-tfoot>
    </su-table>

    <su-divider hidden />

    <su-table size="large">
      <su-thead>
        <su-tr>
          <su-th>Name</su-th>
          <su-th>Status</su-th>
          <su-th>Notes</su-th>
        </su-tr>
      </su-thead>
      <su-tbody>
        <su-tr>
          <su-td>John</su-td>
          <su-td>Approved</su-td>
          <su-td>None</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jamie</su-td>
          <su-td>Approved</su-td>
          <su-td>Requires call</su-td>
        </su-tr>
        <su-tr>
          <su-td>Jill</su-td>
          <su-td>Denied</su-td>
          <su-td>None</su-td>
        </su-tr>
      </su-tbody>
      <su-tfoot>
        <su-tr><su-th>3 People</su-th>
        <su-th>2 Approved</su-th>
        <su-th></su-th>
      </su-tr></su-tfoot>
    </su-table>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
