<template>
<su-segment basic id="example">
  <h4>Content</h4>

  <su-divider />

  <su-header element="h4">Rows</su-header>
  <div>
    행은 수평 열(Column)의 집합입니다.
  </div>
  <su-segment basic>
    <su-grid :column="3">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Columns</su-header>
  <div>
    Columns each contain gutters giving them equal spacing from other columns.
  </div>
  <su-segment basic>
    <su-grid :column="3">
      <su-row>
        <su-column :wide="8">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column :wide="8">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
      <su-row>
        <su-column :wide="8">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column :wide="8">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Content'
}
</script>
