<template>
<section>
  <su-header element="h1">
    Grid
    <su-header sub>
      그리드는 레이아웃의 여백과의 조화를 위해 사용됩니다
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <Content />
  <Variations />
  <ResponsiveVariations />
  <!-- <States /> -->
</section>
</template>

<script>
import Types from './Types'
import Content from './Content'
import Variations from './Variations'
import ResponsiveVariations from './ResponsiveVariations'
// import States from './States'

export default {
  name: 'DemoGrid',

  components: {
    Types,
    Content,
    Variations,
    ResponsiveVariations,
    // States,
  }
}
</script>
