<template>
<su-segment basic id="example">
  <h4>Responsive Variations</h4>

  <su-divider />

  <su-header element="h4">Doubling</su-header>
  <div>
    그리드는 테블릿과 모바일 크기에서 열의 너비를 두 배로 늘릴 수 있습니다
  </div>
  <su-segment basic>
    <su-grid doubling :column="5">
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-column>
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-column>
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-column>
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-column>
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-column>
    </su-grid>
  </su-segment>

  <su-header element="h4">Stackable</su-header>
  <div>
    그리드는 모바일 종단점에 도달 후 각각 다른 열이 맨 위에 쌓이도록 할 수 있다.
  </div>
  <su-segment basic>
    <su-grid stackable column="two">
      <su-column>
        <su-segment>
          <p>
            <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
          <p>
            <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
        </su-segment>
      </su-column>
      <su-column>
        <su-segment>
          <p>
            <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
          <p>
            <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
          </p>
        </su-segment>
      </su-column>
    </su-grid>
  </su-segment>

  <su-header element="h4">Reversed</su-header>
  <div>
    그리드 혹은 행은 열을 디바이스 크기에 따라 역으로 정렬 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid computer reversed equal-width>
      <su-row>
        <su-column>
          Computer A Fourth
        </su-column>
        <su-column>
          Computer A Third
        </su-column>
        <su-column>
          Computer A Second
        </su-column>
        <su-column>
          Computer A First
        </su-column>
      </su-row>
      <su-row>
        <su-column>
          Computer B Fourth
        </su-column>
        <su-column>
          Computer B Third
        </su-column>
        <su-column>
          Computer B Second
        </su-column>
        <su-column>
          Computer B First
        </su-column>
      </su-row>
    </su-grid>

    <su-grid tablet reversed equal-width>
      <su-column>
        Tablet Fourth
      </su-column>
      <su-column>
        Tablet Third
      </su-column>
      <su-column>
        Tablet Second
      </su-column>
      <su-column>
        Tablet First
      </su-column>
    </su-grid>
    <su-grid mobile reversed equal-width>
      <su-column>
        Mobile Fourth
      </su-column>
      <su-column>
        Mobile Third
      </su-column>
      <su-column>
        Mobile Second
      </su-column>
      <su-column>
        Mobile First
      </su-column>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid computer vertically reversed>
      <su-row>
        <su-column>Computer Row 4</su-column>
      </su-row>
      <su-row>
        <su-column>Computer Row 3</su-column>
      </su-row>
      <su-row>
        <su-column>Computer Row 2</su-column>
      </su-row>
      <su-row>
        <su-column>Computer Row 1</su-column>
      </su-row>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid tablet vertically reversed>
      <su-row>
        <su-column>Tablet Row 4</su-column>
      </su-row>
      <su-row>
        <su-column>Tablet Row 3</su-column>
      </su-row>
      <su-row>
        <su-column>Tablet Row 2</su-column>
      </su-row>
      <su-row>
        <su-column>Tablet Row 1</su-column>
      </su-row>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid mobile vertically reversed>
      <su-row>
        <su-column>Mobile Row 4</su-column>
      </su-row>
      <su-row>
        <su-column>Mobile Row 3</su-column>
      </su-row>
      <su-row>
        <su-column>Mobile Row 2</su-column>
      </su-row>
      <su-row>
        <su-column>Mobile Row 1</su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Device Visibility</su-header>
  <div>
    열 혹은 행은 특정 디바이스나 스크린 크기에서만 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid>
      <su-row column="two" device="large screen">
        <su-column>
          <su-segment>
            Large Screen
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Large Screen
          </su-segment>
        </su-column>
      </su-row>
      <su-row column="two" device="large screen">
        <su-column>
          <su-segment>
            Widescreen
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Widescreen
          </su-segment>
        </su-column>
      </su-row>
      <su-row column="two" device="mobile">
        <su-column>
          <su-segment>
            Mobile
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Mobile
          </su-segment>
        </su-column>
      </su-row>
      <su-row column="three">
        <su-column device="computer">
          <su-segment>
            Computer
          </su-segment>
        </su-column>
        <su-column device="tablet mobile">
          <su-segment>
            Tablet and Mobile
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            All Sizes
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            All Sizes
          </su-segment>
        </su-column>
      </su-row>
      <su-row column="four" device="computer">
        <su-column>
          <su-segment>
            Computer
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Computer
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Computer
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Computer
          </su-segment>
        </su-column>
      </su-row>
      <su-row column="three" device="tablet">
        <su-column>
          <su-segment>
            Tablet
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Tablet
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>
            Tablet
          </su-segment>
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Responsive Width</su-header>
  <div>
    열은 특정 디바이스에서 특정 너비로 될 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid>
      <su-column mobile="sixteen wide" tablet="eight wide" computer="four wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
      <su-column mobile="sixteen wide" tablet="eight wide" computer="four wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
      <su-column mobile="sixteen wide" tablet="eight wide" computer="four wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
      <su-column mobile="sixteen wide" tablet="eight wide" computer="four wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
      <su-column mobile="sixteen wide" tablet="eight wide" computer="four wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid>
      <su-column large-screen="four wide two wide" widescreen="one wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
      <su-column large-screen="four wide two wide" widescreen="one wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
      <su-column large-screen="four wide two wide" widescreen="one wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
      <su-column large-screen="four wide two wide" widescreen="one wide">
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </p>
      </su-column>
    </su-grid>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'ResponsiveVariations'
}
</script>
