<template>
<su-segment basic id="example">
  <h4>Types</h4>

  <su-divider />

  <su-header element="h4">Grid</su-header>
  <div>
    기본 그리드
  </div>
  <su-segment basic>
    <su-grid>
      <su-column>1</su-column>
      <su-column>2</su-column>
      <su-column>3</su-column>
      <su-column>4</su-column>
      <su-column>5</su-column>
      <su-column>6</su-column>
      <su-column>7</su-column>
      <su-column>8</su-column>
      <su-column>9</su-column>
      <su-column>10</su-column>
      <su-column>11</su-column>
      <su-column>12</su-column>
      <su-column>13</su-column>
      <su-column>14</su-column>
      <su-column>15</su-column>
      <su-column>16</su-column>
    </su-grid>
  </su-segment>

  <su-header element="h4">
    Divided
    <su-label color="black">행(Row)이 필요</su-label>
  </su-header>
  <div>
    그리드는 컬럼 사이에 구분자를 가지고 있을 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid divided :column="3">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        </su-column>
      </su-row>
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">
    Vertically Divided
    <su-label color="black">행(Row)이 필요</su-label>
  </su-header>
  <div>
    그리드는 행 사이에 구분자를 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid divided vertically>
      <su-row :column="2">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
      <su-row :column="3">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">
    Celled
    <su-label color="black">행(Row)이 필요</su-label>
  </su-header>
  <div>
    그리드는 셀로 나눠진 행을 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid celled>
      <su-row>
        <su-column wide="three">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column wide="thirteen">
          <su-image src="https://semantic-ui.com/images/wireframe/centered-paragraph.png" />
        </su-column>
      </su-row>
      <su-row>
        <su-column wide="three">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column wide="ten">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column wide="three">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">
    Internally Celled
    <su-label color="black">행(Row)이 필요</su-label>
  </su-header>
  <div>
    그리드는 셀로 나눠진 행을 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid celled="internally">
      <su-row>
        <su-column wide="three">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column wide="ten">
          <su-image src="https://semantic-ui.com/images/wireframe/centered-paragraph.png" />
        </su-column>
        <su-column wide="three">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
      <su-row>
        <su-column wide="three">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column wide="ten">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column wide="three">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
