<template>
<su-segment basic id="example">
  <h4>Variations</h4>

  <su-divider />

  <su-header element="h4">Floated</su-header>
  <div>
    열은 행 안에서 정상적 배열에 벗어나 왼쪽이나 오른쪽 구석에 배치할 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid>
      <su-row>
        <su-column floated="left" :wide="5">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column floated="right" :wide="5">
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Column Width</su-header>
  <div>
    열은 단독 그리드 칼럼보다 더 다양한 크기를 차지할 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid>
      <su-row>
        <su-column :wide="4">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column :wide="9">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column :wide="3">
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Column Count</su-header>
  <div>
    그리드는 행마다 여러 열을 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid>
      <su-row :column="3">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
      <su-row :column="4">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
      <su-row :column="5">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Equal Width</su-header>
  <div>
    그리드는 너비가 고르게 분포되도록 자동으로 모든 엘리먼트의 크기를 재설정 합니다.
  </div>
  <su-segment basic>
    <su-grid equal-width>
      <su-row>
        <su-column>
          <su-segment>1</su-segment>
        </su-column>
        <su-column :wide="8">
          <su-segment>2</su-segment>
        </su-column>
        <su-column>
          <su-segment>3</su-segment>
        </su-column>
      </su-row>
      <su-row>
        <su-column>
          <su-segment>1</su-segment>
        </su-column>
        <su-column>
          <su-segment>2</su-segment>
        </su-column>
        <su-column>
          <su-segment>3</su-segment>
        </su-column>
        <su-column>
          <su-segment>4</su-segment>
        </su-column>
      </su-row>
      <su-row>
        <su-column>
          <su-segment>1</su-segment>
        </su-column>
        <su-column>
          <su-segment>2</su-segment>
        </su-column>
        <su-column>
          <su-segment>3</su-segment>
        </su-column>
      </su-row>
      <su-row>
        <su-column>
          <su-segment>1</su-segment>
        </su-column>
        <su-column>
          <su-segment>2</su-segment>
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Stretched</su-header>
  <div>
    행은 컨텐츠에 따라 열 전체 높이를 조정할 수 있다.
  </div>
  <su-segment basic>
    <su-grid divided :column="3">
      <su-row stretched>
        <su-column>
          <su-segment>1</su-segment>
        </su-column>
        <su-column>
          <su-segment>1</su-segment>
          <su-segment>2</su-segment>
        </su-column>
        <su-column>
          <su-segment>1</su-segment>
          <su-segment>2</su-segment>
          <su-segment>3</su-segment>
        </su-column>
      </su-row>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid equal-width>
      <su-row stretched>
        <su-column>
          <su-segment>1</su-segment>
          <su-segment>2</su-segment>
        </su-column>
        <su-column :wide="6">
          <su-segment>
            <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>1</su-segment>
          <su-segment>2</su-segment>
        </su-column>
      </su-row>
      <su-row>
        <su-column>
          <su-segment>1</su-segment>
          <su-segment>2</su-segment>
        </su-column>
        <su-column :wide="6">
          <su-segment>
            <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
          </su-segment>
        </su-column>
        <su-column>
          <su-segment>1</su-segment>
          <su-segment>2</su-segment>
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Padded</su-header>
  <div>
    A grid can preserve its vertical and horizontal gutters on first and last columns The following grid has vertical and horizontal gutters
  </div>
  <su-segment basic>
    <su-divider></su-divider>
    <su-grid padded :column="2">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>

    <su-divider></su-divider>
    <su-grid vertically padded :column="2">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>

    <su-divider></su-divider>
    <su-grid horizontally padded :column="2">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Relaxed</su-header>
  <div>
    A grid can increase its gutters to allow for more negative space
  </div>
  <su-segment basic>
    <su-grid relaxed :column="4">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid relaxed="very" :column="4">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Colored</su-header>
  <div>
    행열에 색을 넣을 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid padded :column="5">
      <su-column color="red">Red</su-column>
      <su-column color="orange">Orange</su-column>
      <su-column color="yellow">Yellow</su-column>
      <su-column color="olive">Olive</su-column>
      <su-column color="green">Green</su-column>
      <su-column color="teal">Teal</su-column>
      <su-column color="blue">Blue</su-column>
      <su-column color="violet">Violet</su-column>
      <su-column color="purple">Purple</su-column>
      <su-column color="pink">Pink</su-column>
      <su-column color="brown">Brown</su-column>
      <su-column color="grey">Grey</su-column>
      <su-column color="black">Black</su-column>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid padded>
      <su-row color="red">
        <su-column>Red</su-column>
      </su-row>
      <su-row color="orange">
        <su-column>Orange</su-column>
      </su-row>
      <su-row color="yellow">
        <su-column>Yellow</su-column>
      </su-row>
      <su-row color="olive">
        <su-column>Olive</su-column>
      </su-row>
      <su-row color="green">
        <su-column>Green</su-column>
      </su-row>
      <su-row color="teal">
        <su-column>Teal</su-column>
      </su-row>
      <su-row color="blue">
        <su-column>Blue</su-column>
      </su-row>
      <su-row color="violet">
        <su-column>Violet</su-column>
      </su-row>
      <su-row color="purple">
        <su-column>Purple</su-column>
      </su-row>
      <su-row color="pink">
        <su-column>Pink</su-column>
      </su-row>
      <su-row color="brown">
        <su-column>Brown</su-column>
      </su-row>
      <su-row color="grey">
        <su-column>Grey</su-column>
      </su-row>
      <su-row color="black">
        <su-column>Black</su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Centered</su-header>
  <div>
    그리드는 열을 중앙에 배치할 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid centered :column="2">
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      </su-column>
      <su-row centered column="four">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
      <su-row column="four">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Text Alignment</su-header>
  <div>
    그리드, 행열은 텍스트 정렬을 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid aligned="center" column="three">
      <su-row>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Cats
            </div>
          </div>
        </su-column>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Dogs
            </div>
            <div class="item">
              Poodle
            </div>
            <div class="item">
              Cockerspaniel
            </div>
          </div>
        </su-column>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Monkeys
            </div>
          </div>
        </su-column>
      </su-row>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid aligned="center" column="three">
      <su-row>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Cats
            </div>
          </div>
        </su-column>
        <su-column aligned="left">
          <div class="ui vertical fluid menu">
            <div class="header item">
              Dogs
            </div>
            <div class="item">
              Poodle
            </div>
            <div class="item">
              Cockerspaniel
            </div>
          </div>
        </su-column>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Monkeys
            </div>
          </div>
        </su-column>
      </su-row>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid aligned="right" column="three">
      <su-row>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Cats
            </div>
          </div>
        </su-column>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Dogs
            </div>
            <div class="item">
              Poodle
            </div>
            <div class="item">
              Cockerspaniel
            </div>
          </div>
        </su-column>
        <su-column>
          <div class="ui vertical fluid menu">
            <div class="header item">
              Monkeys
            </div>
          </div>
        </su-column>
      </su-row>
    </su-grid>
  </su-segment>

  <su-header element="h4">Vertical Alignment</su-header>
  <div>
    그리드, 행열은 수직 정렬을 가지고 있는 모든 열을 수직으로 가운데 맞춤되도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-grid centered aligned="middle" column="four">
      <su-row>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
      </su-row>
    </su-grid>

    <su-divider hidden></su-divider>

    <su-grid centered column="four">
      <su-row aligned="top">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
      </su-row>
      <su-row aligned="middle">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
      </su-row>
      <su-row aligned="bottom">
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
        <su-column>
          <su-image src="https://semantic-ui.com/images/wireframe/image.png"/>
        </su-column>
      </su-row>
    </su-grid>

  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
