<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Groups</su-header>

  <su-header element="h4">Icons</su-header>
  <div>
    여러 아이콘을 그룹으로 묶어 함께 사용할 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon-group size="huge">
      <su-icon name="circle outline" size="big" />
      <su-icon name="user" />
    </su-icon-group>

    <su-divider />

    <su-icon-group size="huge">
      <su-icon name="dont" color="red" size="big" />
      <su-icon name="user" color="black" />
    </su-icon-group>
  </su-segment>

  <su-header element="h4">Corner</su-header>
  <div>
    그룹에 속한 아이콘을 보다 작게 구석에 배치할 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon-group size="huge">
      <su-icon name="puzzle" />
      <su-icon corner name="add" />
    </su-icon-group>

    <su-divider />

    <su-icon-group size="huge">
      <su-icon name="puzzle" />
      <su-icon corner="top left" name="add" />
    </su-icon-group>

    <su-icon-group size="huge">
      <su-icon name="puzzle" />
      <su-icon corner="top right" name="add" />
    </su-icon-group>

    <su-icon-group size="huge">
      <su-icon name="puzzle" />
      <su-icon corner="bottom left" name="add" />
    </su-icon-group>

    <su-icon-group size="huge">
      <su-icon name="puzzle" />
      <su-icon corner="bottom right" name="add" />
    </su-icon-group>

    <su-divider />

    <su-header element="h2">
      <su-icon-group size="large">
        <su-icon name="twitter" />
        <su-icon inverted corner name="add" />
      </su-icon-group>
      Add on Twitter
    </su-header>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Groups'
}
</script>
