<template>
<section>
  <su-header element="h1">
    Icon
    <su-header sub>아이콘은 다른 어떤 것을 나타내는 그림 문자입니다.</su-header>
  </su-header>

  <su-divider></su-divider>

  <States />
  <Variations />
  <Groups />

</section>
</template>

<script>
import States from './States.vue'
import Variations from './Variations.vue'
import Groups from './Groups.vue'

export default {
  name: 'DemoIcon',

  components: {
    States,
    Variations,
    Groups
  },
}
</script>

