<template>
<su-segment basic id="example">
  <su-header dividing element="h2">States</su-header>

  <su-header element="h4">Disabled</su-header>
  <div>
    아이콘을 비활성 상태로 보이도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon disabled name="users" />
  </su-segment>

  <su-header element="h4">Loading</su-header>
  <div>
    아이콘을 심플한 로더로 보이도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon loading name="spinner" />
    <su-icon loading name="notched circle" />
    <su-icon loading name="asterisk" />
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
