<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Variations</su-header>

  <su-header element="h4">Fitted</su-header>
  <div>
    아이콘을 비활성 상태로 보이도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <div>Tight spacing</div>
    <su-icon fitted name="help" />
    <div>Tight spacing</div>
  </su-segment>

  <su-header element="h4">Size</su-header>
  <div>
    아이콘은 다양한 사이즈로 될 수 있습니다.
  </div>
  <su-segment basic>
    <div><su-icon name="home" size="mini" /></div>
    <div><su-icon name="home" size="tiny" /></div>
    <div><su-icon name="home" size="small" /></div>
    <div><su-icon name="home" /></div>
    <div><su-icon name="home" size="large" /></div>
    <div><su-icon name="home" size="big" /></div>
    <div><su-icon name="home" size="huge" /></div>
    <div><su-icon name="home" size="massive" /></div>
  </su-segment>

  <su-header element="h4">Link</su-header>
  <div>
    아이콘을 링크 형태로 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon link name="close" />
    <su-icon link name="help" />
  </su-segment>

  <su-header element="h4">Flipped</su-header>
  <div>
    아이콘을 뒤집을 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon flipped name="cloud" />
    <su-icon flipped="horizontally" name="cloud" />
    <su-icon flipped="vertically" name="cloud" />
  </su-segment>

  <su-header element="h4">Rotated</su-header>
  <div>
    아이콘을 뒤집을 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon rotated name="cloud" />
    <su-icon rotated="clockwise" name="cloud" />
    <su-icon rotated="counterclockwise" name="cloud" />
  </su-segment>

  <su-header element="h4">Circular</su-header>
  <div>
    아이콘을 원형으로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon circular name="users" />
    <su-icon circular name="users" color="teal" />
    <su-icon circular inverted name="users" />
    <su-icon circular inverted name="users" color="teal" />
  </su-segment>

  <su-header element="h4">Bordered</su-header>
  <div>
    아이콘에 경계선을 표시할 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon bordered name="users" />
    <su-icon bordered name="users" color="teal" />
    <su-icon bordered inverted name="users" />
    <su-icon bordered inverted name="users" color="teal" />
  </su-segment>

  <su-header element="h4">Colored</su-header>
  <div>
    아이콘은 색상을 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-icon name="users" color="red" />
    <su-icon name="users" color="orange" />
    <su-icon name="users" color="yellow" />
    <su-icon name="users" color="olive" />
    <su-icon name="users" color="green" />
    <su-icon name="users" color="teal" />
    <su-icon name="users" color="blue" />
    <su-icon name="users" color="violet" />
    <su-icon name="users" color="purple" />
    <su-icon name="users" color="pink" />
    <su-icon name="users" color="brown" />
    <su-icon name="users" color="grey" />
    <su-icon name="users" color="black" />
  </su-segment>

  <su-header element="h4">Inverted</su-header>
  <div>
    아이콘에 색상 반전을 넣을 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment inverted>
      <su-icon inverted name="users" />
      <su-icon inverted name="users" color="red" />
      <su-icon inverted name="users" color="orange" />
      <su-icon inverted name="users" color="yellow" />
      <su-icon inverted name="users" color="olive" />
      <su-icon inverted name="users" color="green" />
      <su-icon inverted name="users" color="teal" />
      <su-icon inverted name="users" color="blue" />
      <su-icon inverted name="users" color="violet" />
      <su-icon inverted name="users" color="purple" />
      <su-icon inverted name="users" color="pink" />
      <su-icon inverted name="users" color="brown" />
      <su-icon inverted name="users" color="grey" />
      <su-icon inverted name="users" color="black" />
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
