<template>
<section>
  <Types />
  <!-- <Content /> -->
  <Variations />
  <!-- <ResponsiveVariations /> -->
  <!-- <States /> -->
</section>
</template>

<script>
import Types from './Types'
// import Content from './Content'
import Variations from './Variations'
// import ResponsiveVariations from './ResponsiveVariations'
// import States from './States'


export default {
  name: 'Definition',

  components: {
    Types,
    // Content,
    Variations,
    // ResponsiveVariations,
    // States,
  },
}
</script>
