<template>
<su-segment basic id="example">
  <h4>Examples</h4>

  <su-divider />

  <su-header element="h4">Containers Using Grids</su-header>
  <div>
    컨테이너는 정렬 가능하고 반응형 패턴에 대응하기 위해 그리드와 같이 사용할 수 있습니다
  </div>
  <su-segment basic>
    <su-container :grid="{
      column: 'four',
      doubling: true,
      stackable: true
    }">
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
      </su-column>
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
      </su-column>
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
      </su-column>
      <su-column>
        <su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
        <su-divider hidden />
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
      </su-column>
    </su-container>
  </su-segment>

  <su-header element="h4">Centered Menu</su-header>
  <div>
    A container can be used inside of a menu to make sure menu items appear inline with page contents. Using responsive variations like stackable menu can help make contents adjust to different device sizes.
  </div>
  <su-segment basic>
    <su-menu attached stackable>
      <su-container>
        <su-item element="a">
          <su-icon name="home"/>
          Home
        </su-item>
        <su-item element="a">
          <su-icon name="grid layout" /> Browse
        </su-item>
        <su-item element="a">
          <su-icon name="mail" /> Messages
        </su-item>
        <su-item class="ui simple dropdown">
          More
          <su-icon name="dropdown" />
          <su-menu>
            <su-item element="a">
              <su-icon name="edit" /> Edit Profile
            </su-item>
            <su-item element="a">
              <su-icon name="globe" /> Choose Language
            </su-item>
            <su-item element="a">
              <su-icon name="settings" /> Account Settings
            </su-item>
          </su-menu>
        </su-item>
        <su-item class="right">
          <su-input placeholder="Search..." />
        </su-item>
      </su-container>
    </su-menu>
  </su-segment>

  <su-header element="h4">Container Segment</su-header>
  <div>
    세그먼트와 같이 사용할 수 있습니다.
  </div>
  <su-segment basic>
    <su-container text :segment="{
      raised: true,
      very: true,
      padded: true
    }">
      <su-header element="h2">Dogs Roles with Humans</su-header>
      <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.</p>
      <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
    </su-container>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Examples',
}
</script>
