<template>
<section>
  <su-header element="h1">
    Container
    <su-header sub>
      컨테이너는 컨텐츠의 최대 너비를 제한합니다
    </su-header>
  </su-header>

  <su-menu fluid column="2">
    <router-link v-for="item in list"
      :key="item"
      :to="{
        path: `/Demo/Container/${item}`,
        query: $route.query
      }"
      tag="a"
      active-class="active"
      class="item">
      {{item}}
    </router-link>
  </su-menu>

  <su-divider></su-divider>

  <component :is="components[tab]" />
</section>
</template>

<script>
import Definition from './Definition'
import Examples from './Examples'

export default {
  name: 'DemoContainer',

  data()  {
    return {
      tab: '',
      list: [],
      components: {
        'Definition': Definition,
        'Examples': Examples
      }
    }
  },

  watch: {
    $route()  {
      this.tab = this.$route.params.tab;
    },
  },

  components: {
    Definition
  },

  created() {
    this.list = this.$route.query.list;
    this.tab = this.$route.params.tab;
  }
}
</script>
