<template>
<section>
  <h2>구분자(Divider)</h2>
  구분자(Divider)는 그룹 안의 컨텐츠를 시각적으로 나눕니다.

  <div class="ui divider"></div>

  <Types />
  <Variations />
  <!-- <Groups /> -->
  <!-- <Content /> -->
  <!-- <States /> -->
  <!-- <GroupVariations /> -->

</section>
</template>

<script>
import Types from './Types.vue'
import Variations from './Variations.vue'
// import Groups from './Groups.vue'
// import States from './States.vue'
// import GroupVariations from './GroupVariations.vue'

export default {
  name: 'DemoDivider',

  components: {
    Types,
    Variations,
    // Groups,
    // States,
    // GroupVariations,
  },
}
</script>

