<template>
<su-segment>
  <h4>Types</h4>

  <div class="ui divider"></div>

  <strong>Divider</strong>
  <div>
    표준 구분자
  </div>
  <su-segment basic>
    <div class="ignored ui warning message">To add a divider between parts of a grid use a <a href="/collections/grid.html#divided"><code>divided grid</code></a> variation.</div>

    <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/>
    <su-divider />
    <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/>
  </su-segment>

  <strong>Vertical Divider</strong>
  <div>
    구분자는 컨텐츠를 수직으로 분할 할 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui three column very relaxed grid" style="position: relative;">
      <div class="column">
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
      </div>
      <su-divider vertical>and</su-divider>
      <div class="column">
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
      </div>
      <su-divider vertical>not</su-divider>
      <div class="column">
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
        <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
      </div>
    </div>

    <su-divider />

    <div class="ui two column middle aligned very relaxed stackable grid"  style="position: relative;">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <input placeholder="Username" type="text">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <su-button color="blue" class="submit">Login</su-button>
        </div>
      </div>
      <su-divider vertical>Or</su-divider>
      <div class="center aligned column">
        <su-button labeled icon="signup" color="green" size="big">
          Sign Up
        </su-button>
      </div>
    </div>
  </su-segment>

  <strong>Horizontal Divider</strong>
  <div>
    구분자는 컨텐츠를 수평으로 분할 할 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui center aligned basic segment">
      <div class="ui left icon action input">
        <i class="search icon"></i>
        <input placeholder="Order #" type="text">
        <su-button color="blue" class="submit">Search</su-button>
      </div>
      <su-divider horizontal>Or</su-divider>
      <su-button labeled icon-right="add" color="teal">
        Create New Order
      </su-button>
    </div>

    <su-divider />

    <su-divider horizontal header icon="tag" element="h4">
      Description
    </su-divider>
    <p>Doggie treats are good for all times of the year. Proven to be eaten by 99.9% of all dogs worldwide.</p>
    <su-divider horizontal header icon="bar chart" element="h4">
      Specifications
    </su-divider>
    <table class="ui definition table">
      <tbody>
        <tr>
          <td class="two wide column">Size</td>
          <td>1" x 2"</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>6 ounces</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>Yellowish</td>
        </tr>
        <tr>
          <td>Odor</td>
          <td>Not Much Usually</td>
        </tr>
      </tbody>
    </table>
  </su-segment>

</su-segment>
</template>

<script>
export default { name: 'Types' }
</script>
