<template>
<su-segment>
  <h4>Variations</h4>

  <div class="ui divider"></div>

  <strong>Inverted</strong>
  <div>
    구분자는 색상 반전이 가능합니다.
  </div>
  <su-segment basic>
    <su-segment inverted>
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
      <su-divider inverted />
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
      <su-divider horizontal inverted element="h4">
        Horizontal
      </su-divider>
    </su-segment>
  </su-segment>

  <strong>Fitted</strong>
  <div>
    구분자는 위, 아래 빈 공간 없이 딱 붙어 있을 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
      <su-divider fitted />
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
    </su-segment>
  </su-segment>

  <strong>Hidden</strong>
  <div>
    구분자는 구분선 없이 컨텐츠를 나눌 수 있습니다.
  </div>
  <su-segment basic>
    <h3 class="ui header">Section One</h3>
    <su-divider hidden />
    <h3 class="ui header">Section Two</h3>
  </su-segment>

  <strong>Section</strong>
  <div>
    구분자는 컨텐츠 영역을 구분하기 위해 보다 많은 여백을 가질 수 있습니다.
  </div>
  <su-segment basic>
    <h3 class="ui header">Section One</h3>
    <su-divider section />
    <h3 class="ui header">Section Two</h3>
  </su-segment>

  <strong>Clearing</strong>
  <div>
    구분자는 자신 위의 컨텐츠를 초기화(clear) 시킬 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <h2 class="ui right floated header">Floated Content</h2>
      <su-divider clearing />
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/></p>
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default { name: 'Variations' }
</script>
