<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Content</su-header>

  <su-header element="h4">Item</su-header>
  <div>
    리스트는 아이템을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list link>
      <su-item>1</su-item>
      <su-item>2</su-item>
      <su-item>3</su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Icon</su-header>
  <div>
    리스트 아이템은 아이콘을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list link>
      <su-item icon="help" element="a">
        <su-content>
          <su-content-header>Floated Icon</su-content-header>
          <su-content-description>This text will always have a left margin to make sure it sits alongside your icon</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="right triangle" element="a">
        <su-content>
          <su-content-header>Icon Alignment</su-content-header>
          <su-content-description>Floated icons are by default top aligned. To have an icon top aligned try this example.</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="help">
        Inline Text
      </su-item>
    </su-list>
  </su-segment>


  <su-header element="h4">Image</su-header>
  <div>
    리스트 아이템은 이미지를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list >
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar2/small/rachel.png" />
        <su-content>
          <su-content-header element="a">Rachel</su-content-header>
          <su-content-description>
            Last seen watching <a><b>Arrested Development</b></a> just now.
          </su-content-description>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar2/small/lindsay.png" />
        <su-content>
          <su-content-header element="a">Lindsay</su-content-header>
          <su-content-description>
            Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.
          </su-content-description>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar2/small/matthew.png" />
        <su-content>
          <su-content-header element="a">Matthew</su-content-header>
          <su-content-description>
            Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.
          </su-content-description>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Link</su-header>
  <div>
    리스트는 링크를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list link>
      <su-item element="a">What is a FAQ?</su-item>
      <su-item element="a">Who is our user?</su-item>
      <su-item element="a">Where is our office located?</su-item>
    </su-list>

    <su-divider></su-divider>

    <su-list>
      <su-item>
        <su-content-header element="a">Header</su-content-header>
        <su-content-description>
          Click a link in our <a>description</a>.
        </su-content-description>
      </su-item>
      <su-item>
        <su-content-header element="a">Learn More</su-content-header>
        <su-content-description>
          Learn more about this site on <a>our FAQ page</a>.
        </su-content-description>
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Header</su-header>
  <div>
    리스트 아이템은 헤더를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list>
      <su-item>
        <su-content-header>New York City</su-content-header>
        A lovely city
      </su-item>
      <su-item>
        <su-content-header>Chicago</su-content-header>
        Also quite a lovely city
      </su-item>
      <su-item>
        <su-content-header>Los Angeles</su-content-header>
        Sometimes can be a lovely city
      </su-item>
      <su-item>
        <su-content-header>San Francisco</su-content-header>
        What a lovely city
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Description</su-header>
  <div>
    리스트 아이템은 설명을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list>
      <su-item icon="map mark">
        <su-content>
          <su-content-header element="a">Krolewskie Jadlo</su-content-header>
          <su-content-description>An excellent polish restaurant, quick delivery and hearty, filling meals.</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="map mark">
        <su-content>
          <su-content-header element="a">Xian Famous Foods</su-content-header>
          <su-content-description>A taste of Shaanxi's delicious culinary traditions, with delights like spicy cold noodles and lamb burgers.</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="map mark">
        <su-content>
          <su-content-header element="a">Sapporo Haru</su-content-header>
          <su-content-description>Greenpoint's best choice for quick and delicious sushi.</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="map mark">
        <su-content>
          <su-content-header element="a">Enid's</su-content-header>
          <su-content-description>At night a bar, during the day a delicious brunch spot.</su-content-description>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Content'
}
</script>
