<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Content Variations</su-header>

  <su-header element="h4">Vertical Aligned</su-header>
  <div>
    리스트 내부의 엘리먼트를 수직 정렬할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list horizontal>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/wireframe/square-image.png" />
        <su-content aligned="top">
          Top Aligned
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/wireframe/square-image.png" />
        <su-content aligned="middle">
          Middle
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/wireframe/square-image.png" />
        <su-content aligned="bottom">
          Bottom
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Floated</su-header>
  <div>
    리스트 혹은 리스트 내부 엘리먼트는 좌측 혹은 우측 정렬할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list divided aligned="middle">
      <su-item>
        <su-content floated="right">
          <div class="ui button">Add</div>
        </su-content>
        <su-image avatar src="https://semantic-ui.com/images/avatar2/small/lena.png" />
        <su-content>
          Lena
        </su-content>
      </su-item>
      <su-item>
        <su-content floated="right">
          <div class="ui button">Add</div>
        </su-content>
        <su-image avatar src="https://semantic-ui.com/images/avatar2/small/lindsay.png" />
        <su-content>
          Lindsay
        </su-content>
      </su-item>
      <su-item>
        <su-content floated="right">
          <div class="ui button">Add</div>
        </su-content>
        <su-image avatar src="https://semantic-ui.com/images/avatar2/small/mark.png" />
        <su-content>
          Mark
        </su-content>
      </su-item>
      <su-item>
        <su-content floated="right">
          <div class="ui button">Add</div>
        </su-content>
        <su-image avatar src="https://semantic-ui.com/images/avatar2/small/molly.png" />
        <su-content>
          Molly
        </su-content>
      </su-item>
    </su-list>

    <su-divider></su-divider>

    <su-list horizontal floated="right">
      <su-item disabled>© GitHub, Inc.</su-item>
      <su-item element="a">Terms</su-item>
      <su-item element="a">Privacy</su-item>
      <su-item element="a">Contact</su-item>
    </su-list>
    <su-list horizontal>
      <su-item element="a">About Us</su-item>
      <su-item element="a">Jobs</su-item>
    </su-list>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'ContentVariations'
}
</script>
