<template>
<section>
  <su-header element="h1">
    List
    <su-header sub>
      리스트는 관련 있는 컨텐츠를 묶기 위해 사용합니다.
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <Content />
  <Variations />
  <ContentVariations />

</section>
</template>

<script>
import Types from './Types.vue'
import Content from './Content.vue'
import Variations from './Variations.vue'
import ContentVariations from './ContentVariations.vue'

export default {
  name: 'DemoList',

  components: {
    Types,
    Content,
    Variations,
    ContentVariations
  },
}
</script>

