<template>
<su-segment basic id="example">
  <su-header dividing tag="h2">Types</su-header>

  <su-header tag="h4">List</su-header>
  <div>
    리스트는 관련 있는 컨텐츠의 묶음 입니다.
  </div>
  <su-segment basic>
    <su-list>
      <su-item>Apples</su-item>
      <su-item>Pears</su-item>
      <su-item>Oranges</su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list>
      <su-item icon="users">
        <su-content>
          Semantic UI
        </su-content>
      </su-item>
      <su-item icon="marker">
        <su-content>
          New York, NY
        </su-content>
      </su-item>
      <su-item icon="mail">
        <su-content>
          <a href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a>
        </su-content>
      </su-item>
      <su-item icon="linkify">
        <su-content>
          <a href="http://www.semantic-ui.com">semantic-ui.com</a>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list relaxed divided>
      <su-item icon="middle large github">
        <su-content>
          <su-content-header tag="a">Semantic-Org/Semantic-UI</su-content-header>
          <su-content-description>Updated 10 mins ago</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="middle large github">
        <su-content>
          <su-content-header tag="a">Semantic-Org/Semantic-UI</su-content-header>
          <su-content-description>Updated 10 mins ago</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="middle large github">
        <su-content>
          <su-content-header tag="a">Semantic-Org/Semantic-UI-Docs</su-content-header>
          <su-content-description>Updated 22 mins ago</su-content-description>
        </su-content>
      </su-item>
      <su-item icon="middle large github">
        <su-content>
          <su-content-header tag="a">Semantic-Org/Semantic-UI-Meteor</su-content-header>
          <su-content-description>Updated 34 mins ago</su-content-description>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list>
      <su-item icon="folder">
        <su-content>
          <su-content-header>
            src
          </su-content-header>
          <su-content-description>
            Source files for project
          </su-content-description>
          <su-list>
            <su-item icon="folder">
              <su-content>
                <su-content-header>site</su-content-header>
                <su-content-description>Your site's theme</su-content-description>
              </su-content>
            </su-item>
            <su-item icon="folder">
              <su-content>
                <su-content-header>theme</su-content-header>
                <su-content-description>Packaged theme files</su-content-description>
                <su-list>
                  <su-item icon="folder">
                    <su-content>
                      <su-content-header>default</su-content-header>
                      <su-content-description>Default packaged theme</su-content-description>
                    </su-content>
                  </su-item>
                  <su-item icon="folder">
                    <su-content>
                      <su-content-header>my_theme</su-content-header>
                      <su-content-description>Packaged themes are also available in this folder</su-content-description>
                    </su-content>
                  </su-item>
                </su-list>
              </su-content>
            </su-item>
            <su-item icon="file">
              <su-content>
                <su-content-header>theme.config</su-content-header>
                <su-content-description>Config file for setting packaged themes</su-content-description>
              </su-content>
            </su-item>
          </su-list>
        </su-content>
      </su-item>
      <su-item icon="folder">
        <su-content>
          <su-content-header>
            dist
          </su-content-header>
          <su-content-description>
            Compiled CSS and JS files
          </su-content-description>
          <su-list>
            <su-item icon="folder">
              <su-content>
                <su-content-header>components</su-content-header>
                <su-content-description>Individual component CSS and JS</su-content-description>
              </su-content>
            </su-item>
          </su-list>
        </su-content>
      </su-item>
      <su-item icon="folder">
        <su-content>
          <su-content-header>
            semantic.json
          </su-content-header>
          <su-content-description>
            Contains build settings for gulp
          </su-content-description>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

  <su-header tag="h4">Bulleted</su-header>
  <div>
    리스트는 bullet 표시 아이템으로 구성할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list bulleted>
      <su-item>Gaining Access</su-item>
      <su-item>Inviting Friends</su-item>
      <su-item>
        <div>Benefits</div>
        <su-list>
          <su-item tag="a">Link to somewhere</su-item>
          <su-item>Rebates</su-item>
          <su-item>Discounts</su-item>
        </su-list>
      </su-item>
      <su-item>Warranty</su-item>
    </su-list>

    <su-divider />

    <su-list horizontal bulleted>
      <su-item tag="a">
        About Us
      </su-item>
      <su-item tag="a">
        Sitemap
      </su-item>
      <su-item tag="a">
        Contact
      </su-item>
    </su-list>
  </su-segment>

  <su-header tag="h4">Ordered</su-header>
  <div>
    리스트는 숫자순으로 정렬할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list ordered>
      <su-item tag="a">Getting Started</su-item>
      <su-item tag="a">Introduction</su-item>
      <su-item>
        <a>Languages</a>
        <su-list>
          <su-item tag="a">HTML</su-item>
          <su-item tag="a">Javascript</su-item>
          <su-item tag="a">CSS</su-item>
        </su-list>
      </su-item>
      <su-item tag="a">Review</su-item>
    </su-list>
  </su-segment>

  <su-header tag="h4">Link</su-header>
  <div>
    리스트는 숫자순으로 정렬할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list link>
      <su-item active>Home</su-item>
      <su-item>About</su-item>
      <su-item>Jobs</su-item>
      <su-item>Team</su-item>
    </su-list>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
