<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Variations</su-header>

  <su-header element="h4">Horizontal</su-header>
  <div>
    리스트는 아이템을 수평으로 배치할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list horizontal>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/tom.jpg" />
        <su-content>
          <su-content-header>Tom</su-content-header>
          Tom Contributor
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian Rocha</su-content-header>
          Admin
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/matt.jpg" />
        <su-content>
          <su-content-header>Matt</su-content-header>
          Top Rated User
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list ordered horizontal>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/tom.jpg" />
        <su-content>
          <su-content-header>Steve Jobes</su-content-header>
          50 Points
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/stevie.jpg" />
        <su-content>
          <su-content-header>Stevie Feliciano</su-content-header>
          44 Points
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/jenny.jpg" />
        <su-content>
          <su-content-header>Jenny Hess</su-content-header>
          11 Points
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal bulleted link>
      <su-item element="a">
        Terms and Conditions
      </su-item>
      <su-item element="a">
        Privacy Policy
      </su-item>
      <su-item element="a">
        Contact Us
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Inverted</su-header>
  <div>
    리스트는 색상 반전으로 어두운 배경을 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment inverted>
      <su-list inverted relaxed divided>
        <su-item>
          <su-content>
            <su-content-header>Snickerdoodle</su-content-header>
            An excellent companion
          </su-content>
        </su-item>
        <su-item>
          <su-content>
            <su-content-header>Poodle</su-content-header>
            A poodle, its pretty basic
          </su-content>
        </su-item>
        <su-item>
          <su-content>
            <su-content-header>Paulo</su-content-header>
            He's also a dog
          </su-content>
        </su-item>
      </su-list>
    </su-segment>
  </su-segment>

  <su-header element="h4">Selection</su-header>
  <div>
    선택 리스트는 리스트 아이템이 선택 가능하도록 보이게 합니다.
  </div>
  <su-segment basic>
    <su-list selection aligned="middle">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Animated</su-header>
  <div>
    리스트는 리스트 아이템이 분리되어 보이는 것 같은 에니메이션 효과를 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-list animated aligned="middle">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Relaxed</su-header>
  <div>
    리스트 아이템이 더 넓은 공간을 갖기 위해 padding이 더 부여됩니다.
  </div>
  <su-segment basic>
    <su-list relaxed>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header element="a">Daniel Louise</su-content-header>
          <su-content-description>
            Last seen watching <a><b>Arrested Development</b></a> just now.
          </su-content-description>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/stevie.jpg" />
        <su-content>
          <su-content-header element="a">Stevie Feliciano</su-content-header>
          <su-content-description>
            Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.
          </su-content-description>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/elliot.jpg" />
        <su-content>
          <su-content-header element="a">Elliot Fu</su-content-header>
          <su-content-description>
            Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.
          </su-content-description>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list relaxed="very">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header element="a">Daniel Louise</su-content-header>
          <su-content-description>
            Last seen watching <a><b>Arrested Development</b></a> just now.
          </su-content-description>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/stevie.jpg" />
        <su-content>
          <su-content-header element="a">Stevie Feliciano</su-content-header>
          <su-content-description>
            Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.
          </su-content-description>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/elliot.jpg" />
        <su-content>
          <su-content-header element="a">Elliot Fu</su-content-header>
          <su-content-description>
            Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.
          </su-content-description>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Divided</su-header>
  <div>
    리스트의 컨텐츠가 서로 나뉘어 보이도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-list divided aligned="middle">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header element="a">Daniel Louise</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/stevie.jpg" />
        <su-content>
          <su-content-header element="a">Stevie Feliciano</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/elliot.jpg" />
        <su-content>
          <su-content-header element="a">Elliot Fu</su-content-header>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Celled</su-header>
  <div>
    리스트를 아이템이 셀 안에 있도록 나눌 수 있습니다.
  </div>
  <su-segment basic>
    <su-list celled>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Snickerdoodle</su-content-header>
          An excellent companion
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Poodle</su-content-header>
          A poodle, its pretty basic
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Paulo</su-content-header>
          He's also a dog
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list celled ordered>
      <su-item>Cats</su-item>
      <su-item>Horses</su-item>
      <su-item>Dogs
        <su-list>
          <su-item>Labradoodles</su-item>
          <su-item>Shiba Inu</su-item>
          <su-item>Mastiff</su-item>
        </su-list>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list celled horizontal>
      <su-item>About Us</su-item>
      <su-item>Contact</su-item>
      <su-item>Support</su-item>
    </su-list>
  </su-segment>

  <su-header element="h4">Size</su-header>
  <div>
    리스트는 다양한 사이즈로 될 수 있습니다.
  </div>
  <su-segment basic>
    <su-list horizontal divided size="mini">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal divided size="tiny">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal divided size="small">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal divided size="medium">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal divided size="large">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal divided size="big">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal divided size="huge">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>

    <su-divider hidden></su-divider>

    <su-list horizontal divided size="massive">
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/helen.jpg" />
        <su-content>
          <su-content-header>Helen</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/christian.jpg" />
        <su-content>
          <su-content-header>Christian</su-content-header>
        </su-content>
      </su-item>
      <su-item>
        <su-image avatar src="https://semantic-ui.com/images/avatar/small/daniel.jpg" />
        <su-content>
          <su-content-header>Daniel</su-content-header>
        </su-content>
      </su-item>
    </su-list>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
