<template>
<su-segment basic id="example">
  <su-header tag="h2">Types</su-header>

  <su-divider />

  <su-header element="h4">Dropdown</su-header>
  <div>
    A dropdown
  </div>
  <su-segment basic>
    <su-dropdown :items="[]">
      
    </su-dropdown>
  </su-segment>

  <su-header element="h4">Section</su-header>
  <div>
    A dropdown can be used to select between choices in a form
  </div>
  <su-message info>
    Since <code>2.3</code> dimmers with content now only need a single wrapping <code>content</code> container.
  </su-message>
  <su-segment basic>

  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
