<template>
<div class="ui segment">
  <h4>Content</h4>
  <div class="ui divider"></div>

  <strong>Conditionals</strong>
  <div>버튼 그룹은 조건을 포함할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button-group condition>
      <su-button>Cancel</su-button>
      <su-button color="positive">Save</su-button>
      <su-button color="secondary">Back</su-button>
    </su-button-group>

    <div class="ui ignored info message">
      Or buttons can have their text localized, or adjusted by using the <code>data-text</code> attribute. If the size of the conditional changes you will need to adjust <code>@orCircleSize</code>
    </div>

    <su-button-group condition>
      <su-button>un</su-button>
      <su-button color="positive">deux</su-button>
    </su-button-group>
  </div>
</div>
</template>

<script>
export default {
  name: 'Content'
}
</script>
