<template>
<div class="ui segment">
  <h4>Groups</h4>
  <div class="ui divider"></div>

  <strong>Buttons</strong>
  <div>버튼들은 하나의 그룹에 함께 나열될 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button-group>
      <su-button>One</su-button>
      <su-button>Two</su-button>
      <su-button>Three</su-button>
    </su-button-group>
  </div>

  <strong>Icon Buttons</strong>
  <div>버튼 그룹은 아이콘 그룹을 보여줄 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button-group icon>
      <su-button><su-icon name="align left icon" /></su-button>
      <su-button><su-icon name="align center icon" /></su-button>
      <su-button><su-icon name="align right icon" /></su-button>
      <su-button><su-icon name="align justify icon" /></su-button>
    </su-button-group>

    <su-button-group icon>
      <su-button><su-icon name="bold icon" /></su-button>
      <su-button><su-icon name="underline icon" /></su-button>
      <su-button><su-icon name="text width icon" /></su-button>
    </su-button-group>
  </div>
</div>
</template>

<script>
export default {
  name: 'Groups'
}
</script>
