<template>
<div class="ui segment">
  <h4>Group Variations</h4>

  <div class="ui divider"></div>

  <strong>Vertical Buttons</strong>
  <div>
    그룹 안의 버튼을 수직으로 나타낼 수 있습니다.
  </div>
  <div class="ui segment basic">
    <su-button-group vertical>
      <su-button>Feed</su-button>
      <su-button>Messages</su-button>
      <su-button>Events</su-button>
      <su-button>Photos</su-button>
    </su-button-group>
  </div>

  <strong>Icon Buttons</strong>
  <div>
    그룹 안의 버튼은 아이콘 형태로 나타낼 수 있습니다.
  </div>
  <div class="ui segment basic">
    <su-button-group icon>
      <su-button icon="play" />
      <su-button icon="pause" />
      <su-button icon="shuffle" />
    </su-button-group>
  </div>

  <strong>Labeled Icon Buttons</strong>
  <div>
    그룹 안의 버튼은 라벨이 있는 아이콘 형태로 나타낼 수 있습니다.
  </div>
  <div class="ui segment basic">
    <su-button-group vertical labeled icon>
      <su-button icon="play">Play</su-button>
      <su-button icon="pause">Pause</su-button>
      <su-button icon="shuffle">Shuffle</su-button>
    </su-button-group>
  </div>

  <strong>Mixed Buttons</strong>
  <div>
    그룹 안의 버튼들은 여러 형태로 함께 쓰일 수 있습니다.
  </div>
  <div class="ui segment basic">
    <su-button-group>
      <su-button labeled icon="left chevron">Back</su-button>
      <su-button icon="stop">Stop</su-button>
      <su-button labeled icon-right="right chevron">Forward</su-button>
    </su-button-group>
  </div>

  <strong>Equal Width</strong>
  <div>
    그룹 안의 버튼의 너비를 동일하게 나눌 수 있습니다.
  </div>
  <div class="ui segment basic">
    <su-button-group column="five">
      <su-button>Overview</su-button>
      <su-button>Specs</su-button>
      <su-button>Warranty</su-button>
      <su-button>Reviews</su-button>
      <su-button>Support</su-button>
    </su-button-group>
    <su-button-group column="3">
      <su-button>Overview</su-button>
      <su-button>Specs</su-button>
      <su-button>Support</su-button>
    </su-button-group>
  </div>

  <strong>Colored Buttons</strong>
  <div>
    그룹 안의 버튼은 같은 색을 공유할 수 있습니다.
  </div>
  <div class="ui segment basic">
    <su-button-group color="blue">
      <su-button>One</su-button>
      <su-button>Two</su-button>
      <su-button>Three</su-button>
    </su-button-group>
  </div>

  <strong>Basic Buttons</strong>
  <div>
    그룹 안의 버튼은 같은 기본 형태를 공유합니다.
  </div>
  <div class="ui segment basic">
    <su-button-group basic>
      <su-button>One</su-button>
      <su-button>Two</su-button>
      <su-button>Three</su-button>
    </su-button-group>

    <div class="ui divider"></div>

    <su-button-group basic vertical>
      <su-button>One</su-button>
      <su-button>Two</su-button>
      <su-button>Three</su-button>
    </su-button-group>

    <div class="ui divider"></div>

    <su-button-group>
      <su-button basic color="red">One</su-button>
      <su-button basic color="blue">Two</su-button>
      <su-button basic color="green">Three</su-button>
    </su-button-group>
  </div>

  <strong>Group Sizes</strong>
  <div>
    그룹 안의 버튼은 같은 크기를 공유할 수 있습니다.
  </div>
  <div class="ui segment basic">
    <su-button-group size="large">
      <su-button>One</su-button>
      <su-button>Two</su-button>
      <su-button>Three</su-button>
    </su-button-group>

    <div class="ui divider"></div>

    <su-button-group icon basic size="massive">
      <su-button icon="file" />
      <su-button icon="save" />
      <su-button icon="upload" />
      <su-button icon="download" />
    </su-button-group>

    <div class="ui divider"></div>

    <su-button-group condition size="huge">
      <su-button>One</su-button>
      <su-button>Two</su-button>
      <su-button>Three</su-button>
    </su-button-group>
  </div>
</div>
</template>

<script>
export default {
  name: 'GroupVariations'
}
</script>
