<template>
<section>
  <h2>Button</h2>
  A button indicates a possible user action

  <div class="ui divider"></div>

  <Types />
  <Groups />
  <Content />
  <States />
  <Variations />
  <GroupVariations />

</section>
</template>

<script>
import Types from './Types.vue'
import Groups from './Groups.vue'
import Content from './Content.vue'
import States from './States.vue'
import Variations from './Variations.vue'
import GroupVariations from './GroupVariations.vue'

export default {
  name: 'DemoButton',

  components: {
    Types,
    Groups,
    Content,
    States,
    Variations,
    GroupVariations,
  },
}
</script>

