<template>
<div class="ui segment">
  <h4>States</h4>

  <div class="ui divider"></div>

  <strong>Active</strong>
  <div>버튼을 활성 상태로 보이도록 가능합니다.</div>
  <div class="ui segment basic">
    <su-button active>
      <su-icon name="user" /> Follow
    </su-button>
  </div>

  <strong>Disabled</strong>
  <div>버튼을 작동할 수 없도록 하는 것이 가능합니다.</div>
  <div class="ui segment basic">
    <su-button disabled>
      <su-icon name="user" /> Followed
    </su-button>
  </div>

  <strong>Loading</strong>
  <div>버튼에 로딩 표시를 보여줄 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button loading>Loading</su-button>
    <su-button basic loading>Loading</su-button>
    <su-button loading color="primary">Loading</su-button>
    <su-button loading color="secondary">Loading</su-button>
  </div>
</div>
</template>

<script>
export default {
  name: 'States'
}
</script>
