<template>
<div class="ui segment">
  <h4>Types</h4>

  <div class="ui divider"></div>

  <strong>Button</strong>
  <div>A standard button</div>
  <div class="ui segment basic">
    <su-button>Follow</su-button>

    <div class="ui ignored warning message">
      Although any tag can be used for a button, it will only be <a href="http://webaim.org/techniques/keyboard/tabindex">keyboard focusable</a> if you use a <code>&lt;button&gt;</code> tag or you add the property <code>tabindex="0"</code>. Keyboard accessible buttons will preserve focus styles after click, which may be visually jarring.<p></p>
    </div>

    <su-button>Button</su-button>
    <su-button tabindex="0">Focusable</su-button>
  </div>

  <strong>Emphasis</strong>
  <div>A button can be formatted to show different levels of emphasis</div>
  <div class="ui segment basic">
    <su-button color="primary">Save</su-button>
    <su-button>Discard</su-button>

    <div class="ui divider"></div>

    <su-button color="secondary">Okay</su-button>
    <su-button>Cancel</su-button>
  </div>

  <strong>Animated</strong>
  <div>A button can animate to show hidden content</div>
  <div class="ui segment basic">
    <div class="ui message">
      The button will be automatically sized according to the visible content size. Make sure there is enough room for the hidden content to show
    </div>

    <su-button
      animated
      animated-hidden-icon="right arrow"
      tabindex="0">
      Next
    </su-button>

    <su-button
      animated="vertical"
      animatedHiddenContent="Shop"
      icon="shop"
      tabindex="0" />

    <su-button
      animated="fade"
      animated-hidden-content="$12.99 a month"
      tabindex="0">
      Sign-up for a Pro account
    </su-button>
  </div>

  <strong>Labeled</strong>
  <div>
    A button can appear alongside a label
  </div>
  <div class="ui segment basic">
    <su-button
      labeled
      tabindex="0">
      <su-button>
        <su-icon name="heart" /> Like
      </su-button>
      <su-label basic no-anchor>2,048</su-label>
    </su-button>

    <su-button labeled tabindex="0">
      <su-label basic no-anchor pointing="right">2,048</su-label>
      <su-button>
        <su-icon name="heart" /> Like
      </su-button>
    </su-button>

    <su-button labeled tabindex="0">
      <su-label basic no-anchor>1,048</su-label>
      <su-button icon="fork" />
    </su-button>

    <div class="ui divider"></div>

    <su-button labeled tabindex="0">
      <su-button color="red">
        <su-icon name="heart" /> Like
      </su-button>
      <su-label basic pointing="left" color="red">1,048</su-label>
    </su-button>
    <su-button labeled tabindex="0">
      <su-button basic color="blue">
        <su-icon name="fork" /> Forks
      </su-button>
      <su-label basic pointing="left" color="blue">1,048</su-label>
    </su-button>
  </div>

  <strong>Icon</strong>
  <div>
    A button can have only an icon
  </div>
  <div class="ui segment basic">
    <su-button icon="cloud" />
  </div>

  <strong>Labeled Icon</strong>
  <div>
    A button can use an icon as label
  </div>
  <div class="ui segment basic">
    <su-button labeled icon="pause">
      Pause
    </su-button>
    <su-button labeled icon-right="right arrow">
      Next
    </su-button>
  </div>

  <strong>Basic</strong>
  <div>
    A basic button is less pronounced
  </div>
  <div class="ui segment basic">
    <su-button basic>
      <su-icon name="user"/>
      Add User
    </su-button>

    <div class="ui divider"></div>

    <su-button basic color="primary">Primary</su-button>
    <su-button basic color="secondary">Secondary</su-button>
    <su-button basic color="positive">Positive</su-button>
    <su-button basic color="negative">Negative</su-button>

    <div class="ui divider"></div>

    <su-button basic color="red">Red</su-button>
    <su-button basic color="orange">Orange</su-button>
    <su-button basic color="yellow">Yellow</su-button>
    <su-button basic color="olive">Olive</su-button>
    <su-button basic color="green">Green</su-button>
    <su-button basic color="teal">Teal</su-button>
    <su-button basic color="blue">Blue</su-button>
    <su-button basic color="violet">Violet</su-button>
    <su-button basic color="purple">Purple</su-button>
    <su-button basic color="pink">Pink</su-button>
    <su-button basic color="brown">Brown</su-button>
    <su-button basic color="grey">Grey</su-button>
    <su-button basic color="black">Black</su-button>
  </div>

  <strong>Inverted</strong>
  <div>
    A button can be formatted to appear on dark backgrounds
  </div>
  <div class="ui segment basic inverted">
    <su-button inverted>Standard</su-button>
    <su-button inverted color="red">Red</su-button>
    <su-button inverted color="orange">Orange</su-button>
    <su-button inverted color="yellow">Yellow</su-button>
    <su-button inverted color="olive">Olive</su-button>
    <su-button inverted color="green">Green</su-button>
    <su-button inverted color="teal">Teal</su-button>
    <su-button inverted color="blue">Blue</su-button>
    <su-button inverted color="violet">Violet</su-button>
    <su-button inverted color="purple">Purple</su-button>
    <su-button inverted color="pink">Pink</su-button>
    <su-button inverted color="brown">Brown</su-button>
    <su-button inverted color="grey">Grey</su-button>
    <su-button inverted color="black">Black</su-button>
  </div>

  <div class="ui divider"></div>

  <div class="ui segment basic inverted">
    <su-button inverted basic>Basic</su-button>
    <su-button inverted basic color="red">Basic Red</su-button>
    <su-button inverted basic color="orange">Basic Orange</su-button>
    <su-button inverted basic color="yellow">Basic Yellow</su-button>
    <su-button inverted basic color="olive">Basic Olive</su-button>
    <su-button inverted basic color="green">Basic Green</su-button>
    <su-button inverted basic color="teal">Basic Teal</su-button>
    <su-button inverted basic color="blue">Basic Blue</su-button>
    <su-button inverted basic color="violet">Basic Violet</su-button>
    <su-button inverted basic color="purple">Basic Purple</su-button>
    <su-button inverted basic color="pink">Basic Pink</su-button>
    <su-button inverted basic color="brown">Basic Brown</su-button>
    <su-button inverted basic color="grey">Basic Grey</su-button>
    <su-button inverted basic color="black">Basic Black</su-button>
  </div>
</div>
</template>

<script>
export default {
  name: 'Types'
}
</script>
