<template>
<div class="ui segment">
  <h4>Variations</h4>

  <div class="ui divider"></div>

  <strong>Social</strong>
  <div>소셜 웹사이트에 연결하기 위한 버튼 모양이 될 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button color="facebook">
      <su-icon name="facebook"/>
      Facebook
    </su-button>
    <su-button color="twitter">
      <su-icon name="twitter"/>
      Twitter
    </su-button>
    <su-button color="google plus">
      <su-icon name="google plus"/>
      Google Plus
    </su-button>
    <su-button color="vk">
      <su-icon name="vk"/>
      VK
    </su-button>
    <su-button color="linkedin">
      <su-icon name="linkedin"/>
      LinkedIn
    </su-button>
    <su-button color="instagram">
      <su-icon name="instagram"/>
      Instagram
    </su-button>
    <su-button color="youtube">
      <su-icon name="youtube"/>
      YouTube
    </su-button>
  </div>

  <strong>Size</strong>
  <div>여러 다른 사이즈로 표현할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button size="mini">
      Mini
    </su-button>
    <su-button size="tiny">
      Tiny
    </su-button>
    <su-button size="small">
      Small
    </su-button>
    <su-button size="medium">
      Medium
    </su-button>
    <su-button size="large">
      Large
    </su-button>
    <su-button size="big">
      Big
    </su-button>
    <su-button size="huge">
      Huge
    </su-button>
    <su-button size="massive">
      Massive
    </su-button>
  </div>

  <strong>Floated</strong>
  <div>컨테이너의 왼쪽 혹은 오른쪽에 정렬할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button floated="right">Right Floated</su-button>
    <su-button floated="left">Left Floated</su-button>
  </div>
  <div class="ui segment basic"></div>

  <strong>Colored</strong>
  <div>여러 다른 색으로 표현할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button color="red">Red</su-button>
    <su-button color="orange">Orange</su-button>
    <su-button color="yellow">Yellow</su-button>
    <su-button color="olive">Olive</su-button>
    <su-button color="green">Green</su-button>
    <su-button color="teal">Teal</su-button>
    <su-button color="blue">Blue</su-button>
    <su-button color="violet">Violet</su-button>
    <su-button color="purple">Purple</su-button>
    <su-button color="pink">Pink</su-button>
    <su-button color="brown">Brown</su-button>
    <su-button color="grey">Grey</su-button>
    <su-button color="black">Black</su-button>
  </div>

  <strong>Compact</strong>
  <div>꽉끼는 공간에 맞추기 위해 안 쪽 여백을 제거할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button compact>Hold</su-button>

    <su-button compact icon="pause" />

    <su-button compact labeled icon="pause">Pause</su-button>
  </div>

  <strong>Toggle</strong>
  <div>토글방식으로 on과 off의 형태로 될 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button toggle>Vote</su-button>
  </div>

  <strong>Positive</strong>
  <div>긍정적인 표시를 암시할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button color="positive">Positive Button</su-button>
  </div>

  <strong>Negative</strong>
  <div>부정적인 표시를 암시할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button color="negative">Negative Button</su-button>
  </div>

  <strong>Fluid</strong>
  <div>컨테이너의 너비에 맞추도록 할 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button fluid>Fits container</su-button>
  </div>

  <strong>Circular</strong>
  <div>원 모양의 버튼이 될 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button circular icon="settings" />

    <div class="ui divider"></div>

    <su-button circular color="facebook" icon="facebook" />
    <su-button circular color="twitter" icon="twitter" />
    <su-button circular color="linkedin" icon="linkedin" />
    <su-button circular color="google plus" icon="google plus" />
  </div>

  <strong>Vertically Attached</strong>
  <div>다른 컨텐츠의 위, 아래에 딱 붙어 있을 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button attached="top" tabindex="0">Top</su-button>
    <div class="ui attached segment">
      <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
    </div>
    <su-button attached="bottom" tabindex="0">Bottom</su-button>

    <div class="ui divider"></div>

    <su-button-group column="two" attached="top">
      <su-button>One</su-button>
      <su-button>Two</su-button>
    </su-button-group>
    <div class="ui attached segment">
      <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
    </div>
    <su-button-group column="two" attached="bottom">
      <su-button>One</su-button>
      <su-button>Two</su-button>
    </su-button-group>
  </div>

  <strong>Horizontally Attached</strong>
  <div>다른 컨텐츠의 왼쪽, 오른쪽에 딱 붙어 있을 수 있습니다.</div>
  <div class="ui segment basic">
    <su-button attached="left">Left</su-button>
    <su-button attached="right">Right</su-button>
  </div>
</div>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
