<template>
<su-segment basic id="example">
  <h4>Content</h4>

  <su-divider />

  <su-header element="h4">Field</su-header>
  <div>
    Field는 form 엘리먼트에서 라벨과 입력란을 포함합니다.
  </div>
  <su-segment basic>
    <su-form>
      <su-field label="User Input">
        <su-input type="text" />
      </su-field>
    </su-form>
  </su-segment>

  <su-header element="h4">Fields</su-header>
  <div>
    Fields의 한 세트는 그룹화 되어 함께 나타납니다.
  </div>
  <su-segment basic>
    <su-form>
      <su-fields>
        <su-field label="First name">
          <su-input placeholder="First Name" type="text" />
        </su-field>
        <su-field label="Middle name">
          <su-input placeholder="Middle Name" type="text" />
        </su-field>
        <su-field label="Last name">
          <su-input placeholder="Last Name" type="text" />
        </su-field>
      </su-fields>
    </su-form>

    <su-divider hidden></su-divider>

    <su-form>
      <su-fields column="three">
        <su-field label="First name">
          <su-input placeholder="First Name" type="text" />
        </su-field>
        <su-field label="Middle name">
          <su-input placeholder="Middle Name" type="text" />
        </su-field>
        <su-field label="Last name">
          <su-input placeholder="Last Name" type="text" />
        </su-field>
      </su-fields>
    </su-form>

    <su-divider hidden></su-divider>

    <su-form>
      <su-fields inline>
        <su-field width="eight" label="Name">
          <su-input placeholder="First Name" type="text" />
        </su-field>
        <su-field width="three">
          <su-input placeholder="Middle Name" type="text" />
        </su-field>
        <su-field width="five">
          <su-input placeholder="Last Name" type="text" />
        </su-field>
      </su-fields>
    </su-form>
  </su-segment>

  <su-header element="h4">Text Area</su-header>
  <div>
    Textarea는 확장된 사용자 입력을 위해 사용할 수 있습니다.
  </div>
  <su-segment basic>
    <su-form>
      <su-field label="Text">
        <textarea></textarea>
      </su-field>
      <su-field label="Short Text">
        <textarea rows="2"></textarea>
      </su-field>
    </su-form>
  </su-segment>

  <su-header element="h4">Checkbox</su-header>
  <div>
    Textarea는 확장된 사용자 입력을 위해 사용할 수 있습니다.
  </div>
  <su-segment basic>
    <su-form>
      <su-field inline>
        <su-checkbox
          tabindex="0"
          label="Checkbox"
        />
      </su-field>

      <su-field inline>
        <su-checkbox
          slider
          tabindex="0"
          label="Slider"
        />
      </su-field>

      <su-field inline>
        <su-checkbox
          toggle
          tabindex="0"
          label="Toggle"
        />
      </su-field>
    </su-form>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Content'
}
</script>
