<template>
<section>
  <su-header element="h1">
    Form
    <su-header sub>
      form은 구조화된 방식으로 관련된 사용자 입력 필드의 세트를 보여줍니다.
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <Content />
  <!-- <States /> -->
  <!-- <Variations /> -->
</section>
</template>

<script>
import Types from './Types'
import Content from './Content'
// import States from './States'
// import Variations from './Variations'

export default {
  name: 'DemoForm',

  components: {
    Types,
    Content,
    // States,
    // Variations
  }
}
</script>
