<template>
<section>
  <su-header element="h1">
    Input
    <su-header sub>입력란은 사용자에게 응답을 유도하기 위해 사용합니다.</su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <States />
  <Variations />

</section>
</template>

<script>
import Types from './Types.vue'
import States from './States.vue'
import Variations from './Variations.vue'

export default {
  name: 'DemoInput',

  components: {
    Types,
    States,
    Variations
  },
}
</script>

