<template>
<su-segment basic id="example">
  <su-header dividing element="h2">States</su-header>

  <su-header element="h4">Focus</su-header>
  <div>
    입력란이 현재 작동하는 것 처럼 보일 수 있습니다.
  </div>
  <su-segment basic>
    <su-input v-model="value" focus type="text" placeholder="Search..." />
  </su-segment>

  <su-header element="h4">Loading</su-header>
  <div>
    입력란에 현재 데이터를 로딩하고 있다는 것을 보이게 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      loading
      icon-left="search"
      type="text"
      placeholder="Search..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      loading
      icon="search"
      type="text"
      placeholder="Search..." />
  </su-segment>

  <su-header element="h4">Disabled</su-header>
  <div>
    입력란을 비활성화 상태로 보이게 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      disabled
      icon="search"
      type="text"
      placeholder="Search..." />
  </su-segment>

  <su-header element="h4">Error</su-header>
  <div>
    입력란이 잘못된 데이터를 가지고 있다는 것을 표시할 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      error
      icon="search"
      type="text"
      placeholder="Search..." />
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States',

  data()  {
    return { value: '' }
  }
}
</script>
