<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Types</su-header>

  <su-header element="h4">Input</su-header>
  <div>
    표준 입력란
  </div>
  <su-segment basic>
    <su-input v-model="value" type="text" placeholder="Search..." />
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types',

  data()  {
    return { value: '' }
  }
}
</script>
