<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Variations</su-header>

  <su-header element="h4">Icon</su-header>
  <div>
    입력란은 아이콘을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      icon="search"
      type="text"
      placeholder="Search..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      icon-left="users"
      type="text"
      placeholder="Search users..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      icon="circular search link"
      type="text"
      placeholder="Search..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      icon="inverted circular search link"
      type="text"
      placeholder="Search..." />
  </su-segment>

  <su-header element="h4">Labeled</su-header>
  <div>
    입력란은 라벨을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      labeled
      type="text"
      placeholder="mysite.com">
      <su-label>http://</su-label>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      labeled="right"
      type="text"
      placeholder="Find domain">
      <su-label class="dropdown" icon-right="dropdown">
        .com
      </su-label>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      labeled="right"
      type="text"
      placeholder="Enter weight...">
      <su-label basic element="div">kg</su-label>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      labeled="right"
      id="amount"
      type="text"
      placeholder="Enter weight...">
      <su-label element="label" for="amount">$</su-label>
      <su-label basic element="div">.00</su-label>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      labeled="right"
      icon-left="tags"
      type="text"
      placeholder="Enter tags">
      <su-label tag>Add Tag</su-label>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      labeled="left corner"
      type="text"
      placeholder="Search...">
      <su-label>
        <su-icon name="asterisk" />
      </su-label>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      labeled="corner"
      type="text"
      placeholder="Search...">
      <su-label>
        <su-icon name="asterisk" />
      </su-label>
    </su-input>
  </su-segment>

  <su-header element="h4">Action</su-header>
  <div>
    입력란은 사용자가 어떠한 동작을 수행할 수 있도록 알리기 위한 형태가 될 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      action
      type="text"
      placeholder="Search...">
      <su-button>Seach</su-button>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="price"
      action="left"
      type="text"
      placeholder="Search...">
      <su-button labeled icon="cart" color="teal">Checkout</su-button>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      action
      type="text"
      placeholder="Search...">
      <select class="ui compact selection dropdown">
        <option value="all">All</option>
        <option selected="" value="articles">Articles</option>
        <option value="products">Products</option>
      </select>
      <su-button>Search</su-button>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="url"
      action
      type="text"
      placeholder="Search...">
      <su-button labeled icon="copy" color="teal">Copy</su-button>
    </su-input>

    <su-divider></su-divider>

    <su-input
      v-model="value"
      action
      type="text"
      placeholder="Search...">
      <su-button icon="search" />
    </su-input>
  </su-segment>

  <su-header element="h4">Transparent</su-header>
  <div>
    투명한 입력란은 배경을 가지지 않습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      transparent
      type="text"
      placeholder="Search..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      transparent
      icon="search"
      type="text"
      placeholder="Search..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      transparent
      icon-left="search"
      type="text"
      placeholder="Search..." />
  </su-segment>

  <su-header element="h4">Inverted</su-header>
  <div>
    입력란은 어두운 배경을 나타낼 수 있습니다.
  </div>
  <su-segment inverted basic>
    <su-input
      v-model="value"
      inverted
      type="text"
      placeholder="Search..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      inverted
      icon-left="search"
      type="text"
      placeholder="Search..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      inverted
      transparent
      icon="search"
      type="text"
      placeholder="Search..." />
  </su-segment>

  <su-header element="h4">Fluid</su-header>
  <div>
    입력란은 컨테이너의 너비에 맞는 크기를 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      fluid
      icon="search"
      type="text"
      placeholder="Search very wide input..." />

    <su-input
      v-model="value"
      fluid
      action
      type="text"
      placeholder="Search...">
      <su-button>Search</su-button>
    </su-input>
  </su-segment>

  <su-header element="h4">Size</su-header>
  <div>
    입력란은 다양한 크기를 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-input
      v-model="value"
      size="mini"
      icon="search"
      type="text"
      placeholder="Search mini..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      size="small"
      icon="search"
      type="text"
      placeholder="Search small..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      size="large"
      icon="search"
      type="text"
      placeholder="Search large..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      size="big"
      icon="search"
      type="text"
      placeholder="Search big..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      size="huge"
      icon="search"
      type="text"
      placeholder="Search huge..." />

    <su-divider></su-divider>

    <su-input
      v-model="value"
      size="massive"
      icon="search"
      type="text"
      placeholder="Search massive..." />
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations',

  data()  {
    return {
      value: '',
      price: '$52.03',
      url: 'http://ww.short.url/c0opq'
    }
  }
}
</script>
