<template>
<su-segment>
  <h4>Content</h4>

  <su-divider></su-divider>

  <strong>Image</strong>
  <div>
    헤더는 이미지를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-header element="h2">
      <su-image src="https://semantic-ui.com/images/icons/school.png" />
      <div class="content">
        Learn More
      </div>
    </su-header>

    <su-divider></su-divider>

    <su-header element="h2">
      <su-image circular src="https://semantic-ui.com/images/avatar2/large/patrick.png" />
      Patrick
    </su-header>

    <su-divider></su-divider>

    <su-header element="h2">
      <su-image circular src="https://semantic-ui.com/images/icons/plugin.png" />
      <div class="content">
        Plug-ins
        <su-header sub>Check out our plug-in marketplace</su-header>
      </div>
    </su-header>
  </su-segment>

  <strong>Icon</strong>
  <div>
    헤더는 아이콘을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-header element="h2">
      <su-icon name="plug" />
      <div class="content">
        Uptime Guarantee
      </div>
    </su-header>

    <su-divider></su-divider>

    <su-header element="h2">
      <su-icon name="settings" />
      <div class="content">
        Account settings
        <su-header sub>Manage your preferences</su-header>
      </div>
    </su-header>
  </su-segment>

  <strong>Subheader</strong>
  <div>
    헤더는 서브헤더를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-header element="h2">
      Account settings
      <su-header sub>Manage your account settings and set e-mail preferences.</su-header>
    </su-header>

    <su-divider></su-divider>

    <su-header element="h1">
      H1
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h2">
      H2
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h3">
      H3
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h4">
      H4
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h5">
      H5
      <su-header sub>Sub Header</su-header>
    </su-header>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'Content'
}
</script>
