<template>
<section>
  <su-header element="h1">
    Header
    <su-header sub>헤더는 컨텐츠의 짧은 요약을 제공합니다.</su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <Content />
  <States />
  <Variations />

</section>
</template>

<script>
import Types from './Types.vue'
import Content from './Content.vue'
import States from './States.vue'
import Variations from './Variations.vue'

export default {
  name: 'DemoHeader',

  components: {
    Types,
    Content,
    States,
    Variations
  },
}
</script>

