<template>
<su-segment>
  <h4>States</h4>

  <su-divider></su-divider>

  <strong>Disabled</strong>
  <div>
    헤더는 비활성 상태로 보여줄 수 있습니다.
  </div>
  <su-segment basic>
    <su-header disabled>
      Disabled Header
    </su-header>
  </su-segment>

  <strong>Icon</strong>
  <div>
    헤더는 아이콘을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-header element="h2">
      <su-icon name="plug" />
      <div class="content">
        Uptime Guarantee
      </div>
    </su-header>

    <su-divider></su-divider>

    <su-header element="h2">
      <su-icon name="settings" />
      <div class="content">
        Account settings
        <su-header sub>Manage your preferences</su-header>
      </div>
    </su-header>
  </su-segment>

  <strong>Subheader</strong>
  <div>
    헤더는 서브헤더를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-header element="h2">
      Account settings
      <su-header sub>Manage your account settings and set e-mail preferences.</su-header>
    </su-header>

    <su-divider></su-divider>

    <su-header element="h1">
      H1
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h2">
      H2
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h3">
      H3
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h4">
      H4
      <su-header sub>Sub Header</su-header>
    </su-header>
    <su-header element="h5">
      H5
      <su-header sub>Sub Header</su-header>
    </su-header>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
