<template>
<su-segment>
  <h4>Types</h4>

  <su-divider></su-divider>

  <strong>Page Headers</strong>
  <div>
    헤더는 페이지 컨텍스트에서 구역 계층구조를 제공합니다.
  </div>
  <su-segment basic>
    <su-header element="h1">First header</su-header>
    <su-header element="h2">Second header</su-header>
    <su-header element="h3">Third header</su-header>
    <su-header element="h4">Fourth header</su-header>
    <su-header element="h5">Fifth header</su-header>
  </su-segment>

  <strong>Content Headers</strong>
  <div>
    헤더는 컨텐츠의 컨텍스에서 구역의 중요한 부분을 강조해줍니다.
  </div>
  <su-segment basic>
    <su-button-group icon>
      <su-button @click="changeFontSize(1)" icon="plus" />
      <su-button @click="changeFontSize(-1)" icon="minus" />
    </su-button-group>
    <su-segment vertical :style="{ fontSize: fontSize + 'px' }">
      <su-header size="huge">Huge Header</su-header>
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" /></p>

      <su-header size="large">Large Header</su-header>
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" /></p>

      <su-header size="medium">Medium Header</su-header>
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" /></p>

      <su-header size="small">Small Header</su-header>
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" /></p>

      <su-header size="tiny">Tiny Header</su-header>
      <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" /></p>
    </su-segment>
  </su-segment>

  <strong>Icon Headers</strong>
  <div>
    헤더는 아이콘으로 강조된 형식을 취할 수 있습니다.
  </div>
  <su-segment basic>
    <su-header icon="settings" element="h2">
      <div class="content">
        Account Settings
        <su-header sub>Manage your account settings and set e-mail preferences.</su-header>
      </div>
    </su-header>

    <su-divider></su-divider>

    <su-header icon="circular users" aligned="center" element="h2">
      Friends
    </su-header>
  </su-segment>

  <strong>Sub Headers</strong>
  <div>
    헤더는 라벨보다 작거나 컨텐츠에 비해 덜 강조된 형태가 될 수 있습니다.
  </div>
  <su-segment basic>
    <su-header sub element="h2">
      Price
    </su-header>
    <span>$10.99</span>

    <su-divider></su-divider>

    <div class="ui horizontal list">
      <div class="item">
        <img class="ui mini circular image" src="https://semantic-ui.com/images/avatar2/small/molly.png">
        <div class="content">
          <su-header sub>Molly</su-header>
          Coordinator
        </div>
      </div>
      <div class="item">
        <img class="ui mini circular image" src="https://semantic-ui.com/images/avatar2/small/elyse.png">
        <div class="content">
          <su-header sub>Elyse</su-header>
          Developer
        </div>
      </div>
      <div class="item">
        <img src="https://semantic-ui.com/images/avatar2/small/eve.png" class="ui mini circular image">
        <div class="content">
          <su-header sub>Eve</su-header>
          Project Manager
        </div>
      </div>
    </div>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'Types',

  data()  {
    return {
      fontSize: 14
    }
  },

  methods: {
    changeFontSize(value)  {
      this.fontSize += value;
    }
  }
}
</script>
