<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Variations</su-header>

  <su-header element="h4">Dividing</su-header>
  <div>
    헤더는 자신의 아래에 있는 컨텐츠로 부터 자기 자신을 분리시킬 수 있습니다.
  </div>
  <su-segment basic>
    <su-header dividing element="h3">
      Dividing Header
    </su-header>
    <p><su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" /></p>
  </su-segment>

  <su-header element="h4">Block</su-header>
  <div>
    헤더는 블록 안에 있는 것처럼 보여질 수 있습니다.
  </div>
  <su-segment basic>
    <su-header block element="h3">
      Block Header
    </su-header>
    <p><su-image src="https://semantic-ui.com/images/wireframe/media-paragraph.png" /></p>
  </su-segment>

  <su-header element="h4">Attached</su-header>
  <div>
    헤더는 세그먼트처럼 다른 컨텐츠에 딱 붙어있을 수 있습니다.
  </div>
  <su-segment basic>
    <su-header attached="top" element="h3">Top Attached</su-header>
    <su-segment attached>
      <p><su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" /></p>
    </su-segment>
    <su-header attached element="h3">Attached</su-header>
    <su-segment attached>
      <p><su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" /></p>
    </su-segment>
    <su-header attached="bottom" element="h3">Bottom Attached</su-header>
  </su-segment>

  <su-header element="h4">Floating</su-header>
  <div>
    헤더는 다른 컨텐츠의 왼쪽 혹은 오른쪽에 배치할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment clearing>
      <su-header element="h3" floated="right">Go Forward</su-header>
      <su-header element="h3" floated="left">Go Back</su-header>
    </su-segment>
  </su-segment>

  <su-header element="h4">Text Alignment</su-header>
  <div>
    헤더는 내부에 있는 텍스트를 양쪽에 배치할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <su-header aligned="right" element="h3">Right</su-header>
      <su-header aligned="left" element="h3">Left</su-header>
      <su-header aligned="justified" element="h3">This should take up the full width even if only one line</su-header>
      <su-header aligned="center" element="h3">Center</su-header>
    </su-segment>
  </su-segment>

  <su-header element="h4">Colored</su-header>
  <div>
    헤더에는 색상을 입힐 수 있습니다.
  </div>
  <su-segment basic>
    <su-header color="red" element="h4">Red</su-header>
    <su-header color="orange" element="h4">Orange</su-header>
    <su-header color="yellow" element="h4">Yellow</su-header>
    <su-header color="olive" element="h4">Olive</su-header>
    <su-header color="green" element="h4">Green</su-header>
    <su-header color="teal" element="h4">Teal</su-header>
    <su-header color="blue" element="h4">Blue</su-header>
    <su-header color="purple" element="h4">Purple</su-header>
    <su-header color="violet" element="h4">Violet</su-header>
    <su-header color="pink" element="h4">Pink</su-header>
    <su-header color="brown" element="h4">Brown</su-header>
    <su-header color="grey" element="h4">Grey</su-header>
  </su-segment>

  <su-header element="h4">Inverted</su-header>
  <div>
    헤더에 반전된 색상을 입힐 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment inverted>
      <su-header inverted color="red" element="h4">Red</su-header>
      <su-header inverted color="orange" element="h4">Orange</su-header>
      <su-header inverted color="yellow" element="h4">Yellow</su-header>
      <su-header inverted color="olive" element="h4">Olive</su-header>
      <su-header inverted color="green" element="h4">Green</su-header>
      <su-header inverted color="teal" element="h4">Teal</su-header>
      <su-header inverted color="blue" element="h4">Blue</su-header>
      <su-header inverted color="purple" element="h4">Purple</su-header>
      <su-header inverted color="violet" element="h4">Violet</su-header>
      <su-header inverted color="pink" element="h4">Pink</su-header>
      <su-header inverted color="brown" element="h4">Brown</su-header>
      <su-header inverted color="grey" element="h4">Grey</su-header>
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default { name: 'Variations' }
</script>
