<template>
<div class="ui segment">
  <h4>Content</h4>

  <div class="ui divider"></div>

  <strong>Detail</strong>
  <div>A label can contain a detail</div>
  <div class="ui segment basic">
    <su-label detail="214">Dog</su-label>
  </div>

  <strong>Icon</strong>
  <div>A label can include an icon</div>
  <div class="ui segment basic">
    <su-label icon="mail">Mail</su-label>
    <su-label icon-right="delete">Tag</su-label>
  </div>

  <strong>Image</strong>
  <div>A label can include an image</div>
  <div class="ui segment basic">
    <su-label>
      <su-image avatar spaced="right" src="https://semantic-ui.com/images/avatar/small/elliot.jpg" />
      Elliot
    </su-label>
    <su-label>
      <img src="https://semantic-ui.com/images/avatar/small/stevie.jpg" />
      Stevie
    </su-label>
  </div>

  <strong>Link</strong>
  <div>A label can be a link or contain an item that links</div>
  <div class="ui segment basic">
    <su-label icon="mail">23</su-label>
    <su-label icon="mail" detail="View Mail">23</su-label>
  </div>
</div>
</template>

<script>
export default {
  name: 'Content'
}
</script>
