<template>
<div class="ui segment">
  <h4>Groups</h4>

  <div class="ui divider"></div>

  <strong>Group Size</strong>
  <div>Labels can share sizes together</div>
  <div class="ui segment basic">
    <su-label-group size="huge">
      <su-label>Fun</su-label>
      <su-label>Happy</su-label>
      <su-label>Smart</su-label>
      <su-label>Witty</su-label>
    </su-label-group>
  </div>

  <strong>Colored Group</strong>
  <div>Labels can share colors together</div>
  <div class="ui segment basic">
    <su-label-group color="blue">
      <su-label icon-right="close">
        Fun
      </su-label>
      <su-label detail="22">
        Happy
      </su-label>
      <su-label>
        Smart
      </su-label>
      <su-label>
        Insane
      </su-label>
      <su-label>
        Exciting
      </su-label>
    </su-label-group>
  </div>

  <strong>Tag Group</strong>
  <div>Labels can share tag formatting</div>
  <div class="ui segment basic">
    <su-label-group tag>
      <su-label>
        $10.00
      </su-label>
      <su-label>
        $19.99
      </su-label>
      <su-label>
        $24.99
      </su-label>
      <su-label>
        $30.99
      </su-label>
      <su-label>
        $10.25
      </su-label>
    </su-label-group>
  </div>

  <strong>Circular</strong>
  <div>Labels can share shapes</div>
  <div class="ui segment basic">
    <su-label-group circular>
      <su-label>11</su-label>
      <su-label>22</su-label>
      <su-label>33</su-label>
      <su-label>44</su-label>
      <su-label>141</su-label>
    </su-label-group>
  </div>
</div>
</template>

<script>
export default {
  name: 'Groups'
}
</script>
