<template>
<section>
  <h2>Label</h2>
  A label displays content classification

  <div class="ui divider"></div>

  <Types />
  <Content />
  <Variations />
  <Groups />

</section>
</template>

<script>
import Types from './Types.vue'
import Content from './Content.vue'
import Variations from './Variations.vue'
import Groups from './Groups.vue'

export default {
  name: 'DemoLabel',

  components: {
    Types,
    Content,
    Variations,
    Groups,
  },
}
</script>

