<template>
<div class="ui segment">
  <h4>Types</h4>

  <div class="ui divider"></div>

  <strong>Label</strong>
  <div>A label</div>
  <div class="ui segment basic">
    <su-label icon="mail">
      23
    </su-label>
  </div>

  <div class="ui divider"></div>

  <strong>Image</strong>
  <div>A label can be formatted to emphasize an image</div>
  <div class="ui segment basic">
    <div>
      <su-label src="https://semantic-ui.com/images/avatar/small/joe.jpg">
        Joe
      </su-label>
      <su-label src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
        Elliot
      </su-label>
      <su-label src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
        Stevie
      </su-label>
    </div>
    <div>
      <su-label
        src="https://semantic-ui.com/images/avatar/small/veronika.jpg"
        color="blue"
        detail="Friend">
        Veronika
      </su-label>
      <su-label
        src="https://semantic-ui.com/images/avatar/small/jenny.jpg"
        color="teal"
        detail="Student">
        Veronika
      </su-label>
      <su-label
        src="https://semantic-ui.com/images/avatar/small/christian.jpg"
        color="yellow"
        detail="Co-worker">
        Helen
      </su-label>
    </div>
    <div>
      <su-label
        src="https://semantic-ui.com/images/avatar/small/ade.jpg"
        icon-right="delete icon">
        Adrienne
      </su-label>
      <su-label
        src="https://semantic-ui.com/images/avatar/small/zoe.jpg"
        icon-right="delete icon">
        Zoe
      </su-label>
      <su-label
        src="https://semantic-ui.com/images/avatar/small/nan.jpg"
        icon-right="delete icon">
        Nan
      </su-label>
    </div>
  </div>

  <div class="ui divider"></div>

  <strong>Pointing</strong>
  <div>A label can point to content next to it</div>
  <div class="ui segment basic">
    <form class="ui fluid form">
      <div class="field">
        <input placeholder="First name" type="text">
        <su-label pointing>
          Please enter a value
        </su-label>
      </div>
      <div class="ui divider"></div>
      <div class="field" placeholder="Last Name">
        <su-label pointing="below">
          Please enter a value
        </su-label>
        <input type="text">
      </div>
      <div class="ui divider"></div>
      <div class="inline field">
        <input placeholder="Username" type="text">
        <su-label pointing="left">
          That name is taken!
        </su-label>
      </div>
      <div class="ui divider"></div>
      <div class="inline field">
        <su-label pointing="right">
          Your password must be 6 characters or more
        </su-label>
        <input type="password">
      </div>
    </form>

    <div class="ui divider"></div>

    <form class="ui fluid form">
      <div class="field">
        <input placeholder="First name" type="text">
        <su-label pointing color="red">
          Please enter a value
        </su-label>
      </div>
      <div class="ui divider"></div>
      <div class="field" placeholder="Last Name">
        <su-label pointing="below" color="red">
          Please enter a value
        </su-label>
        <input type="text">
      </div>
      <div class="ui divider"></div>
      <div class="inline field">
        <input placeholder="Username" type="text">
        <su-label pointing="left" color="red">
          That name is taken!
        </su-label>
      </div>
      <div class="ui divider"></div>
      <div class="inline field">
        <su-label pointing="right" color="red">
          Your password must be 6 characters or more
        </su-label>
        <input type="password">
      </div>
    </form>
  </div>

  <strong>Corner</strong>
  <div>A label can position itself in the corner of an element</div>
  <div class="ui segment basic">
    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid image">
          <su-label
            corner="left"
            icon="heart"
          />
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
      </div>
      <div class="column">
        <div class="ui fluid image">
          <su-label
            corner="right"
            icon="save"
            color="red"
          />
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
      </div>
    </div>
  </div>

  <strong>Tag</strong>
  <div>A label can appear as a tag</div>
  <div class="ui segment basic">
    <su-label tag>New</su-label>
    <su-label tag color="red">Upcoming</su-label>
    <su-label tag color="teal">Featured</su-label>
  </div>

  <strong>Ribbon</strong>
  <div>A label can appear as a ribbon attaching itself to an element</div>
  <div class="ui segment basic">
    <div class="ui two column grid">
      <div class="column">
        <div class="ui raised segment">
          <su-label ribbon color="red">Overview</su-label>
          <span>Account Details</span>
          <p><su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" /></p>
          <su-label ribbon color="orange">Community</su-label> User Reviews
          <p><su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" /></p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <su-label ribbon="right" color="blue">Specs</su-label>
          <p><su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" /></p>
          <su-label ribbon="right" color="teal">Reviews</su-label>
          <p><su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" /></p>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui two column grid">
      <div class="column">
        <div class="ui fluid image">
          <su-label ribbon icon="hotel" color="black">
            Hotel
          </su-label>
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
      </div>
      <div class="column">
        <div class="ui fluid image">
          <su-label ribbon icon="spoon" color="blue">
            Food
          </su-label>
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
      </div>
    </div>
  </div>

  <strong>Attached</strong>
  <div>A label can attach to a content segment</div>
  <div class="ui segment basic">
    <div class="ui three column grid">
      <div class="row">
        <div class="column">
          <div class="ui segment">
            <su-label attached="top">HTML</su-label>
            <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <su-label attached="bottom">CSS</su-label>
            <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <su-label attached="top right">Code</su-label>
            <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui segment">
            <su-label attached="top left">View</su-label>
            <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <su-label attached="bottom left">User View</su-label>
            <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
          </div>
        </div>
        <div class="column">
          <div class="ui segment">
            <su-label attached="bottom right">Admin View</su-label>
            <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <strong>Horizontal</strong>
  <div>A horizontal label is formatted to label content along-side it horizontally</div>
  <div class="ui segment basic">
    <div class="ui divided selection list">
      <a class="item">
        <su-label horizontal color="red">Fruit</su-label>
        Kumquats
      </a>
      <a class="item">
        <su-label horizontal color="purple">Candy</su-label>
        Ice Cream
      </a>
      <a class="item">
        <su-label horizontal color="red">Fruit</su-label>
        Orange
      </a>
      <a class="item">
        <su-label horizontal>Dog</su-label>
        Poodle
      </a>
    </div>
  </div>

  <strong>Floating</strong>
  <div>A label can float above another</div>
  <div class="ui segment basic">
    <div class="ui compact menu">
      <a class="item">
        <i class="icon mail"></i> Messages
        <su-label floating color="red">22</su-label>
      </a>
      <a class="item">
        <i class="icon users"></i> Friends
        <su-label floating color="teal">22</su-label>
      </a>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Types'
}
</script>
