<template>
<div class="ui segment">
  <h4>Variations</h4>

  <div class="ui divider"></div>

  <strong>Circular</strong>
  <div>A label can be circular</div>
  <div class="ui segment basic">
    <su-label circular color="red">2</su-label>
    <su-label circular color="orange">2</su-label>
    <su-label circular color="yellow">2</su-label>
    <su-label circular color="olive">2</su-label>
    <su-label circular color="green">2</su-label>
    <su-label circular color="teal">2</su-label>
    <su-label circular color="blue">2</su-label>
    <su-label circular color="violet">2</su-label>
    <su-label circular color="purple">2</su-label>
    <su-label circular color="pink">2</su-label>
    <su-label circular color="brown">2</su-label>
    <su-label circular color="grey">2</su-label>
    <su-label circular color="black">2</su-label>

    <div class="ui divider"></div>

    <su-label color="red" circular="empty"></su-label>
    <su-label color="orange" circular="empty"></su-label>
    <su-label color="yellow" circular="empty"></su-label>
    <su-label color="olive" circular="empty"></su-label>
    <su-label color="green" circular="empty"></su-label>
    <su-label color="teal" circular="empty"></su-label>
    <su-label color="blue" circular="empty"></su-label>
    <su-label color="violet" circular="empty"></su-label>
    <su-label color="purple" circular="empty"></su-label>
    <su-label color="pink" circular="empty"></su-label>
    <su-label color="brown" circular="empty"></su-label>
    <su-label color="grey" circular="empty"></su-label>
    <su-label color="black" circular="empty"></su-label>
  </div>

  <strong>Basic</strong>
  <div>A label can reduce its complexity</div>
  <div class="ui segment basic">
    <su-label basic>Basic</su-label>
    <su-label pointing basic>Pointing</su-label>
    <su-label basic src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      Elliot
    </su-label>
    <su-label basic pointing color="red">Red Pointing</su-label>
    <su-label basic color="blue">Blue</su-label>
  </div>

  <strong>Colored</strong>
  <div>A label can have diffrent colors</div>
  <div class="ui segment basic">
    <su-label color="red">Red</su-label>
    <su-label color="orange">Orange</su-label>
    <su-label color="yellow">Yellow</su-label>
    <su-label color="olive">Olive</su-label>
    <su-label color="green">Green</su-label>
    <su-label color="teal">Teal</su-label>
    <su-label color="blue">Blue</su-label>
    <su-label color="violet">Violet</su-label>
    <su-label color="purple">Purple</su-label>
    <su-label color="pink">Pink</su-label>
    <su-label color="brown">Brown</su-label>
    <su-label color="grey">Grey</su-label>
    <su-label color="black">Black</su-label>
  </div>

  <strong>Size</strong>
  <div>A label can be small or large</div>
  <div class="ui segment basic">
    <su-label size="mini">Mini</su-label>
    <su-label size="tiny">Tiny</su-label>
    <su-label size="small">Small</su-label>
    <su-label size="medium">Medium</su-label>
    <su-label size="large">Large</su-label>
    <su-label size="big">Big</su-label>
    <su-label size="huge">Huge</su-label>
    <su-label size="massive">Massive</su-label>
  </div>
</div>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
