<template>
<su-sidebar v-model="sidebar.visible"
  menu
  vertical
  inverted
  size="large">
  <su-item :to="{ path: '/' }">
    <su-img :src="require('../assets/imgs/favicon.png')" />
    &nbsp;
    Docs
    <small>
      ({{require('../../../vuejs-semantic-ui/package.json').version}})
    </small>
  </su-item>
  <su-item>
    <strong>Getting Started</strong>
    <su-menu inverted vertical size="large">
      <su-item>Installation</su-item>
    </su-menu>
  </su-item>
  <su-item v-for="(category, index) in $demoList" :key="index">
    <strong>
      {{category.title}}
    </strong>

    <su-menu inverted vertical size="large">
      <su-item
        v-for="(item, itemIndex) in category.list"
        :key="itemIndex"
        :to="{ path: `/Demo/${item.title}` }"
        active-class="active">
        {{item.title}}
      </su-item>
    </su-menu>
  </su-item>
</su-sidebar>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Sidebar',

  computed: {
    ...mapGetters({
      sidebar: 'sidebar'
    })
  }
}
</script>

<style scoped>
.img-logo { width: 24px !important; }

img {
  display: inline !important;
}
</style>
