<template>
<div style="clear:both;">
  <ul>
    <li v-for="(n, i) in list" :key="i">
      {{i}}.jpg
      <div>
        <img style="display: none; height: 30px;" :src="require(`../assets/${n}.jpg`)" />
      </div>
    </li>
  </ul>
  <div style="clear:both;">
  </div>
</div>
</template>

<script>
let jQuery = require('jquery')

export default {
  name: 'Test',

  data()  {
    return {
      list: [],
    }
  },

  methods: {

  },

  created() {
    this.list.push(1);
    this.list.push(2);
    this.list.push(3);
    this.list.push(4);
  },

  mounted() {
    $('ul li')
      .mouseover(function()  {
        // $('ui li image').find('img').hide();
        $(this).find('img').fadeIn(800);
      })
      .mouseout(function()  {
        let $this = $(this);

        $this.find('div').css({ display: 'none' });
        $this.find('img').hide(0, function() {
          $this.find('div').css({ display: 'block' });
        });
      });
  }
}
</script>

<style scoped>
ul {
  list-style: none;
}
ul li {
  float: left;
  width: 80px;
  height: 60px;
  border-bottom: 1px solid red;
  text-align: center;
}
</style>


