<template>
<section>
  <su-header element="h1">
    Rail
    <su-header sub>
      레일은 사이트의 메인 뷰의 바깥 경계에 함께 제공되는 컨텐츠를 보여주기 위해 사용합니다.
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Introduction />
  <Types />
  <!-- <Variations /> -->

</section>
</template>

<script>
import Introduction from './Introduction.vue'
import Types from './Types.vue'
// import Variations from './Variations.vue'

export default {
  name: 'DemoRail',

  components: {
    Introduction,
    Types,
    // Variations
  },
}
</script>

