<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Introduction</su-header>

  <su-header element="h3">언제 사용하나요</su-header>
  <p>
    레일은 당신의 웹사이트 메인 화면의 선택적으로 함께 제공되는 컨텐츠의 바깥부분을 보여줍니다.
  </p>
  <p>
    사이트는 빈번히 당신이 페이지를 통해 스크롤 동작을 할 때 당신의 화면에 추가적인 컨텐츠를 고정하기 위해 시티키 컨텐츠와 레일을 사욯한다.
  </p>

  <su-header element="h3">크기 조절하기</su-header>
  <p>
    레일화된 컨텐츠는 당신의 사이트의 컨텐츠가 브라우저의 가로크기를 넘어서지 못하도록 보장하기 위해서 고정 시킬 임의의 중단점을 요구합니다.
  </p>
  <p>
    레일은 블로그 포스트, 뉴스기사, 사용자의 프로필 같은 긴 컨텐츠와 함께 단독 칼럼 컨테이너 옆에서 사용됩니다. 일반적으로 메인 텍스트 컨테이너 가로크기는 읽는데 유용하도록 줄 길이를 최적화 하기 위해 글씨 크기에 따라 <code>600-800px</code> 사이에 설정되어야 합니다
  </p>

  <div class="ui message warning">
    다음에 이어지는 예제는 어떠한 중단점도 사용하지 않아, 몇 몇 레일화된 컨텐츠는 작은 화면의 브라우저 화면 바깥에 나타날 것입니다.
  </div>
</su-segment>
</template>

<script>
export default {
  name: 'Introduction'
}
</script>
