<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Types</su-header>

  <su-header element="h4">Rail</su-header>
  <div>
    레일은 컨테이너의 좌측 혹은 우측에 표시될 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui container">
      <su-segment>
        <su-rail left>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <su-rail right>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>
  </su-segment>

  <su-header element="h4">Internal</su-header>
  <div>
    레일은 컨테이너의 좌측 혹은 우측에 표시될 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui container">
      <su-segment>
        <su-rail internal left>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <su-rail internal right>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <br>
        <br>
        <br>
        <br>
        <br>
      </su-segment>
    </div>
  </su-segment>

  <su-header element="h4">Dividing</su-header>
  <div>
    레일은 자기자신과 컨테이너 사이에 구분선을 생성할 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui container">
      <su-segment>
        <su-rail dividing left>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <su-rail dividing right>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>
  </su-segment>

  <su-header element="h4">Attached</su-header>
  <div>
    레일은 메인 화면에 딱 붙어 있도록 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui container">
      <su-segment>
        <su-rail attached left>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <su-rail attached right>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>

    <su-divider hidden />

    <div class="ui container">
      <su-segment>
        <su-rail attached internal left>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <su-rail attached internal right>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <br>
        <br>
        <br>
        <br>
        <br>
      </su-segment>
    </div>
  </su-segment>

  <su-header element="h4">Close</su-header>
  <div>
    레일은 메인 화면에 보다 가깝게 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui container">
      <su-segment>
        <su-rail close left>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <su-rail close right>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>

    <su-divider hidden />

    <div class="ui container">
      <su-segment>
        <su-rail close="very" left>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <su-rail close="very" right>
          <su-segment>
            Left Rail Content
          </su-segment>
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>
  </su-segment>

  <su-header element="h4">Size</su-header>
  <div>
    레일은 다양한 크기를 가질 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui container">
      <su-segment>
        <su-rail left size="mini">
          Mini
        </su-rail>
        <su-rail right size="tiny">
          Tiny
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>

    <su-divider hidden />

    <div class="ui container">
      <su-segment>
        <su-rail left size="small">
          Small
        </su-rail>
        <su-rail right size="large">
          Large
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>

    <su-divider hidden />

    <div class="ui container">
      <su-segment>
        <su-rail left size="big">
          Big
        </su-rail>
        <su-rail right size="huge">
          Huge
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>

    <su-divider hidden />

    <div class="ui container">
      <su-segment>
        <su-rail right size="massive">
          Massive
        </su-rail>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
        <p>
          <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
        </p>
      </su-segment>
    </div>
  </su-segment>
</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
