<template>
<section>
  <su-header element="h1">
    Loader
    <su-header sub>
      로더는 사용자에게 액티비티가 완료될 때 까지 기다려야 한다고 알려줍니다.
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <States />
  <Variations />
  <!-- <Content /> -->
  <!-- <ContentVariations /> -->

</section>
</template>

<script>
import Types from './Types.vue'
import States from './States.vue'
import Variations from './Variations.vue'
// import Content from './Content.vue'
// import ContentVariations from './ContentVariations.vue'

export default {
  name: 'DemoLoader',

  components: {
    Types,
    States,
    Variations,
    // Content,
    // ContentVariations
  },
}
</script>

