<template>
<su-segment basic id="example">
  <su-header dividing element="h2">States</su-header>

  <su-header element="h4">Indeterminate</su-header>
  <div>
    로더는 작업시간이 얼마나 걸릴지 불확실한지를 보여줄 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <div class="ui active dimmer">
        <su-loader indeterminate text="Preparing Files" />
      </div>
    </su-segment>
  </su-segment>

  <su-header element="h4">Active</su-header>
  <div>
    로더는 활동상태나 가시 상태가 될 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <su-loader active />
    </su-segment>
  </su-segment>

  <su-header element="h4">Disabled</su-header>
  <div>
    로더는 비활동상태나 비가시 상태가 될 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <su-loader disabled />
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
