<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Types</su-header>

  <su-header element="h4">Loader</su-header>
  <div>
    로더입니다
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <div class="ui active dimmer">
        <su-loader />
      </div>
    </su-segment>
  </su-segment>

  <su-header element="h4">Text Loader</su-header>
  <div>
    로더는 텍스트를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <div class="ui active dimmer">
        <su-loader text="Loading" />
      </div>
    </su-segment>

    <su-segment>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" />
      </div>
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
