<template>
<su-segment basic id="example">
  <su-header dividing element="h2">Variations</su-header>

  <su-header element="h4">Inline</su-header>
  <div>
    로더는 컨텐츠 내부에서 나타날 수 있습니다.
  </div>
  <su-segment basic>
    <su-loader active inline />
  </su-segment>

  <su-header element="h4">Inline Center</su-header>
  <div>
    로더가 컨텐츠 내부 중앙에 나타날 수 있습니다.
  </div>
  <su-segment basic>
    <su-loader active inline="centered" />
  </su-segment>

  <su-header element="h4">Size</su-header>
  <div>
    로더는 다양한 크기를 가질 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading"  size="mini" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="tiny" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="small" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="medium" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="large" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="big" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="huge" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="massive" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
  </su-segment>

  <su-header element="h4">Inverted</su-header>
  <div>
    로더는 색상 반전이 가능합니다.
  </div>
  <su-segment basic>
    <su-segment inverted>
      <su-loader active inverted />
      <br>
      <br>
      <br>
      <br>
    </su-segment>

    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading"  size="mini" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="small" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="medium" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
    <su-segment>
      <div class="ui active inverted dimmer">
        <su-loader text="Loading" size="large" />
      </div>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </p>
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
