<template>
<su-segment>
  <h4>Groups</h4>

  <div class="ui divider"></div>

  <strong>Segments</strong>
  <div>
    그룹 안의 세그먼트는 함께 표시될 수 있도록 지정할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment-group>
      <su-segment>
        <p>Top</p>
      </su-segment>
      <su-segment>
        <p>Middle</p>
      </su-segment>
      <su-segment>
        <p>Middle</p>
      </su-segment>
      <su-segment>
        <p>Middle</p>
      </su-segment>
      <su-segment>
        <p>Bottom</p>
      </su-segment>
    </su-segment-group>

    <su-segment-group>
      <su-segment>
        <p>Top</p>
      </su-segment>
      <su-segment color="red">
        <p>Middle</p>
      </su-segment>
      <su-segment color="blue">
        <p>Middle</p>
      </su-segment>
      <su-segment color="green">
        <p>Middle</p>
      </su-segment>
      <su-segment color="yellow">
        <p>Bottom</p>
      </su-segment>
    </su-segment-group>

    <su-segment-group>
      <su-segment>
        <p>Top</p>
      </su-segment>
      <su-segment secondary>
        <p>Secondary Content</p>
      </su-segment>
    </su-segment-group>

    <su-segment-group>
      <su-segment>
        <p>Top</p>
      </su-segment>
      <su-segment-group>
        <su-segment>
          <p>Nested Top</p>
        </su-segment>
        <su-segment>
          <p>Nested Middle</p>
        </su-segment>
        <su-segment>
          <p>Nested Bottom</p>
        </su-segment>
      </su-segment-group>
      <su-segment>
        <p>Middle</p>
      </su-segment>
      <su-segment-group horizontal>
        <su-segment>
          <p>Top</p>
        </su-segment>
        <su-segment>
          <p>Middle</p>
        </su-segment>
        <su-segment>
          <p>Bottom</p>
        </su-segment>
      </su-segment-group>
      <su-segment>
        <p>Bottom</p>
      </su-segment>
    </su-segment-group>
  </su-segment>

  <strong>Horizontal Segments</strong>
  <div>
    그룹 안의 세그먼트는 수평으로 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment-group horizontal>
      <su-segment>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </su-segment>
      <su-segment>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </su-segment>
      <su-segment>
        <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
      </su-segment>
    </su-segment-group>
  </su-segment>

  <strong>Raised Segments</strong>
  <div>
    그룹 안의 세그먼트는 떠오르도록 나타낼 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment-group raised>
      <su-segment>
        Top
      </su-segment>
      <su-segment>
        Middle
      </su-segment>
      <su-segment>
        Bottom
      </su-segment>
    </su-segment-group>
  </su-segment>

  <strong>Stacked Segments</strong>
  <div>
    그룹 안의 세그먼트는 쌓여있도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment-group stacked>
      <su-segment>
        Top
      </su-segment>
      <su-segment>
        Middle
      </su-segment>
      <su-segment>
        Bottom
      </su-segment>
    </su-segment-group>
  </su-segment>

  <strong>Piled Segments</strong>
  <div>
    그룹 안의 세그먼트는 모여 있도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment-group piled>
      <su-segment>
        Top
      </su-segment>
      <su-segment>
        Middle
      </su-segment>
      <su-segment>
        Bottom
      </su-segment>
    </su-segment-group>
  </su-segment>

</su-segment>
</template>

<script>
export default { name: 'Groups' }
</script>
