<template>
<section>
  <h2>Segment</h2>
  세그먼트는 관련이 있는 컨텐츠의 그룹을 생성할 때 사용합니다.

  <div class="ui divider"></div>

  <Types />
  <Groups />
  <Content />
  <States />
  <Variations />
  <!-- <GroupVariations /> -->

</section>
</template>

<script>
import Types from './Types.vue'
import Groups from './Groups.vue'
import States from './States.vue'
import Variations from './Variations.vue'
// import GroupVariations from './GroupVariations.vue'

export default {
  name: 'DemoSegment',

  components: {
    Types,
    Groups,
    States,
    Variations,
    // GroupVariations,
  },
}
</script>

