<template>
<su-segment>
  <h4>States</h4>

  <div class="ui divider"></div>

  <strong>Disabled</strong>
  <div>
    세그먼트의 컨텐츠가 작동할 수 없도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment disabled>
      <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
    </su-segment>
  </su-segment>

  <strong>Loading</strong>
  <div>
    세그먼트의 컨텐츠가 로딩되는 것 처럼 보이도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment loading>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
      </p>
      <p>
        <su-image src="https://semantic-ui.com/images/wireframe/paragraph.png" />
      </p>
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default { name: 'States' }
</script>
