<template>
<su-segment>
  <h4>Types</h4>

  <div class="ui divider"></div>

  <strong>Segment</strong>
  <div>
    기본 세그먼트
  </div>
  <su-segment basic>
    <su-segment>
      <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png"/>
    </su-segment>
  </su-segment>

  <strong>Raised</strong>
  <div>
    페이지 위에 떠 있는 듯한 효과
  </div>
  <su-segment basic>
    <su-segment raised>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </su-segment>
  </su-segment>

  <strong>Stacked</strong>
  <div>
    페이지가 여러 개 있는 듯한 효과
  </div>
  <su-segment basic>
    <su-segment stacked>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </su-segment>

    <su-segment stacked="tall">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </su-segment>
  </su-segment>

  <strong>Piled</strong>
  <div>
    페이지의 모여있는 것 처럼 보이도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui ignored warning message">
      Piled segments use <b>negative z-index</b> to format the additional pages below the segment. In order for them to appear correctly, your segment's offset container must have a z-index declared.
    </div>

    <su-segment piled>
      <h4 class="ui header">A header</h4>
      <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
      <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
      <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
    </su-segment>
  </su-segment>

  <strong>Vertical Segment</strong>
  <div>
    세로 그룹의 일부분으로 정렬할 컨텐츠의 형식을 지정합니다.
  </div>
  <su-segment basic>
    <su-segment vertical>
      <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
    </su-segment>
    <su-segment vertical>
      <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
    </su-segment>
    <su-segment vertical>
      <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default { name: 'Types' }
</script>
