<template>
<su-segment>
  <h4>Variations</h4>

  <div class="ui divider"></div>

  <strong>Inverted</strong>
  <div>
    세그먼트의 대비되도록 색상을 반전시킬 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment inverted>
      <p>I'm here to tell you something, and you will probably read me first.</p>
    </su-segment>
  </su-segment>

  <strong>Attached</strong>
  <div>
    세그먼트가 다른 컨텐츠에 달라 붙도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui ignored info message">
      <p>Attached segments are designed to be used with other <code>attached</code> variations like <a href="/elements/header.html#attached">attached header</a> or <a href="/collections/message.html#attached">attached messages</a>.</p>
    </div>
    <su-segment attached="top">
      <p>This segment is on top</p>
    </su-segment>
    <su-segment attached>
      <p>This segment is attached on both sides</p>
    </su-segment>
    <su-segment attached="bottom">
      <p>This segment is on bottom</p>
    </su-segment>

    <div class="ui divider"></div>

    <h5 class="ui top attached header">
      Dogs
    </h5>
    <su-segment attached>
      <p>Dogs are one type of animal</p>
    </su-segment>
    <h5 class="ui attached header">
      Cats
    </h5>
    <su-segment attached>
      <p>Cats are thought of as being related to dogs, but only humans think this.</p>
    </su-segment>
    <h5 class="ui attached header">
      Lions
    </h5>
    <su-segment attached>
      <p>Humans don't think of lions as being like cats, but they are.</p>
    </su-segment>
    <div class="ui bottom attached warning message">
      <i class="warning icon"></i>
      You've reached the end of this content segment!
    </div>
  </su-segment>

  <strong>Padded</strong>
  <div>
    세그먼트가 더 많은 안 쪽 여백을 갖도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment padded>
      <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
    </su-segment>

    <su-segment padded="very">
      <su-image src="https://semantic-ui.com/images/wireframe/short-paragraph.png" />
    </su-segment>
  </su-segment>

  <strong>Compact</strong>
  <div>
    세그먼트가 필요한 공간만큼만 가지도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment compact>
      <p>Pellentesque habitant morbi</p>
    </su-segment>

    <su-segment-group compact>
      <su-segment>
        <p>Pellentesque habitant morbi</p>
      </su-segment>
      <su-segment>
        <p>Pellentesque habitant morbi</p>
      </su-segment>
    </su-segment-group>
  </su-segment>

  <strong>Colored</strong>
  <div>
    세그먼트는 색상을 띌 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment color="red">Red</su-segment>
    <su-segment color="orange">Orange</su-segment>
    <su-segment color="yellow">Yellow</su-segment>
    <su-segment color="olive">Olive</su-segment>
    <su-segment color="green">Green</su-segment>
    <su-segment color="teal">Teal</su-segment>
    <su-segment color="blue">Blue</su-segment>
    <su-segment color="violet">Violet</su-segment>
    <su-segment color="purple">Purple</su-segment>
    <su-segment color="pink">Pink</su-segment>
    <su-segment color="brown">Brown</su-segment>
    <su-segment color="grey">Grey</su-segment>
    <su-segment color="black">Black</su-segment>

    <div class="ui divider"></div>
    <div>반전된 색상도 마찬가지 입니다.</div>

    <su-segment inverted color="red">Red</su-segment>
    <su-segment inverted color="orange">Orange</su-segment>
    <su-segment inverted color="yellow">Yellow</su-segment>
    <su-segment inverted color="olive">Olive</su-segment>
    <su-segment inverted color="green">Green</su-segment>
    <su-segment inverted color="teal">Teal</su-segment>
    <su-segment inverted color="blue">Blue</su-segment>
    <su-segment inverted color="violet">Violet</su-segment>
    <su-segment inverted color="purple">Purple</su-segment>
    <su-segment inverted color="pink">Pink</su-segment>
    <su-segment inverted color="brown">Brown</su-segment>
    <su-segment inverted color="grey">Grey</su-segment>
    <su-segment inverted color="black">Black</su-segment>
  </su-segment>

  <strong>Emphasis</strong>
  <div>
    세그먼트를 더 눈에 띄거나 덜 눈에 띄도록 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment>
      <p>I'm here to tell you something, and you will probably read me first.</p>
    </su-segment>
    <su-segment secondary>
      <p>I am pretty noticeable but you might check out other content before you look at me.</p>
    </su-segment>
    <su-segment tertiary>
      <p>If you notice me you must be looking very hard.</p>
    </su-segment>

    <div class="ui divider"></div>
    <div>반전이어도 가능합니다.</div>

    <su-segment inverted>
      <p>I'm here to tell you something, and you will probably read me first.</p>
    </su-segment>
    <su-segment inverted secondary>
      <p>I am pretty noticeable but you might check out other content before you look at me.</p>
    </su-segment>
    <su-segment inverted tertiary>
      <p>If you notice me you must be looking very hard.</p>
    </su-segment>

    <su-segment inverted color="red">
      <p>I'm here to tell you something, and you will probably read me first.</p>
    </su-segment>
    <su-segment inverted secondary color="red">
      <p>I am pretty noticeable but you might check out other content before you look at me.</p>
    </su-segment>
    <su-segment inverted tertiary color="red">
      <p>If you notice me you must be looking very hard.</p>
    </su-segment>
  </su-segment>

  <strong>Circular</strong>
  <div>
    세그먼트는 원 모양이 될 수 있습니다.
  </div>
  <su-segment basic>
    <div class="ui ignored info message">A circular segment will most likely have to have its content manually sized to be equal width and height, otherwise it will flow to the size of your content</div>
    <su-segment circular style="width:175px; height: 175px;">
      <h2 class="ui header">
        Buy Now
        <div class="sub header">$10.99</div>
      </h2>
    </su-segment>
    <su-segment inverted circular style="width:175px; height: 175px;">
      <h2 class="ui inverted header">
        Buy Now
        <div class="sub header">$10.99</div>
      </h2>
    </su-segment>
  </su-segment>

  <strong>Clearing</strong>
  <div>
    세그먼트는 정렬된 컨텐츠를 초기화 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment clearing>
      <su-button floated="right">Floated</su-button>
    </su-segment>
  </su-segment>

  <strong>Floated</strong>
  <div>
    세그먼트는 다른 컨텐츠의 왼쪽 혹은 오른쪽에 나타나게 할 수 있습니다.
  </div>
  <su-segment basic clearing>
    <su-segment floated="right">
      This segment will appear to the right
    </su-segment>
    <su-segment floated="left">
      This segment will appear to the left
    </su-segment>
  </su-segment>

  <strong>Text Alignment</strong>
  <div>
    세그먼트의 텍스트 정렬을 양옆으로 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-segment aligned="left">
      Left
    </su-segment>
    <su-segment aligned="center">
      Center
    </su-segment>
    <su-segment aligned="right">
      Right
    </su-segment>
  </su-segment>

  <strong>Basic</strong>
  <div>
    기본 세그먼트는 특별한 형태를 가지고 있지 않습니다.
  </div>
  <su-segment basic>
    <su-segment basic>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </su-segment>
  </su-segment>

</su-segment>
</template>

<script>
export default { name: 'Variations' }
</script>
