<template>
<section>
  <su-header tag="h1">
    Message
    <su-header sub>
      A message displays information that explains nearby content
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <States />
  <Variations />

</section>
</template>

<script>
import Types from './Types.vue'
import States from './States.vue'
import Variations from './Variations.vue'


export default {
  name: 'DemoMessage',

  components: {
    Types,
    States,
    Variations
  },
}
</script>

