1<template>
<su-segment basic id="example">
  <su-header tag="h2">States</su-header>

  <su-divider />

  <su-header tag="h4">Hidden</su-header>
  <div>
    A message can be hidden
  </div>
  <su-segment basic>
    <su-message hidden>
      <p>You can't see me</p>
    </su-message>
  </su-segment>

  <su-header tag="h4">Visible</su-header>
  <div>
    A message can be set to visible to force itself to be shown.
  </div>
  <su-segment basic>
    <su-message visible>
      <p>You can always see me</p>
    </su-message>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
