1<template>
<su-segment basic id="example">
  <su-header tag="h2">Types</su-header>

  <su-divider />

  <su-header tag="h4">Message</su-header>
  <div>
    A basic message
  </div>
  <su-segment basic>
    <su-message>
      <su-header>Changes in Service</su-header>
      <p>We just updated our privacy policy here to better service our customers. We recommend reviewing the changes.</p>
    </su-message>
  </su-segment>

  <su-header tag="h4">List Message</su-header>
  <div>
    A message with a list
  </div>
  <su-segment basic>
    <su-message>
      <su-header>New Site Features</su-header>
      <su-list tag="ul">
        <su-item>You can now have cover images on blog pages</su-item>
        <su-item>Drafts will now auto-save while writing</su-item>
      </su-list>
    </su-message>
  </su-segment>

  <su-header tag="h4">Icon Message <su-label color="teal">Flexbox</su-label></su-header>
  <div>
    A message can contain an icon.
  </div>
  <su-segment basic>
    <su-message icon="inbox">
      <su-content>
        <su-header>
          Have you heard about our mailing list?
        </su-header>
        <p>Get the best news in your e-mail every day.</p>
      </su-content>
    </su-message>

    <su-divider hidden></su-divider>

    <su-message icon="notched circle loading">
      <su-content>
        <su-header>
          Just one second
        </su-header>
        <p>We're fetching that content for you.</p>
      </su-content>
    </su-message>
  </su-segment>

  <su-header tag="h4">Dismissable Block</su-header>
  <div>
    A message that the user can choose to hide
  </div>
  <su-segment basic>
    <su-message close>
      <su-header>
        Welcome back!
      </su-header>
      <p>This is a special notification which you can dismiss if you're bored with it.</p>
    </su-message>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
