1<template>
<su-segment basic id="example">
  <su-header tag="h2">Variations</su-header>

  <su-divider />

  <su-header tag="h4">Floating</su-header>
  <div>
    A message can float above content that it is related to
  </div>
  <su-segment basic>
    <su-message floating>
      <p>Way to go!</p>
    </su-message>
  </su-segment>

  <su-header tag="h4">Compact</su-header>
  <div>
    A message can only take up the width of its content.
  </div>
  <su-segment basic>
    <su-message compact>
      <p>Get all the best inventions in your e-mail every day. Sign up now!</p>
    </su-message>
  </su-segment>

  <su-header tag="h4">Attached</su-header>
  <div>
    A message can be formatted to attach itself to other content
  </div>
  <su-segment basic>
    <su-message attached>
      <su-header>Welcome to our site!</su-header>
      <p>Fill out the form below to sign-up for a new account</p>
    </su-message>
    <su-form :segment="{ attached: true }">
      <su-fields column="2">
        <su-field label="First Name">
          <su-input placeholder="First Name" type="text" />
        </su-field>
        <su-field label="Last Name">
          <su-input placeholder="Last Name" type="text" />
        </su-field>
      </su-fields>
      <su-field label="Username">
        <su-input placeholder="Username" type="text" />
      </su-field>
      <su-field label="Password">
        <su-input type="password" />
      </su-field>
      <su-field inline>
        <su-checkbox label="I agree to the terms and conditions" />
      </su-field>
      <su-button color="blue">Submit</su-button>
    </su-form>
    <su-message warning attached="bottom">
      <su-icon name="help" />
      Already signed up? <a href="#">Login here</a> instead.
    </su-message>
  </su-segment>

  <su-header tag="h4">Waring</su-header>
  <div>
    A message may be formatted to display warning messages.
  </div>
  <su-segment basic>
    <su-message warning close>
      <su-header>
        You must register before you can do that!
      </su-header>
      <p>Visit our registration page, then try again</p>
    </su-message>
  </su-segment>

  <su-header tag="h4">Info</su-header>
  <div>
    A message may be formatted to display information.
  </div>
  <su-segment basic>
    <su-message info close>
      <su-header>
        Was this what you wanted?
      </su-header>
      <su-list tag="ul">
        <su-item>It's good to see you again.</su-item>
        <su-item>Did you know it's been a while?</su-item>
      </su-list>
    </su-message>
  </su-segment>

  <su-header tag="h4">Positive / Success</su-header>
  <div>
    A message may be formatted to display a positive message.
  </div>
  <b class="ignored">
    <su-icon name="attention" />
    Positive/Success and Negative/Error messages by default use similar colors, but each has their own color  variables that can be distinguished in your theme.
  </b>
  <su-segment basic>
    <su-message positive close>
      <su-header>
        You are eligible for a reward
      </su-header>
      <p>Go to your <b>special offers</b> page to see now.</p>
    </su-message>

    <su-divider hidden />

    <su-message success close>
      <su-header>
        Your user registration was successful.
      </su-header>
      <p>You may now log-in with the username you have chosen</p>
    </su-message>
  </su-segment>

  <su-header tag="h4">Nagative / Error</su-header>
  <div>
    A message may be formatted to display a negative message.
  </div>
  <su-segment basic>
    <su-message negative close>
      <su-header>
        We're sorry we can't apply that discount
      </su-header>
      <p>That offer has expired</p>
    </su-message>

    <su-divider hidden />

    <su-message error close>
      <su-header>
        There were some errors with your submission
      </su-header>
      <su-list tag="ul">
        <su-item>You must include both a upper and lower case letters in your password.</su-item>
        <su-item>You need to select your home country.</su-item>
      </su-list>
    </su-message>
  </su-segment>

  <su-header tag="h4">Colored</su-header>
  <div>
    A message can be formatted to be different colors
  </div>
  <su-segment basic>
    <su-message color="red">Red</su-message>
    <su-message color="orange">Orange</su-message>
    <su-message color="yellow">Yellow</su-message>
    <su-message color="olive">Olive</su-message>
    <su-message color="green">Green</su-message>
    <su-message color="teal">Teal</su-message>
    <su-message color="blue">Blue</su-message>
    <su-message color="violet">Violet</su-message>
    <su-message color="purple">Purple</su-message>
    <su-message color="pink">Pink</su-message>
    <su-message color="brown">Brown</su-message>
    <su-message color="black">Black</su-message>
  </su-segment>

  <su-header tag="h4">Size</su-header>
  <div>
    A message can be formatted to be different colors
  </div>
  <su-segment basic>
    <su-message size="mini">
      This is a mini message.
    </su-message>
    <su-message size="tiny">
      This is a tiny message.
    </su-message>
    <su-message size="small">
      This is a small message.
    </su-message>
    <su-message size="large">
      This is large
    </su-message>
    <su-message size="big">
      This is big
    </su-message>
    <su-message size="huge">
      This is huge
    </su-message>
    <su-message size="massive">
      This is massive
    </su-message>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
