<template>
<su-segment basic id="example">
  <h4>Content</h4>

  <su-divider />

  <su-header element="h4">Divider</su-header>
  <div>
    breadcrumb는 섹션 사이에 관계성을 보여주기 위해서 아이콘 혹은 텍스트로 형식으로 나타낼 수 있는 구분자를 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-breadcrumb>
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>Personal Information</su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb>
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider icon="right arrow" />
      <su-breadcrumb-section active>Personal Information</su-breadcrumb-section>
    </su-breadcrumb>
  </su-segment>

  <su-header element="h4">Section</su-header>
  <div>
    breadcrumb는 링크 혹은 텍스트로 형식으로 나타낼 수 있는 섹션을 포함할 수 있습니다.
  </div>
  <su-segment basic>
    <su-breadcrumb>
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>Search</su-breadcrumb-section>
    </su-breadcrumb>
  </su-segment>

  <su-header element="h4">Link</su-header>
  <div>
    섹션은 링크가 가능하거나 링크를 포함하고 있습니다.
  </div>
  <su-segment basic>
    <su-breadcrumb>
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Search for: <a href="#">paper towels</a>
      </su-breadcrumb-section>
    </su-breadcrumb>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Content'
}
</script>
