<template>
<section>
  <su-header element="h1">
    Breadcrumb
    <su-header sub>
      breadcrumb 는 컨텐츠 사이를 계층구조로 나타냅니다.
    </su-header>
  </su-header>

  <su-divider></su-divider>

  <Types />
  <Content />
  <States />
  <Variations />
</section>
</template>

<script>
import Types from './Types'
import Content from './Content'
import States from './States'
import Variations from './Variations'

export default {
  name: 'DemoBreadcrumb',

  components: {
    Types,
    Content,
    States,
    Variations
  }
}
</script>
