<template>
<su-segment basic id="example">
  <h4>States</h4>

  <su-divider />

  <su-header element="h4">Active</su-header>
  <div>
    섹션을 활성 상태로 할 수 있습니다.
  </div>
  <su-segment basic>
    <su-breadcrumb>
      <su-breadcrumb-section>Products</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Paper Towels
      </su-breadcrumb-section>
    </su-breadcrumb>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'States'
}
</script>
