<template>
<su-segment basic id="example">
  <h4>Types</h4>

  <su-divider />

  <su-header element="h4">Breadcrumb</su-header>
  <div>
    기본 Breadcrumb
  </div>
  <su-segment basic>
    <su-breadcrumb>
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Store</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>T-Shirt</su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb>
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider icon="right angle" />
      <su-breadcrumb-section>Store</su-breadcrumb-section>
      <su-breadcrumb-divider icon="right angle" />
      <su-breadcrumb-section active>T-Shirt</su-breadcrumb-section>
    </su-breadcrumb>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Types'
}
</script>
