<template>
<su-segment basic id="example">
  <h4>Variations</h4>

  <su-divider />

  <su-header element="h4">Size</su-header>
  <div>
    다양한 크기로 사용할 수 있습니다.
  </div>
  <su-segment basic>
    <su-breadcrumb size="mini">
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Personal Information
      </su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb size="tiny">
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Personal Information
      </su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb size="small">
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Personal Information
      </su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb size="large">
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Personal Information
      </su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb size="big">
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Personal Information
      </su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb size="huge">
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Personal Information
      </su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>

    <su-breadcrumb size="massive">
      <su-breadcrumb-section>Home</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section>Registration</su-breadcrumb-section>
      <su-breadcrumb-divider> / </su-breadcrumb-divider>
      <su-breadcrumb-section active>
        Personal Information
      </su-breadcrumb-section>
    </su-breadcrumb>

    <su-divider hidden></su-divider>
  </su-segment>

</su-segment>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
