<template>
<section>
  <h2>Tab</h2>

  <div class="ui divider"></div>

  <su-tab class="top attached tabular">
    <a class="active item" data-tab="first">First</a>
    <a class="item" data-tab="second">Second</a>
    <a class="item" data-tab="third">Third</a>
    <div class="ui bottom attached active tab segment" data-tab="first">
      First
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      Third
    </div>
  </su-tab>

</section>
</template>

<script>
export default {
  name: 'DemoTab',

  components: {
  },
}
</script>

