<template>
<div class="ui segment">
  <h4>Groups</h4>
  <div class="ui divider"></div>

  <strong>Size</strong>
  <div>A group of images can be formatted to have the same size.</div>
  <div class="ui segment basic">
    <su-image-group size="tiny">
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
    </su-image-group>
  </div>

  <div class="ui segment basic">
    <su-image-group size="small">
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
      <su-image src="https://semantic-ui.com/images/wireframe/image.png" />
    </su-image-group>
  </div>
</div>
</template>

<script>
export default {
  name: 'Groups'
}
</script>
