<template>
<section>
  <h2>Image</h2>
  An image is a graphic representation of something

  <div class="ui divider"></div>

  <Types />
  <States />
  <Variations />
  <Groups />

</section>
</template>

<script>
import Types from './Types.vue'
import States from './States.vue'
import Variations from './Variations.vue'
import Groups from './Groups.vue'

export default {
  name: 'DemoImage',

  components: {
    Types,
    States,
    Variations,
    Groups,
  },
}
</script>

