<template>
<div class="ui segment">
  <h4>States</h4>
  <div class="ui divider"></div>

  <strong>Hidden</strong>
  <div>An image can be hidden</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      hidden
    />
  </div>

  <strong>Disabled</strong>
  <div>An image can show that it is disabled and cannot be selected</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="medium"
      disabled
    />
  </div>
</div>
</template>

<script>
export default {
  name: 'States'
}
</script>
