<template>
<div class="ui segment">
  <h4>Types</h4>
  <div class="ui divider"></div>

  <strong>Image</strong>
  <div>An image</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="small"
    />

    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="small"
      :svg="{
        width: 150,
        height: 150,
        image: {
          x: 0,
          y: 0,
          width: '100%',
          height: '100%',
        }
      }"
    />
  </div>

  <strong>Image Link</strong>
  <div>An image can be formatted to link to other content</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/image-text.png"
      link="http://google.com"
      size="medium"
    />
  </div>
</div>
</template>

<script>
export default {
  name: 'Types'
}
</script>
