<template>
<div class="ui segment">
  <h4>Variations</h4>
  <div class="ui divider"></div>

  <strong>Avatar</strong>
  <div>An image may be formatted to appear inline with text as an avatar</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/square-image.png"
      avatar
    />
    <span>Username</span>
  </div>

  <strong>Bordered</strong>
  <div>An image may include a border to emphasize the edges of white or transparent content</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/white-image.png"
      size="medium"
      bordered
    />
  </div>

  <strong>Fluid</strong>
  <div>An image can take up the width of its container</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      fluid
    />
  </div>

  <strong>Rounded</strong>
  <div>An image may appear rounded</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="medium"
      rounded
    />
  </div>

  <strong>Circular</strong>
  <div>An image may appear circular</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/square-image.png"
      size="medium"
      circular
    />
  </div>

  <strong>Vertically Aligned</strong>
  <div>An image can specify its vertical alignment</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/square-image.png"
      aligned="top"
      size="tiny"
    />
    <span>Top Aligned</span>
    <div class="ui divider"></div>
    <su-image
      src="https://semantic-ui.com/images/wireframe/square-image.png"
      aligned="middle"
      size="tiny"
    />
    <span>Middle Aligned</span>
    <div class="ui divider"></div>
    <su-image
      src="https://semantic-ui.com/images/wireframe/square-image.png"
      aligned="bottom"
      size="tiny"
    />
    <span>Bottom Aligned</span>
  </div>

  <strong>Centered</strong>
  <div>An image can appear centered in a content block</div>
  <div class="ui segment basic">
    <div class="ui segment">
      <su-image
        src="https://semantic-ui.com/images/wireframe/image.png"
        size="medium"
        centered
      />
      <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
      <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
      <su-image
        src="https://semantic-ui.com/images/wireframe/text-image.png"
        size="small"
        centered
      />
      <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
    </div>
  </div>

  <strong>Spaced</strong>
  <div>An image can specify that it needs an additional spacing to separate it from nearby content</div>
  <div class="ui segment basic">
    <div class="ui segment">
      <p>
        Te eum doming eirmod, nominati pertinacia
        <su-image
          src="https://semantic-ui.com/images/wireframe/image.png"
          size="mini"
          spaced
        />
        argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.
      </p>

      <p>
        <su-image
          src="https://semantic-ui.com/images/wireframe/image.png"
          size="mini"
          spaced="right"
        />
        Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.
      </p>
      <p>
        Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.
        <su-image
          src="https://semantic-ui.com/images/wireframe/image.png"
          size="mini"
          spaced="left"
        />
      </p>
    </div>
  </div>

  <strong>Floated</strong>
  <div>An image can sit to the left or right of other content</div>
  <div class="ui segment basic">
    <div class="ui segment">
      <su-image
        src="https://semantic-ui.com/images/wireframe/text-image.png"
        size="small"
        floated="left"
      />
      <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
      <su-image
        src="https://semantic-ui.com/images/wireframe/text-image.png"
        size="small"
        floated="right"
      />
      <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
      <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
    </div>
  </div>

  <strong>Size</strong>
  <div>An image may appear at diffrent sizes</div>
  <div class="ui segment basic">
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="mini"
    />
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="tiny"
    />
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="small"
    />
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="medium"
    />
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="large"
    />
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="big"
    />
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="huge"
    />
    <su-image
      src="https://semantic-ui.com/images/wireframe/image.png"
      size="massive"
    />
  </div>
</div>
</template>

<script>
export default {
  name: 'Variations'
}
</script>
