<template>
<div id="app">
  <router-view />
</div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
#app {
  padding-top: 46px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2.ui.dividing.header {
  margin: 5rem 0 0;
}

h1.ui.header + .ui.divider + #example h2.ui.dividing.header {
  margin-top: 0;
}

#example {
  padding-left: 0;
  padding-right: 0;
}

#example > h4.ui.header {
  margin-top: 28px;
  margin-bottom: 0;
  padding-top: 28px;
  font-size: 18px;
}

#example > h4.ui.header + div {
  margin-bottom: 1em;
  padding-bottom: 1em;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

#example > h4.ui.header + div ~ .ui.message {
  max-width: 700px;
}

code {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  display: inline-block;
  font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
  font-size: 0.875em;
  font-weight: bold;
  padding: 1px 6px;
  vertical-align: baseline;
}

code.javascript {
  background: none;
  font-weight: 100;
  font-size: 1em;
}

code.javascript span.string {
  color: #007b6b;
}

code.javascript span.comment {
  font-style: italic;
  color: #AAAAAA;
}

code.javascript span.this {
  color: #ff8800;
}
</style>
